{% extends "layout.html" %} {% block page_title %} Local land charge {% endblock %} {% block content %}
<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">Changes saved</h1>
				<p>Charge ID <br> <strong class="heading-medium">LLC-7CLZU</strong></p>
				<p>Keep this ID to help you find the charge again.</p>
			</div>
			<p><a href="planning">View the updated charge</a></p>
		</div>
	</div>

</main>
{% endblock %}