{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Register a <span class="charge_type"></span> charge</h1>
      <h2 class="heading-medium">Legislation</h2>
      <div class="ui-widget">
        <label class="form-label" for="tags">
          Legislation 
          <span class="form-hint">Start typing the legislation you are looking for and select it from the list</span>
        </label>
        <input class="form-control" id="tags" type="text">
        <p>
          <a class="button legislation_button" href="register_31-where-search.html" role="button">Continue</a>
        </p>
      </div>
    </div>
  </div>

</main>
<script>
  chargeType = sessionStorage.getItem("chargeType");
  chargeType = chargeType.toLowerCase();
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    var availableTags = [
    "Highways Act 1980",
    "Local Acts (various)",
    "Local Land Charges Act 1975",
    "Coast Protection Act 1949"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>



{% endblock %}
