{% extends "layout_lr.html" %}

{% block page_title %}
  Register a local land charge
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-large">Register a local land charge </h1>
          <h2 class="heading-medium">What does the local land charge relate to?</h2>
          <form action="/llc-03/register-1" method="POST">
            <fieldset>
              <div class="form-group">
                <legend class="visuallyhidden">What does the local land charge relate to?</legend>

                <label class="block-label" for="radio-inline-1">
                  <input id="radio-inline-1" type="radio" name="charge_type" value="planning">
                  Planning
                </label>
                <label class="block-label" for="radio-inline-2">
                  <input id="radio-inline-2" type="radio" name="charge_type" value="miscellaneous">
                  Miscellaneous
                </label>
                <label class="block-label" for="radio-inline-3">
                  <input id="radio-inline-3" type="radio" name="charge_type" value="listed building">
                  Listed building
                </label>
              </div>
            </fieldset>

            <input class="button" type="submit" value="Continue">
        </form>
        </div>
      </div>

</main>

{% endblock %}
