{% extends "layout.html" %}

{% block page_title %}
Additional information
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Additional information</h1>
			<h2 class="heading-medium">How to find more information about the charge</h2>

			<span class="form-hint">
				For example:
				<ul class="list list-bullet">
					<li>contact details for someone who can answer questions</li>
					<li>address of a building where documents are filed</li>
					<li>website, for example a link to your planning portal</li>
				</ul>
			</span>

			<form action="07_reason.html" method="GET">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">How to find more information about the charge</legend>
						<div class="form-group">
							<textarea class="form-control" id="more-information" name="more_information" cols="50" rows="10" value=""></textarea>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<label class="form-label" for="doc_ref">Reference (legal document that created the charge)</label>
					<span class="form-hint">For example, ‘Tree Preservation Order XXX123456’.</span>
					<input class="form-control" id="doc_ref" name="doc_ref" type="text">
				</div>
				<a class="button additional-information-button" href="07_document" role="button">Continue</a>
			</form>
		</div>
	</div>
</main>

{% endblock %}


