{% extends "layout.html" %} {% block page_title %} Does the charge expire? {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Does the charge expire?</h1>
            <form action="05_postcode" method="GET">
                <fieldset>
                    <legend class="visually-hidden form-label">Does the charge expire?</legend>

                    <div class="form-group">

                        <label id="yesExpiryLabel" class="block-label selection-button-radio no" for="yesExpiry" data-target="chargeExpires">
							<input id="yesExpiry" name="extent" type="radio" value="yes" aria-controls="chargeExpires">
							Yes
                        </label>
                        <div class="js-hidden panel panel-border-narrow" id="chargeExpires" aria-hidden="true" style="display: none;">

                            <fieldset>
                                <legend class="form-label-bold"></legend>
                                <span class="form-hint">For example, 31 3 2017</span>
                                <div class="form-date">
                                    <div class="form-group form-group-day">
                                        <label class="form-label" for="doc_day2">Day</label>
                                        <input class="form-control" id="doc_day2" name="doc_day2" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
                                    </div>
                                    <div class="form-group form-group-month">
                                        <label class="form-label" for="doc_month2">Month</label>
                                        <input class="form-control" id="doc_month2" name="doc_month2">
                                    </div>
                                    <div class="form-group form-group-year">
                                        <label class="form-label" for="doc_year2">Year</label>
                                        <input class="form-control" id="doc_year2" name="doc_year2" type="number" pattern="[0-9]*" min="0" max="2017">
                                    </div>
                                </div>
                            </fieldset><br>

                        </div>
                        <label id="noExpiryLabel" class="block-label selection-button-radio" for="noExpiry">
                            <input id="noExpiry" name="extent" type="radio" value="no"> No
                            </label>
                    </div>
                </fieldset>

            </form>




            <div class="form-group">
                <a id="expiryButton" class="button" href="who-can-answer-questions" role="button">Continue</a>

            </div>
            <div id="back">
                <a href="what-does-charge-do" class="back-link">Back</a>
            </div>

        </div>


        <!-- 		<div class="column-third related-container">

			<aside class="govuk-related-items" role="complementary">
				<hr>


			</aside>

		</div> -->

    </div>

</main>
<script>
    var locationDescriptionRetrieved = sessionStorage.getItem('locationDescription');
    console.log(locationDescriptionRetrieved);


    var expiryIsChanging = sessionStorage.getItem('expiryIsChanging');
    if (expiryIsChanging === 'true') {
        var expireDayToChange = sessionStorage.getItem('expireDayToChange');
        var expireMonthToChange = sessionStorage.getItem('expireMonthToChange');
        console.log(expireMonthToChange);
        var expireYearToChange = sessionStorage.getItem('expireYearToChange');
        document.getElementById('yesExpiryLabel').classList.add('selected');
        document.getElementById('doc_day2').value = expireDayToChange;
        document.getElementById('doc_month2').value = expireMonthToChange;
        document.getElementById('doc_year2').value = expireYearToChange;
        document.getElementById('expiryButton').setAttribute('href', 'charge-summary');
        sessionStorage.setItem('expiryUpdated', 'true');
    }

    document.getElementById('expiryButton').onclick = function() {
        var noExpiry = document.getElementById('noExpiryLabel');
        var yesExpiry = document.getElementById('yesExpiryLabel');
        if (noExpiry.classList.contains('selected')) {
            sessionStorage.setItem('chargeExpires', 'false');
        } else if (yesExpiry.classList.contains('selected')) {
            var docDay2 = document.getElementById('doc_day2').value;
            var docMonth2 = document.getElementById('doc_month2').value;
            switch (docMonth2) {
                case '1' || '01':
                    docMonth2 = 'January';
                    break;
                case '2' || '02':
                    docMonth2 = 'February';
                    break;
                case '3' || '03':
                    docMonth2 = 'March';
                    break;
                case '4' || '04':
                    docMonth2 = 'April';
                    break;
                case '5' || '05':
                    docMonth2 = 'May';
                    break;
                case '6' || '06':
                    docMonth2 = 'June';
                    break;
                case '7' || '07':
                    docMonth2 = 'July';
                    break;
                case '8' || '08':
                    docMonth2 = 'August';
                    break;
                case '9' || '09':
                    docMonth2 = 'September';
                    break;
                case '10':
                    docMonth2 = 'October';
                    break;
                case '11':
                    docMonth2 = 'November';
                    break;
                case '12':
                    docMonth2 = 'December';
                    break;
                default:
                    docMonth2;

            }
            var docYear2 = document.getElementById('doc_year2').value;
            sessionStorage.setItem('chargeExpires', 'true');
            sessionStorage.setItem('docDay2', docDay2);
            sessionStorage.setItem('docMonth2', docMonth2);
            sessionStorage.setItem('docYear2', docYear2);
        }
    }
</script>
{% endblock %}