{% extends "layout.html" %} {% block page_title %} Address confirm {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Address for this charge</h1>
            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="form-group" id="search-field">
                        <fieldset>
                            <legend class="visuallyhidden">Enter a postcode or address</legend>
                            <div class="form-group" id="postcodeSearch">
                                <h2 class="heading-medium">Enter a postcode</h2>
                                <input class="form-control search-field" id="search" name="search" type="text" autofocus="autofocus" value="">
                                <a id="findPostcode" class="button" href="#" role="button">Search</a>
                            </div>
                            <p id="manualAddressLink"><a href="#">Enter address manually</a></p>
                            <div class="form-group hiddenList" id="addressList">
                                <div class="results-block">
                                    <p>Click on the place you need.</p>
                                    <ol class="results-list address-list">
                                        <li><a href="does-charge-expire" class="address-list">2 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">3 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">4 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">6 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">8 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">10 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">12 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">14 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">16 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">18 Okehampton Place</a></li>
                                        <li><a href="does-charge-expire" class="address-list">20 Okehampton Place</a></li>
                                    </ol>

                                    <br>
                                    <p>Can't find the place you need? <a href="search-property">Zoom to a place on the map</a></p>
                                </div>

                            </div>
                            <div id="manualAddressEntry" class="hiddenList">
                                <div class="form-group">
                                    <label class="form-label" for="addressLineOne">Address Line 1</label>
                                    <input class="form-control" name="addressLineOne" type="text" id="addressLineOne">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="addressLineTwo">Address Line 2</label>
                                    <input class="form-control" name="addressLineTwo" type="text" id="addressLineTwo">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="addressLineThree">Address Line 3</label>
                                    <input class="form-control" name="addressLineThree" type="text" id="addressLineThree">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="town">Town</label>
                                    <input class="form-control" name="town" type="text" id="town">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="county">County (optional)</label>
                                    <input class="form-control" name="county" type="text" id="county">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="postcode">Postcode</label>
                                    <input class="form-control" name="postcode" type="text" id="postcode">
                                </div>
                                <p><a href="does-charge-expire" class="button">Continue</a></p>
                            </div>
                        </fieldset>
                    </div>

                </div>
            </div>
        </div>
    </div>



</main>
<script>
    document.getElementById('findPostcode').onclick = function() {
        document.getElementById('addressList').classList.remove('hiddenList');
        document.getElementById('manualAddressLink').classList.add('hiddenList');
        return false;
    };

    document.getElementById('manualAddressLink').onclick = function() {
        document.getElementById('search').value = '';
        document.getElementById('manualAddressEntry').classList.remove('hiddenList');
        document.getElementById('manualAddressLink').classList.add('hiddenList');
        document.getElementById('postcodeSearch').classList.add('hiddenList');
        return false;
    };
</script>
{% endblock %}