{% extends "layout.html" %}

{% block page_title %}
Add additional information about the charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Where should someone go to research this charge?</h1>

			<span>
				Help someone researching this charge by including:
				<ul class="list list-bullet">
					<li>contact details for someone who can answer questions</li>
					<li>the address for a building where documents are filed</li>
					<li>a website, for example a link to your planning portal</li>
				</ul>
			</span>

			<form action="07_reason.html" method="GET">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">How to find more information about the charge</legend>
						<div class="form-group">
							<textarea class="form-control" id="more-information" name="more_information" cols="50" rows="10" value=""></textarea>
						</div>
					</fieldset>
				</div>
				<a class="button additional-information-button" href="09_expiration" role="button">Continue</a>
			</form>
		</div>
	</div>
</main>

{% endblock %}


