{% macro backButton(page, admin) %}
	<div class="breadcrumbs">
		<ol>
			{% if page %}
			<a class="back-to-previous link-back" href={{page}}>Back
			{% endif %}
      <!-- the rest of this label is hidden, only used for screenreaders -->
      <span class="visuallyhidden"> to the previous page</span>
      </a>
			<a id="sign-out" href="sign_in" style="float:right">Sign out</a>
			{% if admin %}
			<a style="float:right; margin-right:10px;" id="account-management" href="search">{{admin}}</a>
			{% else %}
			<span style="float:right; margin-right:10px;">jane.doe@landregistry.gov.uk</span>
			{% endif %}
		</ol>
	</div>
{% endmacro %}