<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet">
{% if map_version == "v2" %}
<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
{% else %}
<link rel="stylesheet" href="https://openlayers.org/en/v3.0.0/css/ol.css" type="text/css">
{% endif %}
<link rel=stylesheet media="screen" type=text/css href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />