{% extends "layout.html" %}

{% block page_title %}
External LLC search
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-medium">
				Light Obstruction Notice
			</h1>
			<h2 class="heading-small"><a href="v1/who-applied">Version 1</a><br><code> Last updated 20/07/2017</code></h2>
			<ul class="list list-bullet">
				<li>Add &amp; vary journeys added</li>
			</ul>
		</div>
	</div>
</main>

{% endblock %}