{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation_lr_alpha.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">
<div class="phase-banner">
		<p>
		<strong class="phase-tag">alpha</strong>
		<span>This is a new service</span>
		</p>
	</div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">Register a local land charge</h1>
      <p>You can register a local land charge (LLC) online.</p>
      <p><a class="button button-start" href="sign_in" role="button">Start now</a></p>
    </div>
  </div>

</main>

{% endblock %}
