{% extends "layout.html" %}

{% block page_title %}
Charge is registered
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">The <span class="charge_type"></span> charge was registered</h1>
				<p>
					The charge ID is <br>
					<strong class="heading-medium">LLC-7CLZU</strong>
					Keep this Charge ID. You will need it find the charge again.
				</p>
			</div>
			<p><a href="charge_list_top">Register another local land charge</a></p>
		</div>
	</div>
</main>
{% endblock %}