{% extends "layout.html" %}

{% block page_title %}
Add more information about the location
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Does the charge expire?</h1>
			<form action="check.html" method="GET">
				<fieldset>
					<div class="form-group">
						<legend class="visually-hidden">Does the charge expire?</legend>
						<div class="form-group">
							<label class="block-label selection-button-radio" for="expiresYes" data-target="expires">
								<input id="expiresYes" name="expires" type="radio" value="yes">
								Yes
							</label>
							<label class="block-label selection-button-radio no" for="expiresNo">
								<input id="expiresNo" name="expires" type="radio" value="no">
								No
							</label>
						</div>
						<div class="js-hidden" id="expires">
							<div class="form-date">
								<h2 class="heading-xsmall">On a specific day</h2>
								<div class="form-group form-group-day">
									<label class="form-label" for="endDay">Day</label>
									<input class="form-control" id="endDay" name="endDay" type="number" pattern="[0-9]*" min="0" max="31" aria-describedby="dob-hint">
								</div>
								<div class="form-group form-group-month">
									<label class="form-label" for="endMonth">Month</label>
									<input class="form-control" id="endMonth" name="endMonth" type="number" pattern="[0-9]*" min="0" max="12">
								</div>
								<div class="form-group form-group-year">
									<label class="form-label" for="endYear">Year</label>
									<input class="form-control" id="endYear" name="endYear" type="number" pattern="[0-9]*" min="0" max="2016">
								</div>
							</div><br><br><br><br>
							<p class="form-block">or</p><br>
							<div class="form-block">
							<label class="form-label" for="expirationTerm" class="bold-xsmall">After a period of time</label>
							<span class="form-hint">For example, 5 years after building works start</span>
								<input class="form-control search-field" id="expirationTerm" name="expirationTerm" type="text" value="">
							</div>
						</div>

					</div>
				</fieldset>
				<p>
					<a class="button expiration-button" href="check" role="button">Continue</a>
				</p>
			</form>
		</div>
	</div>
</main>

{% endblock %}


