{% extends "layout.html" %}

{% block page_title %}
Local Land Charges
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-medium">
				Local Land Charges prototype version history
			</h1>
			<h2 class="heading-small"><a href="sign_in">Version 6</a></h2>
			<p>3 May 2017</p>
			<h2 class="heading-small"><a href="../llc-05/v5-1">Version 5</a></h2>
			<h2 class="heading-small"><a href="../llc-04-1/v4-1">Version 4.1</a></h2>
			<h2 class="heading-small"><a href="../llc-04/v4-1">Version 4</a></h2>
			<h2 class="heading-small"><a href="../llc-03/register/register_1-charge-type">Version 3</a></h2>
			<h2 class="heading-small"><a href="../llc-02/register/register_1-charge-type">Version 2</a></h2>
			<h2 class="heading-small"><a href="../llc-01/create/create_1-charge-type">Version 1</a></h2>
		</div>
	</div>
</main>

{% endblock %}


