{% extends "layout.html" %} {% block page_title %} Planning {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <a href="type-of-charge" class="link-back" style="margin-bottom:0">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large" style="margin-top:20px;">Confirm the law</h1>
            <p>We recommend you include the law. If you don't have this information, continue to the next page.</p>
            <div class="form-group">
                    <label class="form-label" for="law_search">
                        Enter for the law, for example 'Town and Country Planning Act 1990'
                    </label>

                    
                        <input class="form-control search-field" id="org_search" name="law_search" type="text" value="" autofocus="autofocus" style="width:100%;">
                   


                </div>
    

            <p><a href="date-document-created" class="button" id="statProvButton">Continue</a></p>
            <p><a href="type-of-charge">Choose a different charge category</a></p>

        </div>

            
    </div>
</main>
<script>
    var chargeCategorySelected = sessionStorage.getItem('chargeCategory');
    var chargeSubCategorySelected = sessionStorage.getItem('chargeSubcategory');
    if (chargeCategorySelected === 'Land compensation') {
        document.getElementById('statProvButton').setAttribute('href', 'land-compensation');
    } else if (chargeSubCategorySelected === 'Change a development' || chargeSubCategorySelected === 'Conditional planning consent' || chargeSubCategorySelected === 'Enforcement notice' || chargeSubCategorySelected === 'Article 4' || chargeSubCategorySelected === 'Tree preservation order (TPO)' || chargeSubCategorySelected === 'Smoke control order') {
        document.getElementById('statProvButton').setAttribute('href', 'confirm-instrument');
    }

</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        var legislationList = [
        "Agriculture (Miscellaneous Provisions) Act 1941 section 8(4)",
"Agriculture Act 1947",
"Agriculture Act 1967 schedule 3",
"Agriculture Act 1967 section 45(6)",
"Agriculture Act 1986 section 18(7)",
"Ancient Monuments Act 1931",
"Ancient Monuments and Archaeological Areas Act 1979 section 1(9)",
"Ancient Monuments and Archaeological Areas Act 1979 section 12",
"Ancient Monuments and Archaeological Areas Act 1979 section 16(8)",
"Ancient Monuments and Archaeological Areas Act 1979 section 2(3)",
"Ancient Monuments and Archaeological Areas Act 1979 section 33(5)",
"Ancient Monuments and Archaeological Areas Act 1979 section 8(6)",
"Anti-Social Behaviour Act 2003 section 69",
"Anti-Social Behaviour Act 2003 section 77(3)",
"Building Act 1984 section 107",
"Building Act 1984 section 18",
"Building Act 1984 section 19",
"Building Act 1984 section 22",
"Building Act 1984 section 23(2)",
"Building Act 1984 section 36",
"Building Act 1984 section 59",
"Building Act 1984 section 64",
"Building Act 1984 section 65",
"Building Act 1984 section 66",
"Building Act 1984 section 69",
"Building Act 1984 section 70",
"Building Act 1984 section 71",
"Building Act 1984 section 72",
"Building Act 1984 section 74",
"Building Act 1984 section 75",
"Building Act 1984 section 76",
"Building Act 1984 section 77",
"Building Act 1984 section 78",
"Building Act 1984 section 79",
"Building Act 1984 section 82",
"Building Act 1984 section 84",
"Cardiff Bay Barrage Act 1993",
"Care of Churches and Ecclesiastical Jurisdiction Measure 1991 (No. 1) section 22(8)",
"Civil Aviation Act 1949",
"Civil Aviation Act 1968 section 21",
"Civil Aviation Act 1971 section 16(2)",
"Civil Aviation Act 1982 section 43",
"Civil Aviation Act 1982 section 44",
"Civil Aviation Act 1982 section 45",
"Civil Aviation Act 1982 section 46(1)",
"Clean Air Act 1956",
"Clean Air Act 1968",
"Clean Air Act 1993 section 18",
"Clean Air Act 1993 section 24",
"Coast Protection Act 1949 section 10",
"Coast Protection Act 1949 section 12",
"Coast Protection Act 1949 section 13",
"Coast Protection Act 1949 section 8",
"Code of 1875",
"Compulsory Purchase (Vesting Declarations) Act 1981 section 3(4)",
"Conservation (Natural Habitats) regulations 1994 regulation 11",
"Conservation (Natural Habitats) regulations 1994 regulation 14",
"Conservation of Habitats and Species regulations 2010, regulation 13",
"Control of Pollution Act 1974",
"Countryside Act 1968 section 28",
"Countryside Act 1968 section 29",
"Countryside and Rights of Way Act 2000 section 16",
"Covent Garden Market Act 1966",
"Crossrail Act 2008, section 47(10)",
"Development of Rural Wales Act 1976",
"District Councils (Water Supply Facilities) Act 1897 section 2",
"Disused Burial Grounds (Amendment) Act 1981 section 2(4)",
"Education (Inner London Education Authority) (Property Transfer) Order 1990",
"Education (London Residuary Body) (Property Transfer) Order 1991",
"Energy Act 2013 section 123(3)",
"Environment Act 1995",
"Environmental Protection Act 1990 section 80",
"Environmental Protection Act 1990 section 81A",
"Environmental Protection Act 1990 section 81B",
"European Communities Act 1972",
"Field Monuments Act 1972",
"Gas Act 1965 section 5(10)",
"General Rate Act 1967",
"Highways Act 1959",
"Highways Act 1959 section 189",
"Highways Act 1971",
"Highways Act 1980 section 133",
"Highways Act 1980 section 134",
"Highways Act 1980 section 146",
"Highways Act 1980 section 147",
"Highways Act 1980 section 152",
"Highways Act 1980 section 153",
"Highways Act 1980 section 154",
"Highways Act 1980 section 164(2)",
"Highways Act 1980 section 165",
"Highways Act 1980 section 166",
"Highways Act 1980 section 167",
"Highways Act 1980 section 176",
"Highways Act 1980 section 177",
"Highways Act 1980 section 178",
"Highways Act 1980 section 180",
"Highways Act 1980 section 184",
"Highways Act 1980 section 212",
"Highways Act 1980 section 224",
"Highways Act 1980 section 230",
"Highways Act 1980 section 253",
"Highways Act 1980 section 278",
"Highways Act 1980 section 305",
"Highways Act 1980 section 35",
"Highways Act 1980 section 38",
"Highways Act 1980 section 73",
"Highways Act 1980 section 74",
"Highways Act 1980 section 79",
"Highways Act 1980 section 87",
"Hill Farming Act 1954 section 2",
"Historic Buildings and Ancient Monuments Act 1953",
"House Purchase and Housing Act 1959",
"Housing (Financial Provisions) Act 1958",
"Housing (Rural Workers) Act 1926 section 3",
"Housing Act 1923 section 2",
"Housing Act 1957",
"Housing Act 1961",
"Housing Act 1964",
"Housing Act 1974",
"Housing Act 1980",
"Housing Act 1985",
"Housing Act 1985 part IX section 265",
"Housing Act 1985 part IX section 266",
"Housing Act 1985 part IX section 282",
"Housing Act 1985 part IX sub-section 265",
"Housing Act 1985 part IX sub-section 294",
"Housing Act 1985 schedule 18",
"Housing Act 1985 section 156A",
"Housing Act 1985 section 157(2)",
"Housing Act 1985 section 189",
"Housing Act 1985 section 190",
"Housing Act 1985 section 200",
"Housing Act 1985 section 210",
"Housing Act 1985 section 215",
"Housing Act 1985 section 220",
"Housing Act 1985 section 229",
"Housing Act 1985 section 264",
"Housing Act 1985 section 265",
"Housing Act 1985 section 269",
"Housing Act 1985 section 270",
"Housing Act 1985 section 272",
"Housing Act 1985 section 354",
"Housing Act 1985 section 36A",
"Housing Act 1985 section 37(1)",
"Housing Act 1985 section 370",
"Housing Act 1985 section 375",
"Housing Act 1985 section 379",
"Housing Act 1985 section 384",
"Housing Act 1985 section 609",
"Housing Act 1985 sub-section 264",
"Housing Act 1988 section 2A",
"Housing Act 1996 section 12A",
"Housing Act 1996 section 13",
"Housing Act 2004 schedule 7, section 132, paragraph 10(9)",
"Housing Act 2004 schedule 7, section 132, paragraph 2",
"Housing Act 2004 section 102 AND section 107(9)",
"Housing Act 2004 section 116(9) AND section 119",
"Housing Act 2004 section 129(7)",
"Housing Act 2004 section 129(8)",
"Housing Act 2004 section 43",
"Housing Act 2004 section 49",
"Housing Act 2004 section 50",
"Housing Act 2004 section 73",
"Housing Act 2004 sub-section 11",
"Housing Act 2004 sub-section 12",
"Housing Act 2004 sub-section 20",
"Housing Act 2004 sub-section 21",
"Housing Associations Act 1985",
"Housing Grants, Construction and Regeneration Act 1996 section 52",
"Housing Grants, Construction and Regeneration Act 1996 section 81",
"Housing Grants, Construction and Regeneration Act 1996 section 87",
"Housing Grants, Construction and Regeneration Act 1996 section 88",
"Land Compensation Act 1973",
"Land Compensation Act 1973 section 52(8)",
"Land Compensation Act 1973 section 8(4)",
"Land Drainage Act 1976 section 31(4)",
"Land Drainage Act 1991 section 18(8)",
"Land Powers (Defence) Act 1958 section 17",
"Leasehold Reform Act 1967",
"Leasehold Reform, Housing and Urban Development Act 1993 section 70",
"Local Government (Miscellaneous Provisions) Act 1976 section 35",
"Local Government (Miscellaneous Provisions) Act 1982 section 33",
"Local Government and Housing Act 1989 section 89(8)",
"Local Government and Housing Act 1989 sub-section 119",
"Local Government and Housing Act 1989 sub-section 121",
"Local Government and Housing Act 1989 sub-section 122",
"Local Government and Housing Act 1989 sub-section 123",
"Local Land Charges Act 1975 section 6(2)",
"National Parks and Access to the Countryside Act 1949 part III",
"National Parks and Access to the Countryside Act 1949 section 21",
"National Parks and Access to the Countryside Act 1949 section 64",
"National Parks and Access to the Countryside Act 1949 section 65",
"New Roads and Street Works Act 1991 section 87",
"New Streets Act 1951",
"New Streets Act 1957",
"New Towns Act 1946",
"New Towns Act 1965",
"New Towns Act 1981 section 1(5)",
"New Towns Act 1981 section 12",
"Opencast Coal Act 1958 sub-section 11(1)",
"Opencast Coal Act 1958 sub-section 16(6)",
"Part XI of the Highways Act 1980",
"Pastoral Measure 1968",
"Pastoral Measure 1983 section 65",
"Planning (Consequential Provisions) Act 1990 schedule 3",
"Planning (Hazardous Substances) Act 1990 section 10",
"Planning (Hazardous Substances) Act 1990 section 24",
"Planning (Hazardous Substances) Act 1990 section 27",
"Planning (Listed Buildings and Conservation Areas) Act 1990 section 17",
"Planning (Listed Buildings and Conservation Areas) Act 1990 section 2(2)",
"Planning (Listed Buildings and Conservation Areas) Act 1990 section 3",
"Planning (Listed Buildings and Conservation Areas) Act 1990 section 38",
"Planning (Listed Buildings and Conservation Areas) Act 1990 section 69(4)",
"Planning Act 2008 section 170(5)",
"Planning Act 2008 section 205",
"Planning Act 2008 section 281(5)",
"Prevention of Damage by Pests Act 1949 section 4",
"Prevention of Damage by Pests Act 1949 section 7",
"Private Street Works Act 1892",
"Public Health (Drainage of Trade Premises) Act 1937 section 7",
"Public Health (Drainage of Trade Premises) Act 1937 section 7A",
"Public Health Act 1875 sub-section 23",
"Public Health Act 1875 sub-section 24",
"Public Health Act 1875 sub-section 26",
"Public Health Act 1936",
"Public Health Act 1936 section 138",
"Public Health Act 1936 section 24",
"Public Health Act 1936 section 275",
"Public Health Act 1936 section 29",
"Public Health Act 1936 section 291(1)",
"Public Health Act 1936 section 295",
"Public Health Act 1936 section 36",
"Public Health Act 1936 section 38",
"Public Health Act 1936 section 39",
"Public Health Act 1936 section 44",
"Public Health Act 1936 section 45",
"Public Health Act 1936 section 46",
"Public Health Act 1936 section 47",
"Public Health Act 1936 section 50",
"Public Health Act 1936 section 56",
"Public Health Act 1936 section 58",
"Public Health Act 1936 section 59",
"Public Health Act 1936 section 60",
"Public Health Act 1936 section 65(3)",
"Public Health Act 1936 section 75",
"Public Health Act 1936 section 83",
"Public Health Act 1936 section 95",
"Public Health Act 1936 section 96",
"Public Health Act 1961",
"Public Health Act 1961 section 12",
"Public Health Act 1961 section 17",
"Public Health Act 1961 section 46",
"Public Health Act 1961 section 73",
"Public Utilities and Street Works Act 1950",
"Regulatory Reform (Housing Assistance) (England and Wales) Order 2002",
"Requisitioned Land and War Works Act 1948 section 12",
"Rights of Light Act 1959 section 2(4)",
"Small Dwellings Acquisition Act 1899",
"Thames Water Utilities Limited (Thames Tidway Tunnel) Order 2014, section 52(8)",
"Town and Country Planning (Control of Advertisements) (Amendment Number 2) regulations 1987 SI 1987/2227",
"Town and Country Planning (Control of Advertisements) (England) regulations 1960, regulations 23",
"Town and Country Planning (Control of Advertisements) (England) regulations 2007",
"Town and Country Planning (Control of Advertisements) (England) regulations 2007 SI 2007/783",
"Town and Country Planning (Control of Advertisements) regulations 1984 SI 1984/421",
"Town and Country Planning (Control of Advertisements) regulations 1987 SI 1987/804",
"Town and Country Planning (Control of Advertisements) regulations 1989 SI 1989/670",
"Town and Country Planning (Control of Advertisements) regulations 1992 SI 1992/666",
"Town and Country Planning (General Permitted Development) Order 1995",
"Town and Country Planning Act 1954 sub-section 28",
"Town and Country Planning Act 1954 sub-section 57",
"Town and Country Planning Act 1968",
"Town and Country Planning Act 1971",
"Town and Country Planning Act 1971 sub-section 158",
"Town and Country Planning Act 1971 sub-section 159",
"Town and Country Planning Act 1990",
"Town and Country Planning Act 1990 (section N/K)",
"Town and Country Planning Act 1990 schedule 9",
"Town and Country Planning Act 1990 section 102",
"Town and Country Planning Act 1990 section 106",
"Town and Country Planning Act 1990 section 110(4)",
"Town and Country Planning Act 1990 section 131",
"Town and Country Planning Act 1990 section 132",
"Town and Country Planning Act 1990 section 133",
"Town and Country Planning Act 1990 section 172",
"Town and Country Planning Act 1990 section 178(1)(b)",
"Town and Country Planning Act 1990 section 187A",
"Town and Country Planning Act 1990 section 198",
"Town and Country Planning Act 1990 section 201",
"Town and Country Planning Act 1990 section 202",
"Town and Country Planning Act 1990 section 215",
"Town and Country Planning Act 1990 section 70",
"Town and Country Planning Act 1990 section 97",
"Town and Country Planning General regulations 1992 section 219(1)",
"Underground Works (London) Act 1956 section 6(9)",
"War Damage Act 1943 section 20",
"Water Industry Act 1991 section 104",
"Water Industry Act 1991 section 156",
"Water Industry Act 1991 section 158",
"Water Industry Act 1991 section 160",
"Water Industry Act 1991 section 66",
"Water Industry Act 1991 section 82",
"Water Resources Act 1991 section 95",
"Weeds Act 1959 section 3(3)",
"Wentworth Estate Act 1964",
"Wildlife and Countryside Act 1981 section 28",
"Wildlife and Countryside Act 1981 section 34",
"Wildlife and Countryside Act 1981 section 39",
"Yorkshire Water Authority Act 1986 section 41"
        ]
        $("#org_search").autocomplete({
            source: legislationList
        });
        $('#statProvButton').on('click', function() {
            var statProv = $('#org_search').val();
            if (statProv !== '') {
                sessionStorage.setItem('statProv', statProv);
            }
            sessionStorage.setItem('statProvEditable', 'true');
        });
        var edited = sessionStorage.getItem('edited');
        if (edited === 'true') {
            $('#statProvButton').href('charge-summary-new');
        }
        
    })
</script>
{% endblock %}