{% extends "layout.html" %} {% block page_title %} Confirm the law and legal document {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <a href="type-of-charge" class="link-back" style="margin-bottom:0">Back</a>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Confirm the law and legal document</h1>
            <p>We found 1 law and 1 instrument for your charge, based on your choice of:<br>
                <span class="bold-small" id="charge-category-selected"></span> and <span class="bold-small" id="charge-subcategory-selected"></span>.</p>
            
            
            
            
               <p>
                <span>Law</span><br>
                <span id="stat-prov" class="bold-medium"></span>
                <span>Not the correct law? <a href="select-stat-prov">Search for the law</a></span>
            </p>
            <p>
                <span>Legal document</span><br>
                <span id="instrument" class="bold-medium"></span>
            </p>

            <p><a href="date-document-created" class="button">Continue</a></p>
            <p><a href="type-of-charge">Choose a different charge category</a></p>

        </div>

            
    </div>
</main>
<script>
    var chargeCategorySelected = sessionStorage.getItem('chargeCategory');
    var chargeSubCategorySelected = sessionStorage.getItem('chargeSubcategory');
    var statProvAssigned = sessionStorage.getItem('statProv');
    var instrumentAssigned = sessionStorage.getItem('instrument');
    document.getElementById('charge-category-selected').textContent = chargeCategorySelected
    document.getElementById('charge-subcategory-selected').textContent = chargeSubCategorySelected
    document.getElementById('stat-prov').textContent = statProvAssigned;
    document.getElementById('instrument').textContent = instrumentAssigned;
</script>

{% endblock %}