// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }

  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related links
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.related-links {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
  }
}

#global-header #logo img {
  height: 32px;
}

#global-header-bar {
  height: 10px;
  /*background-color: #66CC33;*/
}

 // Remove GOV.UK footer styles
  /* #footer {
    border: 0;
    background: $white;
    }*/

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.highlighted-event {
  background-color: #28a197;
  color: #fff;
  text-align: center;
  padding: 0.1em 2em 0.2em 2em;
  margin: 0 -1em 1em -1em;
}

.warning {
  background-color: #fff2d3;
  padding: 20px;
  margin: 30px 0;
}

.media-item {
  float: left;
  margin-right: 20px;
}

// This is where the new UI styles are

.browse ul li a,
.control ul li a,
.result_1 ul li a {
  color: #005ea5;
  text-decoration: none;
  line-height: 1.5;
  display: block;
  padding: 10px 5px;
  cursor: pointer;
}

.control ul a::after {
  position: relative;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  margin-left: 10px;
  float: right;
  content: "\203A";
}

.control ul li a:hover,
.result_1 ul li a:hover,
.browse ul li a:hover {
  background: #F8F8F8;
}

.search {
  margin-left: 1em;
}

#description,
#further_info {
  width: 100%;
}

.browse ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 500px;
  overflow: none;
}

.form-group-instrument {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-content: stretch;
  height: 300px;
}

// The new GOV.uk toolkit style override
.block-label {

  display: block;
  float: none;
  clear: left;
  position: relative;
  background: white;
  border: 0;

  padding: (8px $gutter-one-third 9px 50px);
  margin-bottom: $gutter-one-third;

  cursor: pointer; // Encourage clicking on block labels

   // remove 300ms pause on mobile
   -ms-touch-action: manipulation;
   touch-action: manipulation;

   @include media(tablet) {
    float: left;
    padding-top: 7px;
    padding-bottom: 7px;
    // width: 25%; - Test : check that text within labels will wrap
  }

  // Absolutely position inputs within label, to allow text to wrap
  input {
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 38px;
    height: 38px;

    // IE8 doesn’t support pseudoelements, so we don’t want to hide native elements there.
    @if ($is-ie == false) or ($ie-version == 9) {
      .js-enabled & {
        margin: 0;
        @include opacity(0);
      }
    }
  }

  .js-enabled & {
    &.selection-button-radio::before {
      content: "";
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
      @include border-radius(50%);
    }

    &.selection-button-radio::after {
      content: "";
      border: 10px solid;
      width: 0;
      height: 0;
      position: absolute;
      top: 9px;
      left: 9px;
      @include border-radius(50%);
      @include opacity(0);
    }

    &.selection-button-checkbox::before {
      content: "";
      border: 2px solid;
      background: transparent;
      width: 34px;
      height: 34px;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.selection-button-checkbox::after {
      content: "";
      border: solid;
      border-width: 0 0 5px 5px;
      background: transparent;
      width: 17px;
      height: 7px;
      position: absolute;
      top: 10px;
      left: 8px;
      -moz-transform: rotate(-45deg); // Firefox 15 compatibility
      -o-transform: rotate(-45deg); // Opera 12.0 compatibility
      -webkit-transform: rotate(-45deg); // Safari 8 compatibility
      -ms-transform: rotate(-45deg); // IE9 compatibility
      transform: rotate(-45deg);
      @include opacity(0);
    }

    // Focused state
    &.selection-button-radio,
    &.selection-button-checkbox {
      &.focused::before {
        @include box-shadow(0 0 0 5px $focus-colour);
      }
      // IE8 focus outline should stay as a border around the entire label
      // Lack of padding doesn’t matter as IE8 won’t resize the inputs.
      @include ie-lte(8) {
        &.focused {
          outline: 3px solid $focus-colour;

          input:focus {
            outline: none;
          }
        }
      }
    }

    // Selected state
    &.selection-button-radio,
    &.selection-button-checkbox {
      &.selected::after {
        @include opacity(1);
      }
    }
  }

  &:last-child,
  &:last-of-type {
    margin-bottom: 0;
  }
}

// To stack horizontally, use .inline on parent, to sit block labels next to each other
.inline .block-label {
  clear: none;

  @include media (tablet) {
    margin-bottom: 0;
    margin-right: $gutter;
  }
}


#global-header #logo img {
  background-color: white;
}


// This is the alpha-beta tag override

.phase-tag {
  @include phase-tag(alpha);
  background-color: $govuk-blue !important;
}

.phase-banner {
  @include phase-banner(alpha);
}

// Stuff from llc-prototypes
// Horizontal carousel styles
.browse ul li,
.control ul li,
.result ul li a,
.maintain-control ul li,
.maintain-result ul li {
  color: #005ea5;
  text-decoration: none;
  line-height: 1.5;
  display: block;
  padding: 10px 5px;
  cursor: pointer;
}

.control ul li::after,
.maintain-control ul li::after {
  position: relative;
  top: 50%;
  margin-top: -2px;
  right: 10px;
  margin-left: 10px;
  float: right;
  content: "\203A";
}

.control ul li:hover,
.result ul li a:hover,
.browse ul li:hover,
.maintain-control ul li:hover,
.maintain-result ul li:hover {
  background: #F8F8F8;
}

// search icon
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .search-button {
    line-height: 34px;
  }
  .autocomplete-search,
  .maintain-map-search-button {
    position: relative;
    top: 11px;
  }
  .maintain-map-search-button {
    top: 13px;
  }
}
.search-button,
.search-button-map {
  background-size: 52.5px 35px;
  background-position: 115% 50%;
  box-sizing: border-box;
  height: 38px;
  width: 38px;
  cursor: pointer;
  overflow: hidden;
  text-indent: -5000px;
  background: #0b0c0c url("../images/search-button.png") no-repeat 2px 50%;
  border: 0;
  position: relative;
  right: 4px;
}

// map stuff
#map { 
  height: 500px;
  width: 960px;
  position: relative;
}

#map .ol-zoom .ol-zoom-out {
  background:rgba(51,122,183,.8);
  margin-top: 204px;
}

#map .ol-zoom .ol-zoom-in {
  background:rgba(51,122,183,.8);
}

#map .ol-zoomslider {
  background-color: transparent;
  top: 2.3em;
}

#map .ol-zoomslider-thumb {
  background:rgba(51,122,183,.8);
}

#map .ol-mouse-position {
  background:rgba(51,122,183,.8);
  border-radius: 10px;
  border-color: grey;
  padding: 5px;
  font: 12px arial, bold;
  color: white;
  top: auto;
  bottom: 0.5em;
  left: 0.5em;
  right: auto;
}

#map .ol-nav-buttons {
  background:rgba(51,122,183,.3);
  top: auto;
  bottom: 0.5em;
  left: 0.5em;
  right: auto;
}

/*#map-nav {
  position: relative;
}*/

.postcode-search {
  position: absolute;
  top: 0.5em;
  bottom: auto;
  right: auto;
  opacity: 0.9;
}

.postcode-search .btn {
  background-color: rgba(51,122,183,.8);
  color: #fff;
}

.postcode-search .btn:hover {
  background-color: rgba(51,122,183,.9);
}

#postcode-error {
  color: red;
  background-color: rgba(255,255,255,.6);
}

.up-nav-button {
  margin: auto;
  width: 38%;
}

.nav-buttons {
  margin: auto;
}

.custom-draw {
  top: 0.5em;
  right: 0.5em;
  opacity: 0.9;
}

#ol-tool-tip {
  background:rgba(51,122,183,.8);
  border-radius: 10px;
  border-color: grey;
  padding: 5px;
  font: 12px arial, bold;
  color: white;
  top: 7em;
  right: 0.5em;
}

// reason page layout
.form-group-reason {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column wrap;
  align-content: stretch;
  height: 300px;
}

// maintain llc stuff
#maintain-map-search {
  border: 2px solid black;
  width: 310px;
  display: inline !important;
  height: 38px;
}

.maintain-llc-map {
  width: 55% !important;
  /* outline: 1px solid red;*/
  position: relative;
  left: -22px;

  & canvas {
    width: 55%;
  }

  & .ol-zoom {
    top: 100px;
  }
}

.filter .form-group{
  background-color: #F8F8F8;
  width: 100%;
  padding: 0 1em;
}

.filter label {
  padding-bottom: 1em;
  padding-left: 1.5em;
}

.toggle {
  width: 100% !important;
  margin-top: 1em;
}

.select-all {
  padding-bottom: 0 !important;
}

.select-controls {
  margin-bottom: 0.5em;
  position: relative;
  top: 1em;
  padding-left: 300px;

  & a {
    position: relative;
    top: 0.4em;
    text-decoration: underline;
  }
}

.filter-heading {
  float: left;
}

.filter .selection-button-checkbox::before {
  width: 14px !important;
  height: 14px !important;
  position: relative;
  top: 7px !important;
}

.filter .selection-button-checkbox::after {
  width: 7px !important;
  height: 7px !important;
  position: relative;
  left: 3px !important;
}

.result-count {
  margin-top: 1em;
}

.charge-list-item {
  border-top: 1px solid #DEE0E2;

  & h3 {
    margin-top: 0.5em;
  }

  &:last-child {
    border-bottom: 1px solid #DEE0E2;
  }

  & a {
    cursor: pointer;
    text-decoration: underline;
    display: block;

    &:hover {
      background-color: #F8F8F8;
      color: inherit;
    }
  }
}

.charge-list {
  z-index: 100000;
}

.hide-this {
  display: none !important;
}

.edit-charge-details input[type="text"] {
  width: 100%;
}

.charge-list-options {
  padding-bottom: 0.5em;
}

.charge-list-options a {
  display: inline;

  &:last-child {
    margin-left: 2em;
  }
}

.toHighlight {
  background-color: #F8F8F8;
}

/* Charge history table rules */

.charge-history {
  & th,
  & td {
    vertical-align: top;
  }
}