{% extends "layout.html" %}

{% block page_title %}
Confirm cancellation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Are you sure you want to cancel the charge LR-ABC12345?</h1>
			
			<p><a class="button" href="cancel-confirmation">Yes, I want to cancel it</a></p>
			<p><a href="view-specific-financial">No, I don't want to cancel it</a></p>
			
		</div>
	</div>
</main>

{% endblock %}


