{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">The Local Land Charge has been cancelled</h1>
				<p>The ID of the cancelled charge is LR-ABC12345</p>
			</div>
			<p><a href="map">Find another local land charge</a></p>
		</div>
	</div>
</main>
{% endblock %}