{% extends "layout.html" %}

{% block page_title %}
Search for a charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">How do you want to search?</h1>
              <p>Search by:</p>
              <ul class="list list-bullet">
                <li>address</li>
                <li>postcode</li>
              <li>Unique Property Reference Number (UPRN)</li>
              </ul>
        </div>
    </div>

    <div class="grid-row">
		<div class="column-two-thirds">
          <form action="map-results" method="GET">
            <div class="form-group">
              <fieldset>
                <legend class="visuallyhidden">Enter postcode or charge ID to find a charge</legend>
                <div class="form-group spacing-bottom-half">
                  <label class="form-label" for="legislation">
                  </label>
                  <input class="form-control search-field" id="maintain-map-search" name="maintain-map-search" type="text" value="" autofocus="autofocus">
                  <input class="search-button submit maintain-map-search-button" type="submit" name="maintain-map-search" value="">
                </div>
              </fieldset>
                <p>You can also <a href="search_charge_id">find a charge by Charge ID</a></p>
                <p>Or you can <a href="search_map">browse an area on a map</a></p>
            </div>
          </form>

        </div>
    </div>

    <a class="button" href="map-results" role="button">Find charges</a>

</div>
</main>
{% endblock %}