{% extends "layout.html" %} {% block page_title %} Download LLC1 {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Download official search result of local land charges</h1>
            <h2 class="heading-medium">Official search result</h2>
            <a class="button" download>Download</a>
            <h2 class="heading-medium">Legal documents for light obstruction notices (LONs)</h2>
            <p><a href="#" class="bold-small">Download all</a></p>
            <p>[CHARGE ID]</p>
            <p><a href="#">Download</a></p>
            <p>[CHARGE ID]</p>
            <p><a href="#">Download</a></p>
            <p>[CHARGE ID]</p>
            <p><a href="#">Download</a></p>
        </div>
    </div>
</main>

{% endblock %}