{% extends "layout.html" %}

{% block page_title %}
Local land charge
{% endblock %}

{% block content %}
<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<p><a href="map-results">Back to search results</a></p>
			<h1 class="heading-large">Local Land Charges</h1>

			<div class="govuk-box-highlight">
				<h2 class="heading-xlarge">Charge updated</h2>
				<p class="fonr-large">Your have updated the charge
					<br>
					<strong class="bold">HMLR-LLC-12871691</strong>
				</p>
			</div>
			<p><a href="http://localhost:3010/maintain_llc/v1-4/planning">View the updated charge</a></p>		
		</div>
	</div>

</main>
{% endblock %}


