{% extends "layout.html" %}

{% block page_title %}
Edit charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<p><a href="view-specific-financial">Back to charge details</a></p>
	<h1 class="heading-large">Charge history for LLC-3TBHP</h1>
	<p>You can see the most recent updates first.</p>
	<table class="charge-history">

		<thead>
			<tr>
				<th class="bold-small">
					When
				</th>
				<th class="bold-small">
					Who
				</th>
				<th class="bold-small">
					What
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					12 November 2015
				</td>
				<td>
					Charles Dickens<br>
					<a href="mailto:charles.dickens@plymouth.gov.uk">charles.dickens@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
					Test
				</td>
			</tr>
			<tr>
				<td>
					20 June 2014
				</td>
				<td>
					Jane Austen<br>
					<a href="mailto:jane.austen@plymouth.gov.uk">jane.austen@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
					Extent, Legislation
				</td>
			</tr>
			<tr>
				<td>
					5 April 2013
				</td>
				<td>
					Charles Dickens<br>
					<a href="mailto:charles.dickens@plymouth.gov.uk">charles.dickens@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
					Expiry date
				</td>
			</tr>
			<tr>
				<td>
					15 May 1998
				</td>
				<td>
					Jane Austen<br>
					<a href="mailto:jane.austen@plymouth.gov.uk">jane.austen@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
				Charge type
<br>Law 
<br>Created on 
<br>Expiry date
<br>Name: person applying for the light obstruction notice
<br>Address: person applying for the light obstruction notice
<br>Height of the planned development
<br>Covers all or part of extent: planned development
<br>Interest in the land: developer
<br>Legal document: Definitive Certificate
<br>Expiry date: Definitive Certificate
<br>Legal document: Temporary Certificate
<br>Expiry date: Temporary Certificate
<br>Legal document: Colour Plan
<br>Legal document: Form A
<br>Other supporting document

				</td>
			</tr>
			<tr>
				<td>
					20 January 1995
				</td>
				<td>
					Emma Bovary<br>
					<a href="mailto:emma.bovary@plymouth.gov.uk">emma.bovary@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
					Charge is added to the register
				</td>
			</tr>
		</tbody>
	</table>
</div>
</main>
<script>

</script>

{% endblock %}
