{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">Your changes have been saved</h1>
				<p>
					The charge ID is <br>
					<strong class="heading-medium">HMLR-LLC-12871691</strong>
				</p>
			</div>
			<p><a href="map">Find another local land charge</a></p>
		</div>
	</div>
</main>
{% endblock %}