{% extends "layout.html" %}

{% block page_title %}
Edit additional information about the charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-full">
			<h1 class="heading-large">Additional information</h1>
			<h2 class="heading-medium">Please fill in at least one of the following:</h2>
			<form action="confirm-planning-update" method="GET">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">Any additional information about the charge</legend>
						<div class="form-group">
							<label class="form-label" for="address">Your address</label>
							<span class="form-hint">Address of originating authority</span>
							<input class="form-control other-info-change" id="address" name="address" type="text">					
						</div>
						<div class="form-group">
							<label class="form-label" for="website">Main website address</label>
							<span class="form-hint">Main root address, e.g. www.manchester.gov.uk</span>
							<input class="form-control other-info-change" id="website" name="website" type="text" value="http://www.plymouth.gov.uk">					
						</div>
						<div class="form-group">
							<label class="form-label" for="phoneNumber">Phone number</label>
							<span class="form-hint">Originating Authority main reception or LLCO office number</span>
							<input class="form-control other-info-change" id="phoneNumber" name="phoneNumber" type="text">					
						</div>
						<div class="form-group">
							<label class="form-label" for="email">Email address</label>
							<span class="form-hint">Better if it is a common mailbox address rather than a specific person</span>
							<input class="form-control other-info-change" id="email" name="email" type="text">					
						</div>
						<div class="form-group">
							<label class="form-label" for="reference">Your reference</label>
							<span class="form-hint">Your reference number to assist with enquiries</span>
							<input class="form-control" id="reference" name="reference" type="text">					
						</div>
					</fieldset>
				</div>
				<a class="button additional-information-button" id="confirm-further-information" href="confirm-planning-update" role="button">Continue</a>

			</form>
		</div>
	</div>
</main>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script>
$("#reference").on("input", function() {
	var referenceChanged = "true"
	sessionStorage.setItem("referenceChanged", referenceChanged)
})

$(".other-info-change").on("input", function() {
	var furtherInformationChanged = "true"
	sessionStorage.setItem("furtherInformationChanged", furtherInformationChanged)
})

</script>

{% endblock %}


