{% extends "layout.html" %} {% block page_title %} WWhat do you want to do? {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Send the code again</h1>
            <p>Emails sometimes take a few minutes to arrive. If you did not get the email, send a new code.</p>
            <p>If you cannot access this email, contact HM Land Registry:<br><span class="bold-small">LocalLandChargesRegister@landregistry.gov.uk</span></p>
            <p><a href="check-your-email" class="button">Send new code</a></p>
           


        </div>

    </div>

</main>
{% endblock %}