{% extends "layout.html" %}

{% block page_title %}
Register a local land charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-xlarge">Register a local land charge</h1>
			<p>You can register a local land charge (LLC) online.</p>
			<p><a class="button button-start" href="02_sign_in" role="button">Start now</a></p>
		</div>
	</div>
</main>

{% endblock %}


