{% extends "layout.html" %}

{% block page_title %}
Add more information about the location
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Describe the location in words</h1>
			<p>For example, does the charge affect:</p>
			<ul class="list list-bullet">
				<li>all or part of the extent (a flat but not all flats in a structure)</li>
				<li>an area of land without landmarks (how to identify)</li>
				<li>land that changes frequently (beach, water or sea)</li>
				<li>part of an address but not all of it (a sinkhole that may change size)</li>
			</ul>
			<form action="additional_information" method="GET">
				<div class="form-group">
					<fieldset class="inline">
						<legend class="visuallyhidden">Is there any extra description about where the charge is or what it affects? </legend>
							<label class="form-label" for="more_information">
								Is there anything else you want to tell us about the charge location?
							</label>
							<span class="form-hint">For example, the charge applies to the north wall of the football field.</span>
							<textarea class="form-control" id="more-information" name="more_information" cols="50" rows="10" value=""></textarea>

					</fieldset>
				</div>
				<a class="button more-information-button" href="08_additional_info" role="button">Continue</a>

			</form>
		</div>
	</div>
</main>

{% endblock %}


