{% extends "layout_citizen.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block
content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Search of the local land charges register
      </h1>
    </div>

    <div class="column-full">
      <br>
      <div class="form-group">
        <a class="button" href="/public/documents/Offical-local-land-search-result.pdf" download>Download the offical local land search result</a>
        <br><br><a href="search-results">Back to search</a>
      </div>
    </div>
  </div>
</main>

{% endblock %}
