{% extends "layout.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block
content %}

<main id="content" role="main">

  {% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        LLC1 search result: see a list of local land charges on a property
      </h1>
      <h2 class="heading-medium">Description of charge</h2>
    </div>

    <div class="column-full">
      <table class="check-your-answers-2">
        <tbody>
          <tr>
            <td>Address</td>
            <td class="bold-small"><span id="address-selected"></span></td>
            <td></td>
          </tr>
          <tr>
            <td>Description</td>
            <td class="bold-small">Single storey rear extension</td>
            <td></td>
          </tr>
          <tr>
            <td>Legislation</td>
            <td class="bold-small">Town &amp; Country Planning Act 1990, section 106</td>
            <td></td>
          </tr>
          <tr>
            <td>Originating authority</td>
            <td class="bold-small">Exeter City Council</td>
            <td></td>
          </tr>
          <tr>
            <td>Registered on</td>
            <td class="bold-small">11 October 2008</td>
            <td></td>
          </tr>
          <tr>
            <td>Originating authority reference</td>
            <td class="bold-small">PLY123</td>
            <td></td>
          </tr>
          <tr>
            <td>HM Land Registry reference</td>
            <td class="bold-small">LLC/EX38912714</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="form-group">
        <a class="button" href="/public/documents/Offical-local-land-search-result.pdf" download>Download the offical local land search result</a>
        <br><br><a href="search-results">Back to search</a>
      </div>
    </div>
  </div>
</main>
<script>
  var addressRetrieved = sessionStorage.getItem('addressSelected');
  var textToChange = document.getElementById("address-selected");
  textToChange.textContent = addressRetrieved;

</script>

{% endblock %}
