{% extends "layout_citizen.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                Download your official search result of local and charges
            </h1>
        </div>

        <div class="column-two-thirds">
            <div class="form-group">
                <a class="button" href="/public/documents/Offical-local-land-search-result.pdf" download>PDF</a>
                <a class="button" href="">JSON</a>
                <a class="button" href="">CSV</a>
                <a class="button" href="">XML</a>
            </div>
            <p><a href="../search">Search again</a></p>
        </div>
    </div>
</main>

{% endblock %}