{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">Your payment was successful</h1>
			</div>
			<p><a href="search-results">Return to local land search results</a></p>
		</div>
	</div>
</main>
{% endblock %}