{% extends "layout_map.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<!--<style>
  .summary table, tr, td {
    border-bottom: 0px solid !important;

  }
</style> -->
<div class="map-page">
  <script>
    var maintainMapAddressSelected = sessionStorage.getItem("maintainMapAddress")
  </script>
  <!-- <main id="content" role="main"> -->
  <!-- beta banner -->
  <div class="phase-banner map-phase-banner">
    <p><strong class="phase-tag">beta</strong></p>
  </div>
  <div class="container">
    <div id="map-nav" class="maintain-map form-group">
      <div id="map" class="maintain-llc-map"></div>
    </div>
  </div>
  <div id="search-panel" class="charge-list charge-list-maintain-v1-4">
    <form action="search" method="POST">
      <div class="form-group">
        <fieldset>
          <legend class="visuallyhidden">Where do you want to add the charge?</legend>
          <div class="form-group">
            <h1 class="heading-large">Search of the local land charges register</h1>
            <label class="form-label" for="search-term">
								<strong>Enter an address to start. You can also search by:
									<ul class="list list-bullet">
                    <li>postcode</li>
                    <li>drawing an extent</li>
									</ul></strong>
								</label>
            <div class="form-group spacing-bottom-half">
              <input class="form-control search-field" id="location" name="location" type="text" value="" autofocus="autofocus">
              <!--<input class="search-button submit location-search" type="submit" value="Search"><br><br>-->
              <!-- <a class="button" href="search-results" role="button">Search</a> -->
              <input class="button" type="submit" value="Search">
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>
  <div class="panel-control close">
    <img src="{{ asset_path }}images/arrow_collapse.png">
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  $(document).ready(function () {
    var closePanel = function () {
      $("#search-panel").animate({
        "margin-left": "-1000px"
      }, 100);
      $(".panel-control").removeClass("close");
      $(".panel-control").addClass("open-button");
      $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
    }

    var openPanel = function () {
      $("#search-panel").animate({
        "margin-left": "0"
      }, 100);
      $(".panel-control").removeClass("open-button");
      $(".panel-control").addClass("close");
      $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
    }

    $(".panel-control").click(function () {
      if ($(this).hasClass("close")) {
        closePanel();
      } else {
        openPanel();
      }
    });

    var searchedTermRetrieved = sessionStorage.getItem("searchedTerm");
    console.log(searchedTermRetrieved);
    $("#searched_term").val(searchedTermRetrieved);
  });
</script>

{% endblock %} {% block body_end_additional %} {% include "includes/map_scripts.html" %}
<script src="/public/javascripts/map/search/llc_layer_styles.js"></script>
<script src="/public/javascripts/map/search/local_land_charges_layer.js"></script>
<script src="/public/javascripts/map/search/map_events.js"></script>
<script src="/public/javascripts/map/search/sample_data.js"></script>
<script src="/public/javascripts/map/search/search.js"></script>
<script>
  zoomslider = new ol.control.Zoom();
  map.addControl(zoomslider);
  var geometry =
    "{&quot;type&quot;:&quot;LineString&quot;,&quot;coordinates&quot;: [[291228.7125000001, 92032.63750000006], [291338.61250000016, 92055.2125000001]]}";
  // MAP_HELPERS.zoom_map(geometry);
</script>
{% endblock %}