{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                View local land charges
            </h1>
            <p>Use this service to search for legal rights and restrictions (local land charges) on land or property.</p>
            <div class="panel panel-border-wide">
                <p>An inspection of the Local Land Charges Register is free under the Environmental Information Regulations 2004 (EIR).</p>
                <p>The official search, the search of local land charges guaranteed by HM Land Registry, does not include things like planning and development applications, building controls, or information about of road development schemes near to your
                    property. Ask your conveyancer for a CON 29 search to get this information.</p>
            </div>
            <a class="button button-start" href="free-or-paid" role="button" id="start">Start now</a>

            <h2 class="heading-medium">What are local land charges?</h2>
            <p>Local land charges are legal rights and restrictions on land. For example, a tree preservation order is a local land charge that stops you from cutting down a tree.</p>
            <h2 class="heading-medium">Why you need to search for local land charges</h2>
            <p>If you are thinking about buying a house, you need to find out if it has any local land charges on it. This is because local land charges affect what you can do on a property.</p>
            <h2 class="heading-medium">Difference between the free and official searches
            </h2>
            <p>There are 2 types of search. One is free, the other costs £15. This search is an official search, guaranteed by HM Land Registry. This gives you more information about local land charges.</p>
            <p>You must create an account to get the extra benefits from a paid search.</p>
            <table class="search-fees">
                <thead>
                    <tr>
                        <td>Free</td>
                        <td>&pound;15</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Where the local charge is</td>
                        <td>Where the local charge is</td>
                    </tr>
                    <tr>
                        <td>What the charge does</td>
                        <td>What the charge does</td>
                    </tr>
                    <tr>
                        <td>Registration date, this is the date when the charge was officially registered</td>
                        <td>Registration date, this is the date when the charge was officially registered</td>
                    </tr>
                    <tr>
                        <td>Contact details for the local authority that can answer questions about this local land charge</td>
                        <td>Contact details for the local authority that can answer questions about this local land charge</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Official search, guaranteed by HM Land Registry</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Link to documents that that give more information about the charge</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Local charge boundary, showing where a charge starts and stops</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>For 6 months:
                            <ul class="list list-bullet">
                                <li>refresh your search to make sure no new local land charges have been added before you exchange contracts</li>
                                <li>return to your result </li>
                                <li>download your results in different formats (PDF, JSON, CSV, XML)</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</main>

{% endblock %}