{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Search for local land charges (LLC) on land or property
            </h1>

            <aside class="part-navigation-container" role="complementary">
                <nav class="grid-row part-navigation" role="navigation" aria-label="Pages in this guide">
                    <ol class="column-half">
                        <li>Overview</li>
                        <li><a href="#about-llc">About local land charges</a></li>
                        <li><a href="#why-search">Why you need to search for local land charges</a></li>
                    </ol>
                    <ol class="column-half" start="4">
                        <li><a href="#difference">Difference between the free and &pound;15 search</a></li>
                        <li><a href="#fees">Fees</a></li>
                    </ol>
                </nav>
            </aside>
            <h2 class="heading-medium">1. Overview</h2>
            <p>Use this service to find legal rights and restrictions (local land charges) on a property.</p>
            <p>Search for free to see local land charges on any property you want to buy. If you decide to make an offer on the property, you’ll pay £15 for an official search, guaranteed by HM Land Registry.</p>
            <p>
                <a class="button button-start" href="free-or-paid" role="button" id="start">Start now</a>
            </p>
            <h2 id="about-llc" class="heading-medium">2. About local land charges</h2>
            <p>Local land charges (LLC) are legal rights and restrictions on land. For example, a tree preservation order is a local land charge that stops you from cutting down a tree.</p>
            <h2 id="why-search" class="heading-medium">3. Why you need to search for local land charges</h2>
            <p>If you are thinking about buying a house, you need to find out if it has any local land charges on it. This is because local land charges affect what you can do on a property.</p>
            <p>This search is usually done by a conveyancer, but HM Land Registry also offers a search of the local land charges register for free. Use the free search to find out more about the property, to help you decide if you want to buy it.</p>
            <h2 id="difference" class="heading-medium">4. Difference between the free and &pound;15 search</h2>
            <p>tbc</p>
            <h3 class="heading-small">What the free search will show you</h3>
            <ul class="list list-bullet">
                <li>where the local land charge is</li>
                <li>description of the local land charge (what it does)</li>
                <li>date when the charge affects your property</li>
                <li>contact details for someone from the local authority who can answer questions about this local land charge</li>
            </ul>
            <h3 class="heading-small">What the &pound;15 search will show you</h3>
            <ul class="list list-bullet">
                <li>official search, guaranteed by HM Land Registry</li>
                <li>link to documents (you need this if you want to research a charge)</li>
                <li>local land charge boundary (shows where a charge starts and stops)</li>
            </ul>
            <h3 class="heading-small">WE NEED BENEFITS OF REGISTERING</h3>
            <h2 id="fees" class="heading-medium">5. Fees</h2>
            <table class="search-fees">
                <thead>
                    <tr>
                        <td>Free service</td>
                        <td>&pound;15 service</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Charge details<br>
                            <span class="form-hint">Including type of charge, date when it affects your property, contact details of the local authority)</span>
                        </td>
                        <td>Charge details<br>
                            <span class="form-hint">Including type of charge, date when it affects your property, contact details of the local authority)</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Local land charge boundary<br>
                            <span class="form-hint">Shows where a charge starts and stops</span>
                        </td>
                        <td>Local land charge boundary<br>
                            <span class="form-hint">Shows where a charge starts and stops</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>Unlimited downloads within 6 months of the initial search</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>Access to and ability to refresh individual searches for 6 months</td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>Links to documents<br>
                            <span class="form-hint">You need this if you want to find out more about a particular local land charge</span>
                        </td>
                    </tr>
                </tbody>
            </table>



        </div>
    </div>
</main>

{% endblock %}