{% extends "layout.html" %} {% block page_title %} Listed Building {% endblock %} {% block content %}
<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Listed Building</h1>
            <form action="#">
                <fieldset>
                    <legend class="visually-hidden">Listed Building</legend>
                    <div class="form-group">
                        <label id="financialLabel" class="block-label selection-button-radio" for="financial">
                  <input id="financial" name="planningLegislation" type="radio" value="Listed building">
                  Listed building
                  </label>
                        <label id="listedBuildingLabel" class="block-label selection-button-radio" for="listedBuilding">
                  <input id="listedBuilding" name="planningLegislation" type="radio" value="Conditional planning consent">
                  Conditional planning consent
                  </label>
                        <label id="landCompensationLabel" class="block-label selection-button-radio" for="landCompensation">
                  <input id="landCompensation" name="planningLegislation" type="radio" value="Enforcement notice">
                  Enforcement notice
                  </label>
                        <label id="conditionsLabel" class="block-label selection-button-radio" for="conditionPlanning">
                  <input id="conditionPlanning" name="planningLegislation" type="radio" value="Repairs notice">
                  Repairs notice
                  </label>

                        <label id="listedNoLabel" class="block-label selection-button-radio" for="planning">
                  <input id="planning" name="planningLegislation" type="radio" value="I don't know the charge category">
                  I don't know the charge category
                  </label>
                    </div>
                </fieldset>
                <p>
                    <a class="button" id="listedBuildingButton" role="button" href="what-does-charge-do">Continue</a>
                </p>
                <p id="back">
                    <a href="#" class="back-link">Back</a>
                </p>
            </form>
        </div>
    </div>
</main>
<script>
    document.getElementById('listedBuildingButton').onclick = function() {
        sessionStorage.setItem('listedBuilding', 'true');
        sessionStorage.setItem('amountKnown', '');
    }
    document.getElementById('listedBuildingButton').onclick = function() {
        var notKnown = document.getElementById('listedNoLabel');
        if (notKnown.classList.contains('selected')) {
            sessionStorage.setItem('returnLink', 'listed-building');
            document.getElementById('listedBuildingButton').setAttribute('href', 'contact-HMLR');
        }
    }
</script>
{% endblock %}