{% extends "layout.html" %} {% block page_title %} Address confirm {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Location for this charge</h1>
            <form action="#">

                <div class="form-group" id="search-field">
                    <fieldset>
                        <legend class="visuallyhidden">Location for this charge</legend>
                        <div class="form-group">
                            <h2 class="heading-medium">Is there an address for this charge?</h2>

                            <label id="yesAddressLabel" class="block-label selection-button-radio" for="yesAddress" data-target="addressEntry">
                                <input id="yesAddress" name="address" type="radio" value="yes" aria-controls="addressEntry">
                                                    Yes
                            </label>
                            <div class="js-hidden panel panel-border-narrow" id="addressEntry" aria-hidden="true" style="display: none;">

                                <div class="form-group" id="postcodeSearch">
                                    <h2 class="heading-small">Enter a postcode</h2>
                                    <input class="form-control search-field" id="search" name="search" type="text" autofocus="autofocus" value="">
                                    <a id="findPostcode" class="button" href="#" role="button">Find</a>
                                </div>
                                <p id="manualAddressLink"><a href="#">Enter address manually</a></p>
                                <div class="form-group hiddenList" id="addressList">
                                    <div class="results-block" id="address-list">
                                        <p>Click on the place you need.</p>
                                        <ol class="results-list">
                                            <li><a href="#" class="address-list">2 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">3 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">4 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">6 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">8 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">10 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">12 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">14 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">16 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">18 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">20 Okehampton Place</a></li>
                                        </ol>

                                        <br>
                                        <p>Can't find the place you need? <a href="search-property">Zoom to a place on the map</a></p>
                                    </div>

                                </div>
                                <div id="manualAddressEntry" class="hiddenList">
                                    <div class="form-group">
                                        <label class="form-label" for="addressLineOne">Address Line 1</label>
                                        <input class="form-control" name="addressLineOne" type="text" id="addressLineOne">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="addressLineTwo">Address Line 2</label>
                                        <input class="form-control" name="addressLineTwo" type="text" id="addressLineTwo">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="addressLineThree">Address Line 3</label>
                                        <input class="form-control" name="addressLineThree" type="text" id="addressLineThree">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="town">Town</label>
                                        <input class="form-control" name="town" type="text" id="town">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="county">County (optional)</label>
                                        <input class="form-control" name="county" type="text" id="county">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label" for="postcode">Postcode</label>
                                        <input class="form-control" name="postcode" type="text" id="postcode">
                                    </div>
                                </div>

                            </div>

                            <label id="noAddressLabel" class="block-label selection-button-radio" for="noAddress" data-target="noAddressEntry">
                                <input id="noAddress" name="address" type="radio" value="no">No
                            </label>
                            <div class="js-hidden panel panel-border-narrow" id="noAddressEntry" aria-hidden="true" style="display: none;">
                                <div class="form-group">
                                    <h2 class="heading-medium">Describe the location</h2>
                                    <span class="form-hint">For example, land to the north of the bypass.</span>
                                    <label class="form-label" for="textarea">
                                                
                                    </label>

                                    <textarea class="form-control form-control-3-4" name="textarea" id="locationDescription" rows="5"></textarea>
                                    <p><span class="form-hint">Answer must be shorter than 1000 characters (about 160 words)</span></p>
                                </div>
                            </div>


                        </div>








                        <p><a id="confirmAddressButton" href="does-charge-expire" class="button">Continue</a></p>
                    </fieldset>

                </div>

            </form>

        </div>
    </div>




</main>
<script>
    document.getElementById('findPostcode').onclick = function() {
        document.getElementById('addressList').classList.remove('hiddenList');
        document.getElementById('manualAddressLink').classList.add('hiddenList');
        return false;
    };

    document.getElementById('manualAddressLink').onclick = function() {
        document.getElementById('search').value = '';
        document.getElementById('manualAddressEntry').classList.remove('hiddenList');
        document.getElementById('manualAddressLink').classList.add('hiddenList');
        document.getElementById('postcodeSearch').classList.add('hiddenList');
        return false;
    };

    var addressList = document.querySelectorAll('.address-list');
    for (var i = 0; i < addressList.length; i++) {
        addressList[i].onclick = function() {
            document.getElementById('manualAddressEntry').classList.remove('hiddenList');
            document.getElementById('address-list').classList.add('hiddenList');
            var addressLineOne = this.text;
            document.getElementById('addressLineOne').value = addressLineOne;
            document.getElementById('town').value = 'Exeter';
            document.getElementById('postcode').value = 'EX4 1AY';
            return false;
        }
    }

    document.getElementById('confirmAddressButton').onclick = function() {
        var addressLineOne = document.getElementById('addressLineOne').value;
        var addressLineTwo = document.getElementById('addressLineTwo').value;
        var addressLineThree = document.getElementById('addressLineThree').value;
        var town = document.getElementById('town').value;
        var county = document.getElementById('county').value;
        var postcode = document.getElementById('postcode').value;

        var newAddress = addressLineOne + ' ' + addressLineTwo + ' ' + addressLineThree + ' ' + town + ' ' + county + ' ' + postcode;

        sessionStorage.setItem('newAddress', newAddress);
    }

    document.getElementById('confirmAddressButton').onclick = function() {
        var locationDescription = document.getElementById('locationDescription').value;
        sessionStorage.setItem('locationDescription', locationDescription);
    }
</script>
{% endblock %}