{% extends "layout.html" %} {% block page_title %} More charge categories {% endblock %} {% block content %}
<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">More charge categories</h1>
            <form action="#">
                <fieldset>
                    <legend class="visually-hidden">More charge categories</legend>
                    <div class="form-group">
                        <label id="financialLabel" class="block-label selection-button-radio" for="financial">
                  <input id="financial" name="planningLegislation" type="radio" value="Ancient monuments">
                  Ancient monuments
                  </label>
                        <label id="listedBuildingLabel" class="block-label selection-button-radio" for="listedBuilding">
                  <input id="listedBuilding" name="planningLegislation" type="radio" value="Assets of community value">
                  Assets of community value
                  </label>
                        <label id="landCompensationLabel" class="block-label selection-button-radio" for="landCompensation">
                  <input id="landCompensation" name="planningLegislation" type="radio" value="Compulsory purchase order">
                  Compulsory purchase order
                  </label>
                        <label id="conditionsLabel" class="block-label selection-button-radio" for="conditionPlanning">
                  <input id="conditionPlanning" name="planningLegislation" type="radio" value="Section 278 agreement">
                  Improve a highway
                  </label>
                        <label id="enforcementLabel" class="block-label selection-button-radio" for="enforcementNotice">
                  <input id="enforcementNotice" name="planningLegislation" type="radio" value="Smoke control order">
                  Smoke control order
                  </label>
                        <label id="noPermitLabel" class="block-label selection-button-radio" for="noPermit">
                  <input id="noPermit" name="planningLegislation" type="radio" value="Site of Special Scientific Interest (SSSI)">
                  Site of special scientific Interest (SSSI)
                  </label>
                        <label id="planningLabel" class="block-label selection-button-radio" for="planning">
                  <input id="planning" name="planningLegislation" type="radio" value="I don't know the charge category">
                  I don't know the charge category
                  </label>
                    </div>
                </fieldset>
                <p>
                    <a class="button" id="otherButton" role="button" href="what-does-charge-do">Continue</a>
                </p>
                <p id="back">
                    <a href="#" class="back-link">Back</a>
                </p>
            </form>
        </div>
    </div>
</main>
<script>
    var chargeTypeIsChanging = sessionStorage.getItem('chargeTypeIsChanging');
    console.log(chargeTypeIsChanging);
    if (chargeTypeIsChanging === 'true') {
        var chargeTypeToChange = sessionStorage.getItem('chargeTypeToChange');
        if (chargeTypeToChange === 'Planning') {
            document.getElementById('planningLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Financial') {
            document.getElementById('financialLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Listed Building') {
            document.getElementById('listedBuildingLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Land Compensation') {
            document.getElementById('landCompensationLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Housing') {
            document.getElementById('housingLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Light Obstruction Notice') {
            document.getElementById('lonLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Other') {
            document.getElementById('otherLabel').classList.add('selected');
        }

        document.getElementById('typeOfChargeButton').setAttribute('href', 'date-document-created');
        sessionStorage.setItem('chargeTypeUpdated', 'true');
    }

    document.getElementById('otherButton').onclick = function() {
        sessionStorage.setItem('other', 'true');
    }
</script>
{% endblock %}