{% extends "layout.html" %} {% block page_title %} Is there a link where the documents are held? {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong></p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Is there a link where documents are held?</h1>

            <form action="document-link" method="GET">
                <fieldset>
                    <legend class="visually-hidden form-label">Is there a link where documents are held?</legend>

                    <div class="form-group">

                        <label id="yesLinkLabel" class="block-label selection-button-radio" for="yesLink" data-target="yesLinkForm">
							<input id="yesLink" name="link" type="radio" value="yes" aria-controls="yesLinkForm">
							Yes
                        </label>
                        <div class="js-hidden panel panel-border-narrow" id="yesLinkForm" aria-hidden="true" style="display: none;">

                            <fieldset>
                                <legend class="form-label-bold">Link address</legend>
                                <span class="form-hint">For example, a link to a planning portal</span>
                                <input id="link" class="form-control" type="text">

                            </fieldset>
                            <br>

                        </div>
                        <label id="noLinkLabel" class="block-label selection-button-radio no" for="noLink">
							<input id="noLink" name="link" type="radio" value="no">
							No
						</label>
                    </div>




                </fieldset>

            </form>
            <div class="form-group">
                <a id="linkButton" class="button" href="who-can-answer-questions" role="button">Continue</a>

            </div>

            <div id="back">
                <a href="/add_charge/v4-2/originating-authority-details" class="back-link">Back</a>
            </div>

        </div>


    </div>

</main>
<script>
    var linkIsChanging = sessionStorage.getItem('linkIsChanging');
    if (linkIsChanging === 'true') {
        var linkToChange = sessionStorage.getItem('linkToChange');
        document.getElementById('yesLinkLabel').classList.add('selected');
        document.getElementById('link').value = linkToChange;
        document.getElementById('linkButton').setAttribute('href', 'charge-summary');
        sessionStorage.setItem('linkUpdated', 'true');
    };

    document.getElementById('linkButton').onclick = function() {
        var yesLink = document.getElementById('yesLinkLabel');
        var noLink = document.getElementById('noLinkLabel');
        if (noLink.classList.contains('selected')) {
            sessionStorage.setItem('linkExists', 'false');
        } else if (yesLink.classList.contains('selected')) {
            sessionStorage.setItem('linkExists', 'true');
            var linkLocation = document.getElementById('link').value;
            sessionStorage.setItem('linkLocation', linkLocation);
        }
    }
</script>
{% endblock %}