{% extends "layout.html" %}

{% block page_title %}
WWhat do you want to do ?
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">What do you want to do ?</h1>

			<h2 class="heading-medium">Local land charges</h2>
			<ul class="list">
				<li><a href="type-of-charge">Add a charge </a></li>
				<li><a href="#">Add a charge for another organisation</a></li>
				<li><a href="#">Add a Light Obstruction Notice (LON) charge 	</a></li>
				<li><a href="#">Find, edit or cancel a charge</a></li>
			</ul>

			<h2 class="heading-medium">Official search result </h2>
			<ul class="list">
				<li><a href="#">New search result</a></li>
				<li><a href="#">Find a search result	</a></li>
			</ul>

			<h2 class="heading-medium">Manage users </h2>
			<ul class="list">
				<li><a href="#">Add a user</a></li>
				<li><a href="#">Find, edit or archive a user</a></li>
			</ul>

		</div>


		<div class="column-third">
	

		</div>

	</div>

</main>
{% endblock %}


