{% extends "layout.html" %}

{% block page_title %}
What type of charge do you wish to register?
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">What type of charge do you wish to register? </h1>

			
			<ul class="list">
				<li><a href="planning">
					Planning
				</a></li>
				<li><a href="financial">
					Financial
				</a></li>
				<li><a href="listed-building">
					Listed Building
				</a></li>
				<li><a href="land-compensation">
					Land Compensation
				</a></li>
				<li><a href="land-compensation">
					Other
				</a></li>
			</ul>


			<div id="back">
			<a href="start-llc" class="back-link">Back</a>
			</div>

		</div>


		<div class="column-third related-container">

			<aside class="govuk-related-items" role="complementary">
					<hr>
				<h2 class="heading-medium">
					Can't find the law you need?
				</h2>

					<ul role="navigation" class="list">
						<li>
							<a href="#">Search all local land charge laws</a>
						</li>

					</ul>

			</aside>

		</div>

	</div>

</main>
{% endblock %}



