{% extends "layout.html" %} {% block page_title %} Add more information about the location {% endblock %} {% block content%}
<main id="content">
  <div class="grid-row">
    <form method="post" action="/admin/user/add/role" class="column-full">
      {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} 
      {% block breadcrumb %}{% import "includes/breadcrumb_examples.html" as breadcrumb %} 
      {{ breadcrumb.backButton() }}{% endblock %}
      <h1 class="heading-large">User role</h1>
      <fieldset>
        <legend class="visuallyhidden">List of user roles</legend>
        <p id="user_role">What type of user are you adding?</p>
        <div class="form-group ">

          <label class="block-label selection-button-radio" for="LLC LA Admins">
                  <input id="LLC LA Admins" type="radio"  name="user_role" value="LLC LA Admins">
                  Local Authority User
                  <span class="form-hint">
                    Can add, change or delete charges
                  </span>
                </label>
          <label class="block-label selection-button-radio" for="LLC LA Users">
                  <input id="LLC LA Users" type="radio"  name="user_role" value="LLC LA Users">
                  Local Authority Administrator
                  <span class="form-hint">
                    Can add, change or delete:
                    <li>charges</li>
                    <li>other users</li>
                  </span>
                </label>
          <label class="block-label selection-button-radio" for="LLC LA Admins">
                  <input id="LLC LR Users" type="radio"  name="user_role" value="LLC LR Users">
                  Land Registry User
                  <span class="form-hint">
                    Can add, change or delete other users.
                  </span>
                </label>
          <label class="block-label selection-button-radio" for="LLC LA Users">
                  <input id="LLC LR Admins" type="radio"  name="user_role" value="LLC LR Admins">
                  Land Registry Administrator
                  <span class="form-hint">
                    Can add, change or delete:
                    <li>charges</li>
                    <li>other users</li>
                  </span>
                </label>
        </div>
      </fieldset>
          <a class="button" href="add-user-details" role="button">Continue</a>
    </form>
  </div>
  </div>
</main>
{% endblock %}