{% extends "layout.html" %} {% block page_title %} Confirm details {% endblock %} {% block content %}
<main id="content">
  <!-- alpha banner -->
  {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} {% block breadcrumb %}{% import "includes/breadcrumb_examples.html"
  as breadcrumb %} {{ breadcrumb.backButton() }}{% endblock %}
  <form action="add-user-confirm" method="POST">
    <div class="grid-row">
      <div class=" form-group column-full">
        <h1 class="heading-large">Confirm details</h1>
        <h1 class="heading-medium">Please confirm that the information below is correct</h1>
        <table>
          <tbody>
            <tr>
              <!-- row 1 -->
              <th scope="row">First name</th>
              <td>Jane</td>
            </tr>
            <tr>
              <!-- row 2 -->
              <th scope="row">Last name</th>
              <td>Doe</td>
            </tr>
            <tr>
              <!-- row 3 -->
              <th scope="row">Email</th>
              <td>jane.doe@landregistry.gov.uk</td>
            </tr>
            <tr>
              <!-- row 4 -->
              <th scope="row">Organisation</th>
              <td>HM Land Registry</td>
            </tr>
            <tr>
              <!-- row 5 -->
              <th scope="row">Role</th>
            {% if admin %}
              <td>Land Registry Administrator</td>
            {% else %}
              <td>Originating Authority Administrator</td>
            {% endif %}
            </tr>
            <tr>
              <!-- row 6 -->
              <th scope="row">Status</th>
              <td>User invited</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-group">
      <a href="edit-user-role">Change user details</a></p>
    </div>
    <div class="form-group">
      <!--<a class="button" href="search" role="button">Confirm</a>-->
      <input class="button" type="submit" value="Confirm and add user">
    </div>
  </form>
</main>
{% endblock %}