{% extends "layout.html" %} {% block page_title %} Add more information about the location {% endblock %} {% block content%}
<main id="content">
  {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} 
  {% block breadcrumb %}{% import "includes/breadcrumb_examples.html" as breadcrumb %} 
  {{ breadcrumb.backButton('add-user-role') }}{% endblock %}
  <div class="grid-row">
    <div class="column-full">
      
      <h1 class="heading-large">Add user details</h1>
      <form method="post" action="/admin/user/add/details">
        <div class="form-group ">
          <label class="form-label" for="first_name">First name</label>
          
          <input class="form-control" id="first_name" name="first_name" type="text"  >
        </div>
        <div class="form-group ">
          <label class="form-label" for="surname">Last name</label>
          
          <input class="form-control" id="surname" name="surname" type="text" >
        </div>
        <div class="form-group ">
          <label class="form-label" for="email">Email</label>
          
          <input class="form-control" id="email" name="email" type="text" >
        </div>
        
          
            <div class="form-group ">
              <label class="form-label" for="organisation">Organisation</label>
              
              <select id="organisation"  name="organisation" class="form-control" >
                
                    <option value="City of Birmingham" >City of Birmingham</option>
                
                    <option value="City of Bristol" >City of Bristol</option>
                
                    <option value="City of Leeds" >City of Leeds</option>
                
                    <option value="City of Liverpool" >City of Liverpool</option>
                
                    <option value="City of London" >City of London</option>
                
                    <option value="City of Manchester" >City of Manchester</option>
                
                    <option value="City of Newcastle" >City of Newcastle</option>
                
                    <option value="City of Sheffield" >City of Sheffield</option>
                
                    <option value="City of Sunderland" >City of Sunderland</option>
                
              </select>
            </div>
          <a class="button" href="add-user-confirm" role="button">Continue</a>
      </form>
    </div>
  </div>
</main>
{% endblock %}