{% extends "layout.html" %}

{% block page_title %}
Confirm details
{% endblock %}

{% block content %}
<main id="content">
  	<!-- alpha banner -->
  {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} 
	{% block breadcrumb %}{% import "includes/breadcrumb_examples.html" as breadcrumb %}
  {{ breadcrumb.backButton('', 'Account Management') }}
  {% endblock %}
  <div class="grid-row">
    <div class="column-full">      
      <h1 class="heading-large">About the user</h1>
      <table>
        <tbody>
          <tr> <!-- row 1 -->
            <th scope="row">First name</th>
            <td>Jane</td>
          </tr>
          <tr> <!-- row 2 -->
            <th scope="row">Last name</th>
            <td>Doe</td>
          </tr>
          <tr> <!-- row 3 -->
            <th scope="row">Email</th>
            <td>jane.doe@landregistry.gov.uk</td>
          </tr>
          <tr> <!-- row 4 -->
            <th scope="row">Organisation</th>
            <td>HM Land Registry</td>
          </tr>
          <tr> <!-- row 5 -->
            <th scope="row">Role</th>
            <td>Land Registry Admin</td>
          </tr>
          <tr> <!-- row 6 -->
            <th scope="row">Status</th>
            <td>Inactive</td>
          </tr>
        </tbody>
      </table><br>
        
        <p><a href="/admin/user/edit/details">Change user details</a></p>
        <br>
        
        
        <p><a href="/admin/user/add/role">Add a new user</a></p>
        
        <p><a href="/admin">Search for another user</a></p>
      </div>
    </div>
  </main>
  {% endblock %}