{% extends "layout_citizen.html" %} {% block page_title %} Account Management {% endblock %} {% block content %}

<main id="content" role="main">
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-medium">
				Account Management
			</h1>
			<h2 class="heading-small"><a href="v1/search">Version 1</a><code> Last updated 19/07/2017</code></h2>
			<li>Initial HTML version</li>
		</div>
	</div>
</main>

{% endblock %}