{% extends "layout.html" %} {% block page_title %} Update user details {% endblock %} {% block content%}
<main id="content">
  {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} 
  {% block breadcrumb %}{% import "includes/breadcrumb_examples.html" as breadcrumb %} 
  {{ breadcrumb.backButton() }}{% endblock %}
  <div class="grid-row">
    <div class="column-full">
      <div class="form-group">
          <h1 class="heading-large">Add user details</h1>
      </div>
      <form method="post" action="/admin/user/add/details">
        <div class="form-group ">
          <label class="form-label" for="first_name">First name</label>

          <input class="form-control" id="first_name" name="first_name" type="text" value="Jane">
        </div>
        <div class="form-group ">
          <label class="form-label" for="surname">Last name</label>

          <input class="form-control" id="surname" name="surname" type="text" value="Doe">
        </div>
        <div class="form-group ">
          <label class="form-label" for="email">Email</label>

          <input class="form-control" id="email" name="email" type="text" value="jane.doe@landregistry.gov.uk">
        </div>


        <div class="form-group ">
          <label class="form-label" for="organisation">Organisation</label>

          <select id="organisation" name="organisation" class="form-control">

                    <option selected value="City of Birmingham" >HM Land Registry</option>

                    <option value="City of Birmingham" >City of Birmingham</option>
                
                    <option value="City of Bristol" >City of Bristol</option>
                
                    <option value="City of Leeds" >City of Leeds</option>
                
                    <option value="City of Liverpool" >City of Liverpool</option>
                
                    <option value="City of London" >City of London</option>
                
                    <option value="City of Manchester" >City of Manchester</option>
                
                    <option value="City of Newcastle" >City of Newcastle</option>
                
                    <option value="City of Sheffield" >City of Sheffield</option>
                
                    <option value="City of Sunderland" >City of Sunderland</option>
                
              </select>
        </div>

          <fieldset>
            <legend class="visuallyhidden">Role</legend>
            <h1 class="heading-medium">Role</h1>
            <div class="form-group ">
              <label class="block-label selection-button-radio" for="LLC LA Admins">
                    <input id="LLC LR Users" type="radio"  name="user_role" value="LLC LR Users">
                    Land Registry User
                    <span class="form-hint">
                      Can add, change or delete other users.
                    </span>
                  </label>
              <label class="block-label selection-button-radio" for="LLC LA Users">
                    <input id="LLC LR Admins" type="radio"  name="user_role" value="LLC LR Admins" checked>
                    Land Registry Administrator
                    <span class="form-hint">
                      Can add, change or delete:
                      <li>charges</li>
                      <li>other users</li>
                    </span>
                  </label>
            </div>
          </fieldset>
        
        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Status</legend>
            <h1 class="heading-medium">Status</h1>
            <p>User invited</p>
          </fieldset>
        </div>
        
        <div class="form-group">
          <a class="button" href="update-user-confirm" role="button">Update</a>
        </div>
      </form>
    </div>
  </div>
</main>
{% endblock %}