{% extends "layout.html" %}

{% block page_title %}
What do you want to do?
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
  {% block phase_banner %}{% include "includes/phase_banner_beta.html" %}{% endblock %} 
	{% block breadcrumb %}{% import "includes/breadcrumb_examples.html" as breadcrumb %}
  {{ breadcrumb.backButton('', 'Account Management') }}
  {% endblock %}
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Welcome Jane Doe</h1>
			<h1 class="heading-medium">What do you want to do?</h1>
			<form action="welcome" method="POST">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">What do you want to do?</legend>
						<div class="form-group-welcome">
							<label class="block-label selection-button-radio" for="welcome-1">
								<input id="welcome-1" name="welcome" type="radio" value="find a local land charge (llc)">
								Search for a Local Land Charge (LLC)
							</label>
							<label class="block-label selection-button-radio" for="welcome-2">
								<input id="welcome-2" name="welcome" type="radio" value="add a new llc">
								Add a new LLC
							</label>
							<label class="block-label selection-button-radio" for="welcome-3">
								<input id="welcome-3" name="welcome" type="radio" value="change a llc">
								Change a LLC
							</label>
							<label class="block-label selection-button-radio" for="welcome-4">
								<input id="welcome-4" name="welcome" type="radio" value="cancel a llc">
								Cancel a LLC
							</label>
							<!--<label class="block-label selection-button-radio" for="welcome-5">
								<input id="welcome-5" name="welcome" type="radio" value="Manage users">
								Manage users
							</label>-->
						</div>
					</fieldset>
				</div>
				<div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>
			</form>
		</div>
	</div>
</main>
{% endblock %}


