{% extends "layout_map.html" %}

{% block page_title %}
Search for a charge
{% endblock %}

{% block content %}


<!-- alpha banner -->
<div class="phase-banner map-phase-banner">
  <p><strong class="phase-tag">BETA</strong></p>
</div>
<!-- main content starts -->
<div id="map" style="width: 100%">
  <!-- map goes in here -->
</div>
<div id="search-panel">
  <h1 class="heading-medium">Where do you want to add the chrge?</h1>
  <form action="map-results" method="GET">
<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">Where do you want to add the charge?</legend>
						<div class="form-group">
							<label class="form-label" for="search-term">
								<strong>Enter an address to start. You can also search by:
									<ul class="list list-bullet">
										<li>postcode</li>
										<li>town</li>
										<li>road</li>
										<li>Unique Property Reference Number (UPRN)</li>
									</ul></strong>
								</label>

								<div class="form-group">
									<p>You will see a map showing this address on the next page. Use this map to start drawing the extent.</p>
								</div>
								<div class="form-group spacing-bottom-half">
									<input class="form-control search-field" id="location" name="location" type="text" value="" autofocus="autofocus">
									<!--<input class="search-button submit location-search" type="submit" value="Search"><br><br>-->
									<a class="button" href="06_map?source=search" role="button">Search</a>
								</div>
								<div class="form-group">
									<p>No address for this charge? Start with the map and scroll to the location instead</p>
								</div>
								<div class="form-group">
									<span class="heading-small">Do you have an extent saved on file?</span> 
									<details role="group">

										<summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Upload the file</span></summary>

										<div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">

											<span>Accepted formats are:</span>
											<ul class="list list-bullet">
												<li>shapefile (.shp)</li>
												<li>under 1MB</li>
											</ul>
											
											<label class="form-label" for="file-input">
												Upload a file
											</label>
											<input type="file" id="file-input"><br><br>
											<div class="form-group">
												<a class="button shape-button" href="check-charge-boundary">Continue</a>
											</div>
										</div>
									</details></div></div></fieldset>
								</div>
          </form>
</div>
<div class="panel-control close">
  <img src="{{ asset_path }}images/arrow_collapse.png">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    var closePanel = function() {
      $("#search-panel").animate({
        "margin-left": "-1000px"
      }, 100);
      $(".panel-control").removeClass("close");
      $(".panel-control").addClass("open-button");
      $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
    }

    var openPanel = function() {
      $("#search-panel").animate({
        "margin-left": "0"
      }, 100);
      $(".panel-control").removeClass("open-button");
      $(".panel-control").addClass("close");
      $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
    }

    $(".panel-control").click(function() {
      if($(this).hasClass("close")) {
        closePanel();
      } else {
        openPanel();
      }
    });

    $("#map-search-button").click(function() {
      var searchedTerm = $("#maintain-map-search").val();
      sessionStorage.setItem("searchedTerm", searchedTerm);
    })
  });
</script>

{% endblock %}
{% block body_end_additional %}
    {% include "includes/map_scripts.html" %}
    <script src="/public/javascripts/map/search/llc_layer_styles.js"></script>
    <script src="/public/javascripts/map/search/local_land_charges_layer.js"></script>
    <script src="/public/javascripts/map/search/map_events.js"></script>
    <script src="/public/javascripts/map/search/sample_data.js"></script>
    <script src="/public/javascripts/map/search/search.js"></script>
    <script>
      map.getControls().clear();
      zoomslider = new ol.control.Zoom();
      map.addControl(zoomslider);
     var geometry = "{{ geometry }}";
      MAP_HELPERS.zoom_map(geometry);
    </script>
    {% endblock %}