{% extends "layout_citizen.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}
<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">
                Download your official search result of local land charges

            </h1>
            <p>Choose a format to download your official search result. Keep a copy for your records. You won't be able to download this result again, unless you have registered for an account with us.
            </p>
        </div>

        <div class="column-two-thirds">
            <div class="form-group">
                <a class="button" href="/public/documents/Offical-local-land-search-result.pdf" download>Download PDF</a>
                <h2 class="heading-medium">Other formats</h2>
                <table class="check-your-answers">
                    <!--<thead>
                        <tr>
                            <th><span class="visuallyhidden">Formay</span></th>
                            <th><span class="visuallyhidden">#</span></th>
                            <th><span class="visuallyhidden">Download link</span></th>
                        </tr>
                    </thead> -->

                    <tbody>
                        <tr>
                            <td class="bold-small">JSON</td>
                            <td id="chargeType"></td>
                            <td class="change-answer">
                                <a class="edit" href="#">
								Download
							</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold-small">CSV</td>
                            <td id="chargeType"></td>
                            <td class="change-answer">
                                <a class="edit" href="#">
								Download
							</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="bold-small">XML</td>
                            <td id="chargeType"></td>
                            <td class="change-answer">
                                <a class="edit" href="#">
								Download
							</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="../search">Search again</a></p>
        </div>
    </div>
</main>

{% endblock %}