{% extends "layout_citizen.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock
%} {% block content %}

<main id="content" role="main">

  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
    </p>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Search request: see a list of local land charges on a property
      </h1>

      <p>Get an official local land charges search result for any property in England, even if you don’t own it. Search by address
        to find local land charges on or near a property.</p>

      <div class="form-group">
        <div class="panel panel-border-narrow">
          <p>This is recommended if you are buying or selling a property, or if you are taking a land dispute to court.</p>
        </div>
      </div>
      <p>
        <a class="button button-start" href="search" role="button" id="start">Start now</a>
      </p>
      <h3 class="heading-medium">Before you start</h3>
      <p>Read <a href="">guidance on getting information about property and land</a>, including alternative sources of information.</p>
      <h3 class="heading-medium">Fees</h3>
      <table>
        <thead>
          <tr>
            <th>Documents (each)</th>
            <th>Fee</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Local land charge official search</td>
            <td>£15.00</td>
          </tr>
        </tbody>
      </table>
      <h3 class="heading-medium">Help</h3>
      <p><a href="">Contact HM Land Registry</a> if you need help using this service.</p>
    </div>

</main>

{% endblock %}