{% extends "layout.html" %}

{% block page_title %}
Maintain a local land charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-medium">
				Maintain LLC version history
			</h1>
			<h2 class="heading-small"><a href="v1-3/start">Version 1.3</a></h2>
			<p>Added the charge history journey</a> - 27 April 2017</p>
			<h2 class="heading-small"><a href="v1-2/start">Version 1.2</a> Wednesday 12 April 2017</h2>
			<p>Updates made for <a href="https://drive.google.com/open?id=0B9YYU3QZs6-1UzFCcHVzeDg1b2M">content changes</a></p>
			<h2 class="heading-small"><a href="v1-1/start">Version 1.1</a></h2>
			<h2 class="heading-small"><a href="v1/start">Version 1</a></h2>
		</div>
	</div>
</main>

{% endblock %}


