{% extends "layout.html" %} {% block page_title %} Contact HM Land Registry {% endblock %} {% block content %}
<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
                <a href="subcategory-page" class="link-back" style="margin-bottom:0">Back</a>
            <h1 class="heading-large">Contact HM Land Registry</h1>
            <br>
            <div class="notice">
                <span class="icon icon-important">
            <span class="visually-hidden">Warning</span>
                </span>
                <strong class="bold-small" style="line-height:2em">
            You can't add a charge unless you know the charge category.
            </strong>
            </div>
            <br>
            <div class="panel panel-border-wide">
                <p>Email HM Land Registry to get a type for this charge:
                    <strong class="bold-small">LocalLandCharges@landregistry.gov.uk</strong>.
                </p>
            </div>
            <br>

            <br>
            <details>
                <summary><span class="summary">Why can't I add this charge without a charge category?</span></summary>
                <div class="panel panel-border-narrow">
                    <p>If someone takes a dispute to court that involves this charge, they will need to know what type of charge it is.</p>
                    <p>This tells us the legal right or restriction on land. Without this information, we don't know what the charge does.</p>

                </div>
            </details>
        </div>
    </div>
</main>
<script>
    document.getElementById('backLink').onclick = function() {
        var returnLinkRetrieved = sessionStorage.getItem('returnLink');
        this.setAttribute('href', returnLinkRetrieved);
    }
</script>
{% endblock %}