{% extends "layout.html" %} {% block page_title %} Select a subcategory {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Choose a charge category</h1>
            <div class="notice">
                <i class="icon icon-information" style="background-image:url(/public/images/icon-information-2x.png); margin-right: 0.5em"></i> 
                <p style="line-height:1.5em"><a href="contact-HMLR">I don't know the charge category</a></p>
            </div>
            <div class="grid-row">
                <div class="column-one-half">
                    <h2 class="heading-small">A</h2>
                    <ul class="list">
                        <li><a href="#">Ancient monuments</a></li>
                        <li><a href="#">Approval under house in multiple occupation (HMO)</a></li>
                        <li><a href="#">Article 4</a></li>
                        <li><a href="#">Assets of community value</a></li>
                    </ul>
                    <h2 class="heading-small">B</h2>
                    <ul class="list">
                        <li><a href="#">Breach of conditions</a></li>
                    </ul>
                    <h2 class="heading-small">C</h2>
                    <ul class="list">
                        <li><a href="#">Change a development</a></li>
                        <li><a href="#">Conservation area </a></li>
                        <li><a href="#">Conditional planning consent</a></li>
                        <li><a href="#">Compulsory purchase order</a></li>
                    </ul>
                    <h2 class="heading-small">E</h2>
                    <ul class="list">
                        <li><a href="#">Enforcement notice (listed building)</a></li>
                        <li><a href="#">Enforcement notice (planning)</a></li>
                    </ul>
                    <h2 class="heading-small">F</h2>
                    <ul class="list">
                        <li><a href="#">Financial</a></li>
                    </ul>
                    <h2 class="heading-small">G</h2>
                    <ul class="list">
                        <li><a href="#">Grant</a></li>
                    </ul>
                </div>
                <div class="column-one-half">
                    <h2 class="heading-small">I</h2>
                    <ul class="list">
                        <li><a href="#">Improve a highway</a></li>
                        <li><a href="#">Interim certificate under HMO</a></li>
                    </ul>
                    <h2 class="heading-small">L</h2>
                    <ul class="list">
                        <li><a href="#">Land compensation</a></li>
                        <li><a href="#">Listed building</a></li>
                        <li><a href="#">Listed building conditional planning consent</a></li>
                    </ul>
                    <h2 class="heading-small">N</h2>
                    <ul class="list">
                        <li><a href="#">Notice of works or repairs</a></li>
                    </ul>
                    <h2 class="heading-small">P</h2>
                    <ul class="list">
                        <li><a href="#">Planning notices</a></li>
                        <li><a href="#">Planning agreement </a></li>
                    </ul>
                    <h2 class="heading-small">R</h2>
                    <ul class="list">
                        <li><a href="#">Repairs notice</a></li>
                        <li><a href="#">Re-approval of grant</a></li>
                        <li><a href="#">Re-approval under HMO</a></li>
                    </ul>
                    <h2 class="heading-small">S</h2>
                    <ul class="list">
                        <li><a href="#">Smoke control order</a></li>
                        <li><a href="#">Site of special scientific interest (SSSI)</a></li>
                    </ul>
                    <h2 class="heading-small">T</h2>
                    <ul class="list">
                        <li><a href="#">Tree preservation order (TPO) </a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</main>
{% endblock %}