{% extends "layout.html" %} {% block page_title %} Select a subcategory {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Choose a charge</h1>
            <ol class="alphabet-list">
                <li><a href="#" class="letter-control-a">A</a></li>
                <li><a href="#" class="letter-control-b">B</a></li>
                <li><a href="#" class="letter-control-c">C</a></li>
                <li>D</li>
                <li><a href="#" class="letter-control-e">E</a></li>
                <li><a href="#" class="letter-control-f">F</a></li>
                <li><a href="#" class="letter-control-g">G</a></li>
                <li><a href="#" class="letter-control-h">H</a></li>
                <li><a href="#" class="letter-control-i">I</a></li>
                <li>J</li>
                <li>K</li>
                <li><a href="#" class="letter-control-l">L</a></li>
                <li>M</li>
                <li><a href="#" class="letter-control-n">N</a></li>
                <li>O</li>
                <li><a href="#" class="letter-control-p">P</a></li>
                <li>Q</li>
                <li><a href="#" class="letter-control-r">R</a></li>
                <li><a href="#" class="letter-control-s">S</a></li>
                <li><a href="#" class="letter-control-t">T</a></li>
                <li>U</li>
                <li>V</li>
                <li>W</li>
                <li>X</li>
                <li>Y</li>
                <li>Z</li>
                <li>0-9</li>

            </ol>
            
            <div class="grid-row">
                <div class="column-two-thirds">
                    <div class="letter letter-a">
                        <h2 class="heading-medium">A</h2>
                        <ul class="list">
                            <li><a href="#">Ancient monuments</a></li>
                            <li><a href="#">Approval under house in multiple occupation (HMO)</a></li>
                            <li><a href="#">Article 4</a></li>
                            <li><a href="#">Assets of community value</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-b hiddenList">
                        <h2 class="heading-medium">B</h2>
                        <ul class="list">
                            <li><a href="#">Breach of conditions</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-c hiddenList">
                        <h2 class="heading-medium">C</h2>
                        <ul class="list">
                            <li><a href="#">Change a development</a></li>
                            <li><a href="#">Conservation area </a></li>
                            <li><a href="#">Conditional planning consent</a></li>
                            <li><a href="#">Compulsory purchase order</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-e hiddenList">
                        <h2 class="heading-medium">E</h2>
                        <ul class="list">
                            <li><a href="#">Enforcement notice (listed building)</a></li>
                            <li><a href="#">Enforcement notice (planning)</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-f hiddenList">
                        <h2 class="heading-medium">F</h2>
                        <ul class="list">
                            <li><a href="#">Financial</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-g hiddenList">
                        <h2 class="heading-medium">G</h2>
                        <ul class="list">
                            <li><a href="#">Grant</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-h hiddenList">
                        <h2 class="heading-medium">H</h2>
                        <ul class="list">
                            <li><a href="#">Highways</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-i hiddenList">>
                        <h2 class="heading-medium">I</h2>
                        <ul class="list">
                            <li><a href="#">Interim certificate under HMO</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-l hiddenList">
                    <h2 class="heading-medium">L</h2>
                        <ul class="list">
                            <li><a href="#">Land compensation</a></li>
                            <li><a href="#">Licences</a></li>
                            <li><a href="#">Listed building</a></li>
                            <li><a href="#">Listed building conditional planning consent</a></li>
                            <li><a href="#">Local acts</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-n hiddenList">
                        <h2 class="heading-medium">N</h2>
                        <ul class="list">
                            <li><a href="#">Notice of works or repairs</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-p hiddenList">
                        <h2 class="heading-medium">P</h2>
                        <ul class="list">
                            <li><a href="#">Planning notices</a></li>
                            <li><a href="#">Planning agreement</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-r hiddenList">
                        <h2 class="heading-medium">R</h2>
                        <ul class="list">
                            <li><a href="#">Repairs notice</a></li>
                            <li><a href="#">Re-approval of grant</a></li>
                            <li><a href="#">Re-approval under HMO</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-s hiddenList">
                        <h2 class="heading-medium">S</h2>
                        <ul class="list">
                            <li><a href="#">Smoke control order</a></li>
                            <li><a href="#">Site of special scientific interest (SSSI)</a></li>
                        </ul>
                    </div>
                    <div class="letter letter-t hiddenList">
                        <h2 class="heading-medium">T</h2>
                        <ul class="list">
                            <li><a href="#">Tree preservation order (TPO)</a></li>
                        </ul>
                    </div>               
                    
                </div>
            </div>
            <div class="notice" style="border-top:1px solid #BFC1C3; padding-top: 1em;">
                <i class="icon icon-information" style="background-image:url(/public/images/icon-information.png); margin-right: 0.5em"></i> 
                <p style="line-height:1.5em"><a href="stat-prov-without-category">I don't know the charge category</a></p>
            </div>
        </div>

    </div>

</main>
{% endblock %}