{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Register a local land charge</h1>
      <h2 class="heading-medium">What does the local land charge relate to?</h2>
      <div class="browse-pane">
        <div class="column-third control">
          <ul>
            <li><a href="list1">Planning</a></li>
            <li><a href="list2">Miscellaneous</a></li>
            <li><a href="list3">Listed building</a></li>
            <li><a href="list4">General financial</a></li>
          </ul>
        </div>
        <div class="column-two-thirds result_1" id="result_1">
        </div>
      </div>
    </div>
  </div>

</main>

{% endblock %}
