{% extends "layout.html" %}

{% block page_title %}
Find the place that the charge affects
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Add a <span class="charge_type"></span> charge </h1>
      <h2 class="heading-medium">Where is the charge?</h2>
      <p>Enter a postcode, place name or Unique Property Reference Number (UPRN) to describe the location of your charge.</p>
      <form action="#" method="POST">
        <div class="form-group">
          <fieldset>
            <legend class="visuallyhidden">Where is the charge?</legend>


            <div class="form-group spacing-bottom-half ">

              <label class="form-label" for="search_term">
                Postcode, place name, or UPRN
              </label>
              <span class="form-hint">For example SW1A 2AA or Manchester</span>

              <input class="form-control postcode_field" id="search_term" name="search_term" type="text" value="" autofocus="autofocus"><a class="button postcode_button search" id="targetToChange" href="register_32-where-search-results" role="button">Search</a><br><br>

              <p class="form-block">or</p>
              <p> <a href="register_33-map-search">Search using a map</a></p>
            </div>
          </div>
        </fieldset>
      </div>
    </form>
  </div>

</main>

<script>

  chargeType = sessionStorage.getItem("chargeType");
  chargeType = chargeType.toLowerCase();
  console.log(charge);



</script>

{% endblock %}
