{% extends "layout.html" %}

{% block page_title %}
Draw the boundaries of the charge on a map
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">
    <form action="/llc-03/register-42" method="POST">
      <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Add a <span class="charge_type"></span> charge </h1>
            <h2 class="heading-medium">Location of the charge</h2>


            

            
            <p>Draw the boundary of the charge using the toolks on the map, or search for place name, post code or address.</p>
            <div class="form-group">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Where is the charge?</legend>

                    <div class="form-group spacing-bottom-half ">
                        <label class="form-label" for="search_term">
                        </label>

                        <input class="form-control postcode_searched" id="search_term" name="search_term" type="text" value="{{ search_term }}">
                        <a class="button search" href="#" role="button">Search</a>
                    </div>
                </fieldset>
            </div><br>
            <span class="form-hint">Draw the boundary of the charge.</span>
            <img src="/public/images/llc-03/city.png" style="width:960px;height:395px;">

            <p>
                <a class="button" href="register_6-description" role="button">Confirm</a>
            </p>
        </div>
    </div>
</form>

</main>
<script>
    chargeType = sessionStorage.getItem("chargeType");
    chargeType = chargeType.toLowerCase();
    console.log(chargeType);
    postcode = sessionStorage.getItem("postcode");
    console.log(postcode);
    address = sessionStorage.getItem("address");
    console.log(address);
</script>

{% endblock %}
