{% extends "layout_lr.html" %}

{% block page_title %}
  Local land charges
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Register a local land charge </h1>
          <h2 class="heading-medium">Where is the charge?</h2>

          <form>
              <div class="form-group">
                <fieldset class="inline">
                    <legend class="visuallyhidden">Where is the charge?</legend>

                    <div class="form-group spacing-bottom-half ">

                        <label class="form-label" for="postcode">
                                    Enter the postcode or area
                        </label>

                        <input class="form-control" id="search_term" name="search_term" type="text" value="" autofocus="autofocus">
                        <a class="button" href="/llc-02/register-3" role="button">Search</a>
                    </div>

                <span class="form-hint">Draw the boundary of the land the charge affects using the map.</span>

                <img src="/public/images/map.png" style="width:507px;height:450px;">

              </fieldset>
              <a class="button" href="/llc-02/register-4" role="button">Continue</a>
            </form>
        </div>
      </div>

</main>

{% endblock %}
