{% extends "layout_lr.html" %}

{% block page_title %}
  Local land charges
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-large">Register a local land charge </h1>
          <h2 class="heading-medium">Where is the charge? </h2>

          <form>
            <fieldset class="inline">
                <legend class="visuallyhidden">Where is the charge? </legend>

                <div class="form-group">
                  <label class="form-label" for="law-act-agree">
                    Enter an address or describe where the charge is
                  </label>
                    <input class="form-control" id="law-act-agree" type="text">
                </div>

              </fieldset>
              <a class="button" href="/llc-02/register-5" role="button">Continue</a>
            </form>
        </div>
      </div>

</main>

{% endblock %}
