{% extends "layout_lr.html" %}

{% block page_title %}
  Local land charges
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Register a local land charge </h1>
          <h2 class="heading-medium">What is the term of the charge? </h2>


          <form>
            <fieldset class="inline">
                <legend class="visuallyhidden"></legend>

                <div class="form-group">
                  <label class="form-label" for="creation-date">
                    When was the charge created?
                      <span class="form-hint">For example, 19/05/2016</span>
                  </label>
                    <input class="form-control" id="creation-date" type="text">
                </div>

                <div class="form-group">
                  <label class="form-label" for="expiry-date">
                    When does the charge expire?
                      <span class="form-hint">For example, 19/05/2020 or 5 years after building works start</span>
                  </label>
                    <input class="form-control" id="expiry-date" type="text">
                </div>

              </fieldset>
              <a class="button" href="/llc-02/register-9" role="button">Continue</a>
            </form>
        </div>
      </div>

</main>

{% endblock %}
