{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-large">
                List of authorities
            </h1>
            <p>Below is a list of local authorities that are not in the register yet.</p>

            <ul>

                <li>Adur District Council</li>
                <li>Allerdale Borough Council</li>
                <li>Amber Valley Borough Council</li>
                <li>Arun District Council</li>
                <li>Ashfield District Council</li>
                <li>Ashford Borough Council</li>
                <li>Aylesbury Vale District Council</li>
                <li>Babergh District Council</li>
                <li>Barnsley Metropolitan Borough Council</li>
                <li>Barrow-in-Furness Borough Council</li>
                <li>Basildon Borough Council</li>
                <li>Basingstoke and Deane Borough Council</li>
                <li>Bassetlaw District Council</li>
                <li>Bath and North East Somerset Council</li>
                <li>Bedford Borough Council</li>
                <li>Birmingham City Council</li>
                <li>Blaby District Council</li>
                <li>Blackburn and Darwen Borough Council</li>
                <li>Blackpool Borough Council</li>
                <li>Bolsover District Council</li>
                <li>Bolton Metropolitan Borough Council</li>
                <li>Borough Council of King's Lynn and West Norfolk</li>
                <li>Borough of Poole</li>
                <li>Boston Borough Council</li>
                <li>Bournemouth Borough Council</li>
                <li>Bracknell Forest Council</li>
                <li>Braintreee District Council</li>
                <li>Breckland District Council</li>
                <li>Brentwood Borough Council</li>
                <li>Brighton &amp; Hove City Council</li>
                <li>Bristol City Council</li>
                <li>Broadland District Council</li>
                <li>Bromsgrove District Council</li>
                <li>Broxbourne Borough Council</li>
                <li>Buckinghamshire County Council</li>
                <li>Burnley Borough Council</li>
                <li>Bury Metropolitan Borough Council</li>
                <li>Calderdale Metropolitan Borough Council</li>
                <li>Cambridge City Council</li>
                <li>Cambridgeshire County Council</li>
                <li>Cannock Chase District Council</li>
                <li>Canterbury City Council</li>
                <li>Carlisle City Council</li>
                <li>Castle Point Borough Council</li>
                <li>Central Bedfordshire Council</li>
                <li>Charnwood Borough Council</li>
                <li>Chelmsford City Council</li>
                <li>Cheltenham Borough Council</li>
                <li>Cherwell District Council</li>
                <li>Cheshire East Council</li>
                <li>CHeshire West and Cheshire City Council</li>
                <li>Chesterfield Borough Council</li>
                <li>Chichester District Council</li>
                <li>Chiltern District Council</li>
                <li>Chorley Borough Council</li>
                <li>Christchurch Borough Council</li>
                <li>City of Bradford Metropolitan District Council</li>
                <li>City of Lincoln Council</li>
                <li>City of London Corporation</li>
                <li>City of Westminster</li>
                <li>City of Wolverhampton Council</li>
                <li>City of York Council</li>
                <li>Colchester Borough Council</li>
                <li>Copeland Borough Council</li>
                <li>Corby Borough Council</li>
                <li>Cornwall Council</li>
                <li>Cotswold District Council</li>
                <li>Council of the Isles of Scilly</li>
                <li>Coventry City Council</li>
                <li>Craven District Council</li>
                <li>Crawley Borough Council</li>
                <li>Cumbria County Council</li>
                <li>Dacorum Borough Council</li>
                <li>Darlington Borough Council</li>
                <li>Dartford Borough Council</li>
                <li>Daventry District Council</li>
                <li>Derby City Council</li>
                <li>Derbyshire Dales District Council</li>
                <li>Devon County Council</li>
                <li>Doncaster Metropolitan Borough Council</li>
                <li>Dorset County Council</li>
                <li>Dover District Council</li>
                <li>Dudley Metropolitan Borough Council</li>
                <li>Durham County Council</li>
                <li>East Cambridgeshire District Council</li>
                <li>East Dorset District Council</li>
                <li>East Hampshire District Council</li>
                <li>East Hertfordshire District Council</li>
                <li>East Lindsey District Council</li>
                <li>East Northamptonshire Council</li>
                <li>East Riding of Yorkshire Council</li>
                <li>East Staffordshire Borough Council</li>
                <li>East Sussex County Council</li>
                <li>Eastbourne Borough Council</li>
                <li>Eastleigh Borough Council</li>
                <li>Eden District Council</li>
                <li>Elmbridge Borough Council</li>
                <li>Epping Forest District Council</li>
                <li>Epsom and Ewell Borough Council</li>
                <li>Erewash Borough Council</li>
                <li>Essex County Council</li>
                <li>Exeter City Council</li>
                <li>Fareham Borough Council</li>
                <li>Fenland District Council</li>
                <li>Forest Heath District Council</li>
                <li>Gateshead Metropolitan Borough Council</li>
                <li>Gedling Borough Council</li>
                <li>Gloucester City Council</li>
                <li>Gosport Borough Council</li>
                <li>Gravesham Borough Council</li>
                <li>Great Yarmouth Borough Council</li>
                <li>Greater London Authority</li>
                <li>Guildford Borough Council</li>
                <li>Halton Borough Council</li>
                <li>Hambleton District Council</li>
                <li>Hampshire County Council</li>
                <li>Harborough District Council</li>
                <li>Harlow District Council</li>
                <li>Harrogate Borough Council</li>
                <li>Hart District Council</li>
                <li>Hartlepool Borough Council</li>
                <li>Hastings Borough Council</li>
                <li>Havant Borough Council</li>
                <li>Herefordshire Council</li>
                <li>Hertfordshire County Council</li>
                <li>Hertsmere Borough Council</li>
                <li>High Peak Borough Council</li>
                <li>Hinckley and Bosworth Borough Council</li>
                <li>Horsham District Council</li>
                <li>Hull City Council</li>
                <li>Huntingdonshire District Council</li>
                <li>Hyndburn Borough Council</li>
                <li>Ipswich Borough Council</li>
                <li>Isle of Wight Council</li>
                <li>Kent County Council</li>
                <li>Kettering Borough Council</li>
                <li>Kirklees Council</li>
                <li>Knowsley Metropolitan Borough Council</li>
                <li>Lancashire County Council</li>
                <li>Lancaster City Council</li>
                <li>Leeds City Council</li>
                <li>Leicester City Council</li>
                <li>Leicestershire County Council</li>
                <li>Lewes District Council</li>
                <li>Lichfield District Councils</li>
                <li>Lincolnshire County Council</li>
                <li>Liverpool City Council</li>
                <li>London Borough of Barking and Dagenham</li>
                <li>London Borough of Barnet</li>
                <li>London Borough of Bexley</li>
                <li>London Borough of Brent</li>
                <li>London Borough of Bromley</li>
                <li>London Borough of Camden</li>
                <li>London Borough of Croydon</li>
                <li>London Borough of Ealing</li>
                <li>London Borough of Enfield</li>
                <li>London Borough of Hackney</li>
                <li>London Borough of Hammersmith and Fulham</li>
                <li>London Borough of Haringey</li>
                <li>London Borough of Harrow</li>
                <li>London Borouhg of Havering</li>
                <li>London Borough of Hillingdon</li>
                <li>London Borough of Hounslow</li>
                <li>London Borough of Islington</li>
                <li>London Borough of Lambeth</li>
                <li>London Borough of Lewisham</li>
                <li>London Borough of Merton</li>
                <li>London Borough of Newham</li>
                <li>London Borough of Redbridge</li>
                <li>London Borough of Richmond upon Thames</li>
                <li>London Borough of Southwark</li>
                <li>London Borough of Sutton</li>
                <li>London Borough of Tower Hamlets</li>
                <li>London Borough of Waltham Forest</li>
                <li>London Borough of Wandsworth</li>
                <li>Luton Borough Council</li>
                <li>Maidstone Borough Council</li>
                <li>Maldon District Council</li>
                <li>Malvern Hills District Council</li>
                <li>Manchester City Council</li>
                <li>Mansfield District Council</li>
                <li>Medway Council</li>
                <li>Melton Borough Council</li>
                <li>Mendip District Council</li>
                <li>Mid Devon District Council</li>
                <li>Mid Suffolk District Council</li>
                <li>Middlesbrough Borough Council</li>
                <li>Milton Keynes Council</li>
                <li>Mole Valley District Council</li>
                <li>New Forest District Council</li>
                <li>Newark and Sherwood District Council</li>
                <li>Newcastle City Council</li>
                <li>Newcastle-under-Lyme Borough Council</li>
                <li>Norfolk County Council</li>
                <li>North Devon District Council</li>
                <li>North Dorset District Council</li>
                <li>North East Derbyshire District Council</li>
                <li>North Hertfordshire District Council</li>
                <li>North Kesteven District Council</li>
                <li>North Lincolnshire Council</li>
                <li>North Somerset Council</li>
                <li>North Tyneside Council</li>
                <li>North Warwickshire Borough Council</li>
                <li>North West Leicestershire District Council</li>
                <li>North Yorkshire County Council</li>
                <li>Northampton Borough Council</li>
                <li>Northamptonshire County Council</li>
                <li>Northumberland County Council</li>
                <li>Norwich City Council</li>
                <li>Nottingham City Council</li>
                <li>Nottinghamshire County Council</li>
                <li>Nuneaton and Bedworth Borough Council</li>
                <li>Oadby and Wigston Borough Council</li>
                <li>Oldham Metropolitan Borough Council</li>
                <li>Oxford City Council</li>
                <li>Oxfordshire County Council</li>
                <li>Pendle Borough Council</li>
                <li>Peterborough City Council</li>
                <li>Plymouth City Council</li>
                <li>Portsmouth City Council</li>
                <li>Preston City Council</li>
                <li>Purbeck District Council</li>
                <li>Reading Borough Council</li>
                <li>Redcar and Cleveland Borough Council</li>
                <li>Redditch Borough Council</li>
                <li>Reigate and Banstead Borough Council</li>
                <li>Ribble Valley Borough Council</li>
                <li>Richmondshire District Council</li>
                <li>Rochdale Metropolitan Borough Council</li>
                <li>Rochford District Council</li>
                <li>Rossendale Borough Council</li>
                <li>Rother District Coouncil</li>
                <li>Roterham Metropolitan Borough Council</li>
                <li>Royal Borough of Greenwich</li>
                <li>Royal Borough of Kensington and Chelsea</li>
                <li>Royal Borough of Kingston upon Thames</li>
                <li>Royal Borough of Windsor and Maidenhead</li>
                <li>Rugby Borough Council</li>
                <li>Runnymede Borough Council</li>
                <li>Rushcliffe Borough Council</li>
                <li>Rushmoor Borough Council</li>
                <li>Rutland Borough Council</li>
                <li>Ryedale District Council</li>
                <li>Salford City Council</li>
                <li>Sandwell Metropolitan Borough Council</li>
                <li>Scarborough Borough Council</li>
                <li>Sedgemoor District Council</li>
                <li>Sefton Metropolitan Borough Council</li>
                <li>Selby District Council</li>
                <li>Sevenoaks District Council</li>
                <li>Sheffield City Council</li>
                <li>Shepway District Council</li>
                <li>Shropshire Council</li>
                <li>Slough Borough Council</li>
                <li>Solihull Metropolitan Borough Council</li>
                <li>Somerset County Council</li>
                <li>South Bucks District Council</li>
                <li>South Cambridgeshire District Council</li>
                <li>South Derbyshire District Council</li>
                <li>South Gloucestershire Council</li>
                <li>South Hams District Council</li>
                <li>South Holland District Council</li>
                <li>South Kesteven District Council</li>
                <li>South Lakeland District Council</li>
                <li>South Norfolk District Council</li>
                <li>South Northamptonshire Council</li>
                <li>South Oxfordshire District Council</li>
                <li>South Ribble Borough Council</li>
                <li>South Somerset District Council</li>
                <li>South Staffordshire Council</li>
                <li>South Tyneside Council</li>
                <li>Southampton City Council</li>
                <li>Southend-on-Sea Borough Council</li>
                <li>Spelthorne Borough Council</li>
                <li>St Albans City and District Council</li>
                <li>St Edmundsbury Borough Council</li>
                <li>St Helens Council</li>
                <li>Stafford Borough Council</li>
                <li>Staffordshire Borough Council</li>
                <li>Staffordshire Moorlands District Council</li>
                <li>Stevenage Borough Council</li>
                <li>Stockport Metropolitan Borough Council</li>
                <li>Stockton-on-Tees Borough Council</li>
                <li>Stoke-on-Trent City Council</li>
                <li>Stratford-on-Avon District Council</li>
                <li>Stroud District Council</li>
                <li>Suffolk Coastal District Council</li>
                <li>Suffolk County Council</li>
                <li>Sunderland City Council</li>
                <li>Surrey County Council</li>
                <li>Surrey Heath Borough Council</li>
                <li>Swale Borough Council</li>
                <li>Swindon Borough Council</li>
                <li>Tameside Metropolitan Borough Council</li>
                <li>Tamworth Borough Council</li>
                <li>Tandridge District Council</li>
                <li>Taunton Deane Borough Council</li>
                <li>Teignbridge District Council</li>
                <li>Telford and Wrekin Council</li>
                <li>Tendring District Council</li>
                <li>Test Valley Borough Council</li>
                <li>Tewkesbury Borough Council</li>
                <li>Thanet District Council</li>
                <li>Three Rivers District Council</li>
                <li>Thurrock Council</li>
                <li>Tonbridge and Malling Borough Council</li>
                <li>Torbay Council</li>
                <li>Torridge District Council</li>
                <li>Trafford Metropolitan Borough Council</li>
                <li>Tunbridge Wells Borough Council</li>
                <li>Uttlesford District Council</li>
                <li>Vale of White Horse District Council</li>
                <li>Wakefield Metropolitan District Council</li>
                <li>Walsall Metropolitan Borough Council</li>
                <li>Warrington Borough Council</li>
                <li>Warwick District Council</li>
                <li>Warwickshire County Council</li>
                <li>Watford Borough Council</li>
                <li>Waveney District Council</li>
                <li>Waverley Borough Council</li>
                <li>Wealden District Council</li>
                <li>Wellingborough Borough Council</li>
                <li>Welwyn Hatfield Borough Council</li>
                <li>West Berkshire Council</li>
                <li>West Devon Borough Council</li>
                <li>West Dorset District Council</li>
                <li>West Lancashire Borough Council</li>
                <li>West Lindsey District Council</li>
                <li>West Oxfordshire District Council</li>
                <li>West Somerset District Council</li>
                <li>West Sussex County Council</li>
                <li>Weymouth and Portland Borough Council</li>
                <li>Wigan Metropolitan Borough Council</li>
                <li>Wiltshire Council</li>
                <li>Winchester City Council</li>
                <li>Wirral Borough Council</li>
                <li>Woking Borough Council</li>
                <li>Wokingham Borough Council</li>
                <li>Worcester City Council</li>
                <li>Worcestershire County Council</li>
                <li>Worthing Borough Council</li>
                <li>Wychavon District Council</li>
                <li>Wycombe District Council</li>
                <li>Wyre Borough Council</li>
                <li>Wyre Forest District Council</li>
            </ul>



        </div>
    </div>
</main>

{% endblock %}