{% extends "layout.html" %}

{% block page_title %}
Where do you want to add the charge?
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Where do you want to add the charge?</h1>
			<form action="map.html" method="GET" style="padding-bottom: 0">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">Where do you want to add the charge?</legend>
						<div class="form-group">
							<label class="form-label" for="search-term">
								<strong>Enter an address to start. You can also search by:
									<ul class="list list-bullet">
										<li>postcode</li>
										<li>town</li>
										<li>road</li>
										<li>Unique Property Reference Number (UPRN)</li>
									</ul></strong>
								</label>

								<div class="form-group">
									<p>You will see a map showing this address on the next page. Use this map to start drawing the extent.</p>
								</div>
								<div class="form-group spacing-bottom-half">
									<input class="form-control search-field" id="location" name="location" type="text" value="" autofocus="autofocus">
									<!--<input class="search-button submit location-search" type="submit" value="Search"><br><br>-->
									<a class="button" href="06_map" role="button">Search</a>
								</div>
								<div class="form-group">
									<p>No address for this charge? <a href="06_map">Start with the map and scroll to the location instead</a></p>
								</div>
								<div class="form-group">
									<span class="heading-small">Do you have an extent saved on file?</span> 
									<details>

										<summary><span class="summary">Upload the file</span></summary>

										<div class="panel panel-border-narrow">

											<span>Accepted formats are:</span>
											<ul class="list list-bullet">
												<li>shapefile (.shp)</li>
												<li>under 1MB</li>
											</ul>
											
											<label class="form-label" for="file-input">
												Upload a file
											</label>
											<input type="file" id="file-input"><br><br>
											<div class="form-group">
												<a class="button shape-button" href="check-charge-boundary">Continue</a>
											</div>
										</div>
									</fieldset>
								</div>
							</form>

						</div>

					</details>
				</div>
			</div>
		</fieldset>
	</div>
</form>
</div>
</div>
</main>

{% endblock %}



