{% extends "layout.html" %} {% block page_title %} Amount agreed for this charge {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <a href="secured-charge-amount" class="link-back" style="margin-bottom:0">Back</a>
    <h1 class="heading-large" style="margin-top:20px">Amount and interest</h1>
    <div class="grid-row">

        <div class="column-two-thirds">




            <!-- <div class="panel panel-border-narrow">
                <p>
                    If there is a ‘general’ version of this financial charge, start by cancelling the general charge.
                </p>

            </div> -->
            <form action="document-link" method="GET">

                <fieldset>



                    <div class="form-group">
                        <legend>
                            <h2 class="heading-medium">Amount originally secured</h2>
                        </legend>
                        <span class="form-hint">For example, 100.50</span>
                        <label class="form-label" for="textarea">
                             
                            
                        </label>
                        <span class="bold-small">£ </span>
                        <input class="form-control form-control-1-4" type="text" name="amount" id="amount">

                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h2 class="heading-medium">Will interest be paid on the amount?</h2>
                    </legend>

                    <div class="form-group">
                        <label id="yesInterestLabel" class="block-label selection-button-radio form-label" for="yesInterest" data-target="interestAmount">
                            <input id="yesInterest" name="interest" type="radio" value="yes" aria-controls="interestAmount">
                            Yes
                        </label>
                        <div class="js-hidden panel panel-border-narrow" id="interestAmount" aria-hidden="true" style="display: none;">

                            <fieldset>
                                <legend class="visually-hidden">Rate of interest?</legend>

                                <div class="form-group">

                                    <label class="form-label-bold" for="interestRate ">
                                        Rate of interest

                                        <span class="form-hint">For example, 5, 5.1 or 5.11</span>
                                    </label>
                                    <input class="form-control form-control-1-4" id="interestRate" name="interestRate" type="text"><span class="bold-small"> % </span>
                                </div>

                            </fieldset>
                        </div>

                        <label id="noInterestLabel" class="block-label selection-button-radio form-label" for="noInterest">
                            <input id="noInterest" name="interest" type="radio" value="no">
                            No
                        </label>
                        <label id="mayBePayableLabel" class="block-label selection-button-radio form-label" for="mayBePayable">
                            <input id="mayBePayable" name="interest" type="radio" value="Interest may be payable">
                            Interest may be payable
                        </label>

                        <br>
                    </div>
                </fieldset>
            </form>

            <p>
                <a class="button" id="amountSecuredBtn" role="button" href="date-document-created">Continue</a>
            </p>


        </div>

    </div>
</main>
<script>
    document.getElementById('amountSecuredBtn').onclick = function() {
        var amount = document.getElementById('amount').value;
        sessionStorage.setItem('amount', amount);
        var yesInterest = document.getElementById('yesInterestLabel');
        var noInterest = document.getElementById('noInterestLabel');
        var interestMayBePayable = document.getElementById('mayBePayableLabel');
        if (yesInterest.classList.contains('selected')) {
            var interestRate = document.getElementById('interestRate').value;
            sessionStorage.setItem('interestRate', interestRate);
        } else if (noInterest.classList.contains('selected')) {
            sessionStorage.setItem('interestRate', 'Interest will not be paid on the amount secured');
        } else if (interestMayBePayable.classList.contains('selected')) {
            sessionStorage.setItem('interestRate', 'Interest may be payable');
        }
    }
</script>

{% endblock %}