{% extends "layout_citizen.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search-results" class="link-back">Back</a></p>
            <h1 class="heading-large">
                Charge details
            </h1>
        </div>
        <div class="column-two-thirds">
            <table class="check-your-answers-2">
                <tbody>
                    <tr>
                        <td>Category</td>
                        <td class="bold-small">Land compensation</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Amount of compensation</td>
                        <td class="bold-small">£134000</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Amount description</td>
                        <td class="bold-small">Estimated</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Land ownership</td>
                        <td class="bold-small">Leasehold</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="bold-small"><span id="address-selected">3 Clinton Street, Exeter, EX4 1AX</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Authority</td>
                        <td class="bold-small">Exeter City Council</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Created on</td>
                        <td class="bold-small">20 January 2010</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Registration date</td>
                        <td class="bold-small">20 January 2010</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Authority reference</td>
                        <td class="bold-small">EXT975</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HM Land Registry reference</td>
                        <td class="bold-small">LLC/EX38912216</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>




    </div>




</main>
<script>
    var placeSearched = sessionStorage.getItem('addressSelected');
    console.log(placeSearched);
    document.getElementById('address-selected').textContent = placeSearched;
</script>

{% endblock %}