{% extends "layout_citizen.html" %} {% block page_title %} Create LLC1 {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-medium">
                Create LLC1
            </h1>
            <h2 class="heading-small"><a href="v1/search_place">Version 1</a><code> Last updated 03/08/2017</code></h2>
            <li>Copied the journey over from Preview</li>
            <li>Added the new download page</li>
        </div>
    </div>
</main>

{% endblock %}