{% extends "layout.html" %}

{% block page_title %}
Edit charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-full">
			<p><a href="map-results">Back to search results</a></p>
			<h1 class="heading-large">Edit charge ID LLC-4LNDC</h1>
			<img src="{{ asset_path }}images/address_1.png" width="100%" height="auto">
			<br><br>
			<p><a href="view-history-infrastructure">View history</a></p>
			<p><a href="cancel-check">Cancel this charge</a></p>
			<table class="charge-details">

				<thead>
					<tr>
						<th colspan="2">
						</th>
						<th>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>
							Charge type
						</td>
						<td>
							<span id="charge-type-text">Infrastructure</span><br>
						</td>
						<td class="change-answer">
							<a class="edit-charge" id="edit-charge-type" href="edit-charge-type">
								Change <span class="visuallyhidden">charge type</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Legislation
						</td>
						<td>
							<span id="legislation-text">s.107 Building Act 1984</span>
						</td>
						<td class="change-answer">
							<a class="edit-charge" id="edit-legislation" href="edit-charge-type">
								Change <span class="visuallyhidden">Legislation</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>
							Address<br><br><br><br><br>
						</td>
						<td>
							<address><span id="location-text">29 Exeter Road Plymouth PL6 1AA</span></address><br><br>
								<span id="location-information-text">Area behind the property</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-location" href="edit-location">
									Change <span class="visuallyhidden">Location</span>
								</a><br><br><br><br><br>
							</td>
						</tr>
						<tr>
							<td>
								Further information<br><br>
								Reference
							</td>
							<td>
								<a href="http://www.plymouth.gov.uk/"><span id="further-information-text">http://www.plymouth.gov.uk</span></a><br><br>
								<span id="reference-text">ABC1234</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-further-information" href="edit-further-information">
									Change <span class="visuallyhidden">Further information and reference</span>
								</a><br><br><br>
							</td>
						</tr>
						<tr>
							<td>
								Originating authority
							</td>
							<td>
								<span id="oa-text">Plymouth City Council</span>
							</td>
							<td>
							</td>
						</tr>
						<tr>
							<td>
								Source of charge<br><br>
								Start date
							</td>
							<td>
								<span id="source-text">Notice</span><br><br>
								<span id="date-text">20 December 2000</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-source" href="edit-notice">
									Change <span class="visuallyhidden">Source of charge and start date</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Registration date
							</td>
							<td>
								20 December 2000
							</td>
							<td class="change-answer">

							</td>
						</tr>
						<tr>
							<td>
								Expiry date
							</td>
							<td>
								<span id="expiry-text">Not available</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-expiry" href="edit-expiry">
									Change <span class="visuallyhidden">Expiry</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Retained land description
							</td>
							<td>
								<span id="retained-land-text">Not available</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-retained-land" href="edit-retained-land">
									Change <span class="visuallyhidden">Retained land description</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Particulars of acquired land
							</td>
							<td>
								<span id="particulars-land-text">Not available</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-particulars-land" href="edit-particulars-land">
									Change <span class="visuallyhidden">Particulars of acquired land</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Particulars of relevant interest
							</td>
							<td>
								<span id="particulars-interest-text">Not available</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-particulars-interest" href="edit-relevant-interest">
									Change <span class="visuallyhidden">Particulars of relevant interest</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Compensation
							</td>
							<td>
								£<span id="compensation-text">20,000.00</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-compensation" href="edit-relevant-interest">
									Change <span class="visuallyhidden">Compensation</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Amount
							</td>
							<td>
								£<span id="amount-text">20,000.00</span>
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-amount" href="edit-amount">
									Change <span class="visuallyhidden">Amount</span>
								</a>
							</td>
						</tr>
						<tr>
							<td>
								Rate of interest
							</td>
							<td>
								<span id="interest-text">2</span>%
							</td>
							<td class="change-answer">
								<a class="edit-charge" id="edit-interest" href="edit-amount">
									Change <span class="visuallyhidden">Rate of interest</span>
								</a>
							</td>
						</tr>

					</tbody>
				</table>
				<br><br>
				<p><a href="cancel-check">Cancel this charge</a></p>
			</div>
		</div>
	</main>
	<script>

	</script>

	{% endblock %}


