{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">The local land charge has been cancelled</h1>
				<p>The charge ID has not changed: HMLR-LLC-12871691</p>
			</div>
			<p><a href="search_place">Find another local land charge</a></p>
		</div>
	</div>
</main>
{% endblock %}