{% extends "layout.html" %}

{% block page_title %}
Local land charge
{% endblock %}

{% block content %}
<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<p><a href="map-results">Back to search results</a></p>
			<h1 class="heading-large">Update local land charge</h1>

			<div class="panel panel-border-wide">
				<p>
					<a href="cancel-check">Cancel charge</a>
				</p>
			</div>
		</div>

		<div class="column-full">
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Charge ID</td>
						<td class="bold-small">HMLR-LLC-12871691</td>
						<td></td>
					</tr>
					<tr>
						<td>Originating authority</td>
						<td class="bold-small">Exeter city council</td>
						<td></td>
					</tr>
					<tr>
						<td>Registered on</td>
						<td class="bold-small">3 May 2017</td>
						<td></td>
					</tr>
					<tr>
						<td>Updated on</td>
						<td class="bold-small">4 May 2017</td>
						<td></td>
					</tr>
					<tr class="section-end">
						<td></td>
						<td><a class="font-small" href="planning-history">View history</a></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="check-your-answers-2">
				<tbody>
					<tr class="section-end">
						<td>Location description</td>
						<td class="location-td"><span class="bold-small">1 Clinton Street<br>
							St. Thomas<br>
							Exeter<br>
							EX1 1AX</span><br><br>
							<a class="font-normal" href="edit-more-information">Update location description</a><br>
							<a class="font-normal" href="edit-extent">Update extent</a>
						</td>
						<td><img src="{{ asset_path }}images/maintain_llc_v1-4/extend.png" width="100%" height="auto">
						</td>
					</tr>
				</tbody>
			</table>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Law</td>
						<td class="bold-small">Town and Country Planning Act 1979 section 106</td>
						<td><a href="edit-charge-type">Update law</a></td>
					</tr>
					<tr>
						<td>Source</td>
						<td class="bold-small">Agreement</td>
						<td><a href="edit-source">Update source</a></td>
					</tr>
					<tr>
						<td>Created on</td>
						<td class="bold-small">1 May 2017</td>
						<td><a href="edit-date">Update created on</a></td>
					</tr>
					<tr class="section-end">
						<td>Expiry</td>
						<td class="heading-small">5 years after the building works start</td>
						<td><a href="edit-expiry">Update expiry</a></td>
					</tr>
					<tr>
						<td>More information</td>
						<td class="bold-small"><a class="bold-small" href="#">https://www.plymouth.gov.uk</a></td>
						<td><a href="edit-further-information">Update more information</a></td>
					</tr>
					<tr>
						<td>Reference</td>
						<td class="bold-small">10/2867/11</td>
						<td></td>
					</tr>

				</tbody>
			</table>

		</div>

	</div>
	<br><br>
	
</main>
{% endblock %}


