{% extends "layout_citizen_regular_index.html" %} {% block page_title %} External LLC search {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-medium">
                Search service
            </h1>
            <h2 class="heading-small"><a href="v4-7/start">Version 4.7</a><code> Last updated 12/03/2018</code></h2>
            <ul class="list list-bullet">
                <li>Content changes for start page</li>
                <li>Content changes for paid benefits</li>
            </ul>
            <h2 class="heading-small"><a href="v4-6/start">Version 4.6</a><code> Last updated 06/03/2018</code></h2>
            <ul class="list list-bullet">
                <li>Changed the link text on `view` to 'Search history'</li>
                <li>Added a `h1` to dashboard page</li>
                <li>Created a dropdown menu for the `Jane Smith` icon in the header</li>
            </ul>
            <h2 class="heading-small"><a href="v4-5/start">Version 4.5</a><code> Last updated 06/02/2018</code></h2>
            <ul class="list list-bullet">
                <li>Single page search</li>
                <li>Address search</li>
                <li>Alternative address search for map</li>
                <li>Updated free results based on each address</li>
                <li>New PDF</li>
            </ul>
            <h2 class="heading-small"><a href="v4-4/start">Version 4.4</a><code> Last updated 12/01/2018</code></h2>
            <ul class="list list-bullet">
                <li>Updating free results</li>
            </ul>
            <h2 class="heading-small"><a href="v4-3/start">Version 4.3</a><code> Last updated 12/12/2017</code></h2>
            <ul class="list list-bullet">
                <li>Account management changes</li>
            </ul>

            <h2 class="heading-small"><a href="v4-2/start">Version 4.2</a><code> Last updated 28/11/2017</code></h2>
            <ul class="list list-bullet">
                <li>Content updates for consistency</li>
                <li>Map legend added</li>
            </ul>
            <h2 class="heading-small"><a href="v4-1/start">Version 4.1</a><code> Last updated 20/10/2017</code></h2>
            <ul class="list list-bullet">
                <li>Updates to the new journey</li>
            </ul>
            <h2 class="heading-small"><a href="v4/start">Version 4</a><code> Last updated 11/10/2017</code></h2>
            <ul class="list list-bullet">
                <li>Brand new journey</li>
            </ul>
            <h2 class="heading-small"><a href="v3-1/start">Version 3.1</a><code> Last updated 14/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Updated dashboard page</li>
            </ul>
            <h2 class="heading-small"><a href="v3/start">Version 3</a><code> Last updated 05/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Update based on second set of research and technical input (25/08/2017)</li>
                <li>Content refresh (05/09/2017)</li>
            </ul>
            <h2 class="heading-small"><a href="v2-1/start">Version 2-1</a><code> Last updated 01/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Updated based on third set of user research and technical input, contents ae also updated within this version.</li>
            </ul>
            <h2 class="heading-small"><a href="v2/start">Version 2</a><code> Last updated 04/08/2017</code></h2>
            <ul class="list list-bullet">
                <li>Update based on first set of research</li>
            </ul>
            <h2 class="heading-small"><a href="v1/start">Version 1</a><code> Last updated 19/07/2017</code></h2>
            <ul class="list list-bullet">
                <li>Initial HTML version</li>
                <li>Paid Service Added</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}