{% extends "layout.html" %}

{% block page_title %}
Expiry date of the charge
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Add a <span class="charge_type"></span> charge </h1>
      <h2 class="heading-medium">Expiry</h2>


      <form action="/llc-03/register-9" method="POST">
        <fieldset class="inline">
          <legend class="visuallyhidden"></legend>

          <div class="form-group">
            <label class="form-label" for="expiry-date">
              When does the charge expire? (optional)
              <span class="form-hint">For example, 19/05/2020 or 5 years after building works start</span>
            </label>
            <input class="form-control" id="expiry-date" name="expiry" type="text">
          </div>

        </fieldset>
        <p>
          <a id="toSubmitPage" class="button expiry_button" href="register_10-submit" role="button">Continue</a>
        </p>
      </form>
    </div>
  </div>

</main>

<script>
  chargeType = sessionStorage.getItem("chargeType");
  chargeType = chargeType.toLowerCase();
  console.log(chargeType);
  
  
  function targetSubmit() {
    var origin = sessionStorage.getItem("origin");
    var toSubmitPage = document.getElementById("toSubmitPage");
    if (origin == "city") {
      toSubmitPage.setAttribute("href", "register_10-submit-city");
    } else if (origin == "street") {
      toSubmitPage.setAttribute("href", "register_10-submit-street");
    } else {
      toSubmitPage.setAttribute("href", "register_10-submit");
    }
    console.log(toSubmitPage.getAttribute("href")); 
  }
  targetSubmit();
  
</script>

{% endblock %}
