{% extends "layout.html" %}

{% block page_title %}
Where map city
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <form action="/llc-03/register-41" method="POST">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-large">Register a <span class="charge_type"></span> charge </h1>
        <h2 class="heading-medium">Location</h2>

        <!--<form action="/llc-03/register-41" method="POST">-->
        <div class="form-group">
          <fieldset class="inline">
            <legend class="visuallyhidden">Where is the charge?</legend>

            <div class="form-group spacing-bottom-half ">

              <label class="form-label" for="search_term">
                Enter the postcode or area
              </label>

              <input class="form-control postcode_searched" id="search_term" name="search_term" type="text" value="" autofocus="autofocus">
              <a class="button" href="#" role="button">Search</a>
            </div>

                <!--<span class="form-hint">Draw the boundary of the charge.</span>

                <img src="/public/images/llc-03/city.png" style="width:507px;height:450px;">-->

              </fieldset>
            </div>
            <!--<input class="button" type="submit" value="Continue">-->
          </div>
        </div>

        <span class="form-hint">Draw the boundary of the charge.</span>
        <img src="/public/images/llc-03/city.png" style="width:960px;height:480px;">
        <p>
        <a class="button" href="register_6-description.html" role="button">Continue</a>
        </p>

      </form>
    </main>
    <script>
      charge = sessionStorage.getItem("charge");
      console.log(charge);
      postcode = sessionStorage.getItem("postcode");
      console.log(postcode);
    </script>

    {% endblock %}
