{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Add a local land charge</h1>
      <h2 class="heading-medium">Sign in to register a charge</h2>
      <form>
        <div class="form-group">
          <fieldset>

            <legend class="visually-hidden">#</legend>

            <div class="form-group">
              <label class="form-label" for="user_id">User ID</label>
              <input class="form-control" id="user_id" name="user_id" type="text">
            </div>
            <div class="form-group">
              <label class="form-label" for="password">Password</label>
              <input class="form-control" id="password" name="password" type="password">
            </div>
            <p>Problems signing in?</p>
            <ul class="list">
              <li><a href="#">Forgotten user ID</a></li>
              <li><a href="#">Forgotten password</a></li>
              <li><a href="#">Forgotten user ID and password</a></li>
              <li><a href="#">I need to register</a></li>
            </ul>


          </fieldset>

        </div>
        <input class="button" type="submit" value="Continue">

      </form>
    </div>
  </div>

</main>

{% endblock %}
