{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Add a local land charge</h1>
      <p>You can register a local land charge (LLC) online.</p>
      <p><a class="button button-start" href="#" role="button">Start now</a></p>
    </div>
  </div>

</main>

{% endblock %}
