{% extends "layout.html" %}

{% block page_title %}
Vary a LON
{% endblock %}

{% block content %}
<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="action-links">
		<ul>
			<li><a href="#">Account management</a> | </li>
			<li><a href="#">Sign out</a></li>
		</ul>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">View local land charge</h1>

			<div class="panel panel-border-wide">
				<p>
					<a href="doc-upload">Update charge</a>
				</p>
				<p>
					<a href="#">Cancel charge</a>
				</p>
			</div>
		</div>

		<div class="column-full">
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Charge ID</td>
						<td class="bold-small">HMLR-LLC-12871691</td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td><a href="#">View history</a></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h2 class="heading-medium">About this charge</h2>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Charge type</td>
						<td class="bold-small">Light obstruction notice (LON)</td>
						<td></td>
					</tr>
					<tr>
						<td>Law</td>
						<td class="bold-small">Rights of Light Act 1959, section 2(4)</td>
						<td></td>
					</tr>
					<tr>
						<td>Registered on</td>
						<td class="bold-small">3 May 2017</td>
						<td></td>
					</tr>
					<tr>
						<td>Updated on</td>
						<td class="bold-small">4 May 2017</td>
						<td></td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Person applying for this LON</h2>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Name</td>
						<td class="bold-small"><span id="nameApplicant">Jane Doe</span></td>
						<td></td>
					</tr>
					<tr>
						<td>Address</td>
						<td class="bold-small" style="width: 33%">
							<span id="street_1Applicant">2 Okehampton Place</span><br>
							<span id="townApplicant">Exeter</span><br>
							<span id="postcodeApplicant">EX4 1AY</span>
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h2 class="heading-medium">Dominant building (building losing access to light)</h2>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Address</td>
						<td class="bold-small">
							<span id="street_1Dominant">4 Okehampton Place</span><br>
							<span id="townDominant">Exeter</span><br>
							<span id="postcodeDominant">EX4 1AY</span>
						</td>
						<td style="text-align: right"><img src="{{ asset_path }}images/maintain_llc_v1-4/extend.png" width="100%" height="auto"></td>
					</tr>
				</tbody>
			</table>

			<h2 class="heading-medium">Servient land development (development that will block the light)</h2>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Height</td>
						<td id="structureHeight" class="bold-small">Unlimited height</td>
						<td></td>
					</tr>
					<tr>
						<td>Covers all or part of the extent</td>
						<td id="extentDetail" class="bold-small">All of the extent</td>
						<td></td>
					</tr>
					<tr>
						<td>Interest in land</td>
						<td id="interestInLand" class="bold-small">Owner</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h2 class="heading-medium">Legal documents for this LON</h2>
			<h3 class="heading-small">Temporary certificate</h3>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Issue date</td>
						<td class="bold-small">1 May 2016</td>
						<td></td>
					</tr>
					<tr>
						<td>Expiry date</td>
						<td class="bold-small">1 May 2017</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="https://www.documentlink.co.uk">Link to document</a></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 class="heading-small">Definitive certificate</h3>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Issue date</td>
						<td id="defIssueDate" class="bold-small">1 June 2016</td>
						<td></td>
					</tr>
					<tr>
						<td>Expiry date</td>
						<td id="defExpiryDate" class="bold-small">1 June 2017</td>
						<td></td>
					</tr>
					<tr>
						<td><a href="https://www.documentlink.co.uk">Link to document</a></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 class="heading-small">Colour plan</h3>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td><a href="https://www.documentlink.co.uk">Link to document</a></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 class="heading-small">Source document</h3>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td><a href="https://www.documentlink.co.uk">Link to document</a></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<h3 class="heading-small">Other documents that support this LON</h3>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td id="legalDoc"></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="check-your-answers-2">
				<tbody>
					<tr>
						<td>Address (documents filed)</td>
						<td class="bold-small">
							24 Burton Road<br>
							Exeter<br>
							EX4 1AY
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>

<script>
	var docName = sessionStorage.getItem('docUploaded');
	var defStartDays = sessionStorage.getItem('defStartDay');
	var defStartMonths = sessionStorage.getItem('defStartMonth');
	var defStartYears = sessionStorage.getItem('defStartYear');
	var defEndDays = sessionStorage.getItem('defEndDay');
	var defEndMonths = sessionStorage.getItem('defEndMonth');
	var defEndYears = sessionStorage.getItem('defEndYear');
	var nameApplieds = sessionStorage.getItem('nameApplied');
	var street_1Applieds = sessionStorage.getItem('street_1Applied');
	var townApplieds = sessionStorage.getItem('townApplied');
	var postcodeApplieds = sessionStorage.getItem('postcodeApplied');
	var street_1Dominants = sessionStorage.getItem('street_1Dominant');
	var townDominants = sessionStorage.getItem('townDominant');
	var postcodeDominants = sessionStorage.getItem('postcodeDominant');
	var heights = sessionStorage.getItem('height');
	var measurements = sessionStorage.getItem('measurement');
	var unlHeights = sessionStorage.getItem('unlHeight');
	var positions = sessionStorage.getItem('position');
	var partExtentDetails = sessionStorage.getItem('partExtentDetail');
	var interests = sessionStorage.getItem('interest');
	var applicantUpdateds = sessionStorage.getItem('applicantUpdated');
	var dominantUpdateds = sessionStorage.getItem('dominantUpdated');
	var interestUpdateds = sessionStorage.getItem('interestUpdated');
	/*console.log(docName);
	console.log(defStartDays);
	console.log(defStartMonths);
	console.log(defStartYears);
	console.log(defEndDays);
	console.log(defEndMonths);
	console.log(defEndYears);
	console.log(nameApplieds);
	console.log(street_1Applieds);
	console.log(townApplieds);
	console.log(postcodeApplieds);
	console.log(street_1Dominants);
	console.log(townDominants);
	console.log(postcodeDominants);
	console.log(heights);
	console.log(measurements);
	console.log(unlHeights);*/
	console.log(interests);
	console.log(applicantUpdateds);
	console.log(dominantUpdateds);

	if (applicantUpdateds === 'true') {
		document.getElementById('nameApplicant').textContent = nameApplieds;
		document.getElementById('street_1Applicant').textContent = street_1Applieds;
		document.getElementById('townApplicant').textContent = townApplieds;
		document.getElementById('postcodeApplicant').textContent = postcodeApplieds;
	}

	if (dominantUpdateds === 'true') {
		document.getElementById('street_1Dominant').textContent = street_1Dominants;
		document.getElementById('townDominant').textContent = townDominants;
		document.getElementById('postcodeDominant').textContent = postcodeDominants;
	}

	if (unlHeights === '') {
		document.getElementById('structureHeight').textContent = heights + " " + measurements;
	} else {
		document.getElementById('structureHeight').textContent = 'Unlimited height';
	}

	if (positions === '') {
		document.getElementById('extentDetail').textContent = partExtentDetails;
	} else {
		document.getElementById('extentDetail').textContent = 'All of the extent';
	}

	if (interestUpdateds === 'true') {
		document.getElementById('interestInLand').textContent = interests;
	}
	


	
	if (docName === 'defCert') {
		document.getElementById('defIssueDate').textContent = defStartDays + ' ' + defStartMonths + ' ' + defStartYears;
		document.getElementById('defExpiryDate').textContent = defEndDays + ' ' + defEndMonths + ' ' + defEndYears;
	} else if (docName === 'formB') {
		document.getElementById('legalDoc').textContent = 'Form B';
	} else if (docName === 'courtOrder') {
		document.getElementById('legalDoc').textContent = 'Court order';
	}

</script>
{% endblock %}


