{% extends "layout.html" %}

{% block page_title %}
Does the servient structure cover all of the extent?
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<div class="action-links">
		<ul>
			<li><a href="#">Account management</a> | </li>
			<li><a href="#">Sign out</a></li>
		</ul>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Does the servient structure cover all of the extent?</h1>
			<form action="check-your-answers" method="GET">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">Does the servient structure cover all of the extent?</legend>
						<div class="form-group">
							<label id="position_1_label" class="block-label selection-button-radio selected" for="position_1">
								<input id="position_1" name="position" type="radio" value="All of the extent">
								All of the extent
							</label>
							<label id="position_2_label" class="block-label selection-button-radio" for="position_2" data-target="detailPanel">
								<input id="position_2" name="position" type="radio" value="Part of the extent">
								Part of the extent
							</label>
							<div id="detailPanel" class="panel panel-border-narrow js-hidden">
								<div class="form-group">
									<p class="form-hint">For example, this is coloured green and between points A and B on the plan.</p>
									<label class="form-label visually-hidden" for="partExtentDetail">Detail of the part extent</label>
									<textarea class="form-control form-control-3-4" name="partExtentDetail" id="partExtentDetail"></textarea>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="form-group">
					<p><a id="structurePositionContinue" href="vary-lon" class="button">Continue</a></p>
				</div>
			</form>
		</div>
	</div>
</main>

<script>
document.getElementById('structurePositionContinue').onclick = function() {
	var position_1 = document.getElementById('position_1_label');
	var position_2 = document.getElementById('position_2_label');
	sessionStorage.setItem('heightUpdated', 'true');
	if (position_1.classList.contains('selected')) {
		sessionStorage.setItem('position', 'All of the extent');
		sessionStorage.setItem('partExtentDetail', '')
	} else if (position_2.classList.contains('selected')) {
		var partExtentDetail = document.getElementById('partExtentDetail').value;
		sessionStorage.setItem('partExtentDetail', partExtentDetail);
		sessionStorage.setItem('position', '');
	}
}
</script>

{% endblock %}


