{% extends "layout_citizen.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<!--<style>
  .summary table, tr, td {
    border-bottom: 0px solid !important;

  }
</style> -->
<div class="map-page">
    <script>
        var maintainMapAddressSelected = sessionStorage.getItem("maintainMapAddress")
    </script>
    <!-- <main id="content" role="main"> -->
    <!-- beta banner -->
    <main id="content" role="main" style="padding:0px">
        <div class="phase-banner-beta">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
            </p>
        </div>
    </main>
    <div class="container">
        <div id="openStreetMap" class="map">
            <!--<div class="controls">
                <div id="draw-controls" class="ol-control">
                    <button class="map-button polygon"></button>
                    <button class="map-button point"></button>
                    <button class="map-button line"></button>
                    <button class="map-button edit"></button>
                    <button class="map-button copy"></button>
                    <button class="map-button remove"></button>
                    <button class="map-button remove-all"></button>
                    <button class="map-button undo"></button>
                    <button id="snap-to-button"></button>
                </div>
            </div> -->
        </div>
    </div>
    <div id="search-panel" class="charge-list charge-list-maintain-v1-4 citizen-search-panel">
        <form action="free-charge-details" method="GET">
            <div class="form-group">
                <fieldset>
                    <legend class="visuallyhidden">Where do you want to add the charge?</legend>
                    <div class="form-group">
                        <h1 class="heading-medium">Enter a postcode or address</h1>
                        <label class="form-label" for="search-term">
              
            </label>
                        <div class="form-group spacing-bottom-half">
                            <input class="form-control search-field" id="location" name="location" type="text" value="" autofocus="autofocus">
                            <!--<input class="search-button submit location-search" type="submit" value="Search"><br><br>-->
                            <!-- <a class="button" href="search-results" role="button">Search</a> -->
                            <a class="button citizenSearchButton" href="#">Search</a>
                            <!--<input class="button" type="submit" value="Search"> -->
                        </div>
                        <p>You can also browse to a place using the map.</p>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="panel-control close panel-control-citizen">
        <img src="{{ asset_path }}images/arrow_collapse.png">
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        var closePanel = function() {
            $("#search-panel").animate({
                "margin-left": "-1000px"
            }, 100);
            $(".panel-control").removeClass("close");
            $(".panel-control").addClass("open-button");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
        }

        var openPanel = function() {
            $("#search-panel").animate({
                "margin-left": "0"
            }, 100);
            $(".panel-control").removeClass("open-button");
            $(".panel-control").addClass("close");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
        }

        $(".panel-control").click(function() {
            if ($(this).hasClass("close")) {
                closePanel();
            } else {
                openPanel();
            }
        });

        $('.button').click(function() {
            var searchTerm = $('#location').val();
            sessionStorage.setItem('searchTerm', searchTerm);
            if (searchTerm === 'EX4 1AY' || searchTerm === 'ex4 1ay') {
                $('.citizenSearchButton').attr('href', 'search-results_address_list');
            } else {
                $('.citizenSearchButton').attr('href', 'payment-benefits');
            }
        })
    });
</script>

{% endblock %} {% block body_end_additional %}
<script src="/public/javascripts/map/search/search.js"></script>
<script>
    var map

    require([
        'esri/map',
        'esri/dijit/LocateButton',
        'dojo/domReady!'
    ], function(
        Map, LocateButton
    ) {
        map = new Map('openStreetMap', {
            center: [-10.500, 53.5341],
            zoom: 6,
            basemap: 'streets'
        })

        geoLocate = new LocateButton({
            map: map
        }, 'LocateButton')
        geoLocate.startup()
    })
</script>
{% endblock %}