{% extends "layout_citizen.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Search for local land charges (LLC) on land or property
            </h1>

            <p>Local land charges (LLC) are legal rights and restrictions on land. You need to search for charges on a property if you are buying or selling land. HM Land Registry offers a search of the local land charges register for free, to reduce your
                conveyancing costs.
            </p>
            <p>HM Land Registry also offers an official search of local land charges. This service costs £15. It is recommended if you proceed to buy or sell, or if you are taking a land dispute to court. You can upgrade to an official search once you have
                tried the free service.</p>
            <!--<h3 class="heading-medium">Fees</h3>
            <table>
                <thead>
                    <tr>
                        <th>Documents (each)</th>
                        <th>Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Local land charge official search</td>
                        <td>£15.00</td>
                    </tr>
                </tbody>
            </table> -->

        </div>
    </div>
    <br>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>
                <a class="button button-start" href="search" role="button" id="start">Start now</a>
            </p>
        </div>
    </div>
    <!--<div class="grid-row">
        <div class="column-two-thirds">
            
    <h3 class="heading-medium">Help</h3>
    <p><a href="">Contact HM Land Registry</a> if you need help using this service.</p>
    </div>
    </div> -->

</main>

{% endblock %}