{% extends "layout_citizen.html" %} {% block page_title %} {% if serviceName %} {{ serviceName }} {% endif %} {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Local land charges (LLC): get an official search result
            </h1>

            <p>HM Land Registry recommends an official search if you are buying or selling property, or taking a land dispute to court. An official search costs £15.</p>
            <!--<h3 class="heading-medium">Fees</h3>
            <table>
                <thead>
                    <tr>
                        <th>Documents (each)</th>
                        <th>Fee</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Local land charge official search</td>
                        <td>£15.00</td>
                    </tr>
                </tbody>
            </table> -->

        </div>
    </div>
    <br>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>
                <a class="button button-start" href="search" role="button" id="start">Start now</a>
            </p>
        </div>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <!--<h3 class="heading-medium">Before you start</h3> -->
            <h3 class="heading-medium">Help</h3>
            <p><a href="">Contact HM Land Registry</a> if you need help using this service.</p>
        </div>
    </div>

</main>

{% endblock %}