{% extends "layout.html" %} {% block page_title %} Listed Building {% endblock %} {% block content %}
<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <a href="type-of-charge" class="link-back" style="margin-bottom:0">Back</a>
    <h1 class="heading-large" style="margin-top:20px;">Listed building</h1>
    <div class="grid-row">
        <div class="column-two-thirds">
            <form action="#">

                <fieldset>
                    <legend>
                        <h2 class="heading-medium">Choose a category</h2>
                    </legend>
                    <div class="form-group">
                        <label id="listedBuildingLabel" class="block-label selection-button-radio" for="listedBuilding">
                  <input id="listedBuilding" name="listedBuilding" type="radio" value="Listed building">
                  Listed building
                  </label>
                        <label id="conditionalPlanningLabel" class="block-label selection-button-radio" for="conditionalPlanning">
                  <input id="conditionalPlanning" name="listedBuilding" type="radio" value="Conditional planning consent">
                  Conditional planning consent
                  </label>
                        <label id="enforcementNoticeLabel" class="block-label selection-button-radio" for="enforcementNotice">
                  <input id="enforcementNotice" name="listedBuilding" type="radio" value="Enforcement notice">
                  Enforcement notice
                  </label>
                        <label id="repairsNoticeLabel" class="block-label selection-button-radio" for="repairsNotice">
                  <input id="repairsNotice" name="listedBuilding" type="radio" value="Repairs notice">
                  Repairs notice
                  </label>

                        <label id="dunnoLabel" class="block-label selection-button-radio" for="dunno">
                  <input id="dunno" name="listedBuilding" type="radio" value="I don't know the charge category">
                  I don't know the charge category
                  </label>
                    </div>
                </fieldset>
                <p>
                    <a class="button" id="listedBuildingButton" role="button" href="date-document-created">Continue</a>
                </p>

            </form>
        </div>
    </div>
</main>
<script>
    document.getElementById('listedBuildingButton').onclick = function() {
        var listedBuilding = document.getElementById('listedBuildingLabel');
        var conditionalPlanning = document.getElementById('conditionalPlanningLabel');
        var enforcementNotice = document.getElementById('enforcementNoticeLabel');
        var repairsNotice = document.getElementById('repairsNoticeLabel');
        var dunno = document.getElementById('dunnoLabel');
        var subcategoryButton = this;
        if (listedBuilding.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Listed building');
        } else if (conditionalPlanning.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Conditional planning consent');
        } else if (enforcementNotice.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Enforcement notice');
        } else if (conditionalPlanningConsent.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Conditional planning consent');
        } else if (enforcementNotice.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Enforcement notice');
        } else if (repairsNotice.classList.contains('selected')) {
            sessionStorage.setItem('chargeSubcategory', 'Repairs notice');
        } else if (dunno.classList.contains('selected')) {
            subcategoryButton.setAttribute('href', 'contact-HMLR');
        }
    }
</script>
{% endblock %}