{% extends "layout.html" %} {% block page_title %} Address confirm {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <a href="search-property" class="link-back" style="margin-bottom:0">Back</a>
    <h1 class="heading-large" style="margin-top:20px">Where to find the charge</h1>
    <div class="grid-row">
        <div class="column-two-thirds">
            <form action="#">

                <div class="form-group" id="search-field">
                    <fieldset>
                        <legend>
                            <h2 class="heading-medium">Is this the charge address?</h2>
                        </legend>
                        <div class="form-group">


                            <label id="yesAddressLabel" class="block-label selection-button-radio" for="yesAddress" data-target="addressEntry">
                                <input id="yesAddress" name="address" type="radio" value="yes" aria-controls="addressEntry">
                                                    Yes
                            </label>
                            <div class="js-hidden panel panel-border-narrow" id="addressEntry" aria-hidden="true" style="display: none;">

                                <div class="form-group" id="postcodeSearch">
                                    <h2 class="heading-small">Enter a postcode</h2>
                                    <span class="form-hint">Wrong address? Enter a new postcode below to change it.</span>
                                    <input class="form-control search-field" id="search" name="search" type="text" autofocus="autofocus" value="">
                                    <a id="findPostcode" class="button" href="#" role="button">Find</a>
                                </div>
                                <p id="manualAddressLink">
                                </p>
                                <div class="form-group hiddenList" id="addressList">
                                    <div class="results-block" id="address-list">
                                        <p>Click on the place you need.</p>
                                        <ol class="results-list">
                                            <li><a href="#" class="address-list">2 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">3 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">4 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">6 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">8 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">10 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">12 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">14 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">16 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">18 Okehampton Place</a></li>
                                            <li><a href="#" class="address-list">20 Okehampton Place</a></li>
                                        </ol>

                                        <br>
                                        <p>Can't find the place you need? <a href="search-property">Zoom to a place on the map</a></p>
                                    </div>
                                    <div id="manualAddressEntry" class="hiddenList">
                                        <p id="selectedAddress"></p>
                                        <p>Not the right location? <a href="more-information_2">Search again</a></p>
                                    </div>

                                </div>

                            </div>

                            <label id="noAddressLabel" class="block-label selection-button-radio" for="noAddress" data-target="noAddressEntry">
                                <input id="noAddress" name="address" type="radio" value="no">No
                            </label>
                            <div class="js-hidden panel panel-border-narrow" id="noAddressEntry" aria-hidden="true" style="display: none;">
                                <div class="form-group">
                                    <h2 class="heading-small">Describe how to find the charge without an address</h2>
                                    <span class="form-hint">No address for this charge? Describe how to find the charge instead. For example, 'land to the north of the bypass'.</span>
                                    <label class="form-label" for="textarea">
                                                
                                    </label>

                                    <textarea class="form-control form-control-3-4" name="textarea" id="locationDescription" rows="5"></textarea>
                                    <p><span class="form-hint">Answer must be shorter than 1000 characters (about 160 words)</span></p>
                                </div>
                            </div>
                        </div>
                        <p><a id="confirmAddressButton" href="does-charge-expire" class="button">Continue</a></p>
                    </fieldset>

                </div>

            </form>

        </div>
    </div>




</main>
<script>
    document.getElementById('findPostcode').onclick = function() {
        document.getElementById('addressList').classList.remove('hiddenList');
        document.getElementById('manualAddressLink').classList.add('hiddenList');
        return false;
    };

    var addressList = document.querySelectorAll('.address-list');
    for (var i = 0; i < addressList.length; i++) {
        addressList[i].onclick = function() {
            document.getElementById('manualAddressEntry').classList.remove('hiddenList');
            document.getElementById('address-list').classList.add('hiddenList');
            var addressLineOne = this.text;
            document.getElementById('selectedAddress').textContent = addressLineOne + ' Exeter EX4 1AY';
            sessionStorage.setItem('location', addressLineOne);
            return false;
        }
    }

    document.getElementById('confirmAddressButton').onclick = function() {
        var yesAddress = document.getElementById('yesAddressLabel');
        var noAddress = document.getElementById('noAddressLabel');
        var address = document.getElementById('selectedAddress')
        if (yesAddress.classList.contains('selected')) {
            var location = address.textContent;
            sessionStorage.setItem('location', location);
        } else if (noAddress.classList.contains('selected')) {
            var location = document.getElementById('locationDescription').value;
            sessionStorage.setItem('location', location);
        }
    }
</script>
{% endblock %}