{% extends "layout_lr.html" %}

{% block page_title %}
  Local land charges
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">
          <h1 class="heading-large">Register a local land charge </h1>
            <h2 class="heading-medium">Does the charge have any additional information held externally? </h2>

          <form>
            <fieldset class="inline">
                <legend class="visuallyhidden">Does the charge have any additional information held externally? </legend>

                <div class="form-group">
                  <label class="form-label" for="ext-link">
                    Location
                  </label>
                    <input class="form-control" id="ext-link" type="text">
                </div>

                <div class="form-group">
                  <label class="form-label" for="reference">
                    Reference
                  </label>
                    <input class="form-control" id="reference" type="text">
                </div>

              </fieldset>
              <a class="button" href="/llc-01/create-8" role="button">Continue</a>
            </form>
        </div>
      </div>

</main>

{% endblock %}
