{% extends "layout_lr.html" %}

{% block page_title %}
  Register a local land charge
{% endblock %}

{% block content %}

<main id="content" role="main">

      <div class="grid-row">
        <div class="column-two-thirds">

          <h1 class="heading-large">Register a local land charge </h1>
          <h2 class="heading-medium">What type of charge are you registering?</h2>
          <form method="post">
            <fieldset>
              <div class="form-group">
                <legend class="visuallyhidden">What type of charge are you registering? </legend>

                <label class="block-label" for="radio-inline-1">
                  <input id="radio-inline-1" type="radio" name="charge_type" value="light_obstruction">
                  Light obstruction notice
                </label>
                <label class="block-label" for="radio-inline-2">
                  <input id="radio-inline-2" type="radio" name="charge_type" value="local_compensation_charge">
                  Local compensation charge
                </label>
                <label class="block-label" for="radio-inline-3">
                  <input id="radio-inline-3" type="radio" name="charge_type" value="smoke_control">
                  Smoke control order
                </label>
                <!--<label class="block-label" for="radio-inline-4">
                  <input id="radio-inline-4" type="radio" name="charge_type" value="other">
                  (Some other one to be decided)
                </label>-->
              </div>
            </fieldset>

            <a class="button" href="/llc-01/create-2" role="button">Continue</a>
        </form>
        </div>
      </div>

</main>

{% endblock %}
