{% extends "layout.html" %} {% block page_title %} Sign in {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong></p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Sign in</h1>
            <form>
                <div class="form-group">
                    <fieldset>
                        <legend class="visually-hidden">Sign in</legend>
                        <div class="form-group">
                            <label class="form-label" for="user-id">Email</label>
                            <input class="form-control" id="user-id" name="user-id" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" id="password" name="password" type="password">
                        </div>
                        <h3 class="heading-medium">Problems signing in?</h3>
                        <ul class="list">
                            <li><a href="#">I need to register</a></li>
                            <li><a href="#">I forgot my password</a></li>
                        </ul>
                    </fieldset>
                </div>
                <a class="button" href="start-llc" role="button">Sign in</a></a>
            </form>
        </div>
    </div>
</main>

{% endblock %}