{% extends "layout_map.html" %} {% block page_title %} Draw an extent {% endblock %} {% block content %}


<!-- alpha banner -->
<div class="phase-banner map-phase-banner">
    <p><strong class="phase-tag">BETA</strong></p>
</div>
<!-- main content starts -->
<div id="map" style="width: 100%">
    <!-- map goes in here -->
</div>
<div id="search-panel">

    <h1 class="heading-medium"><!-- <span id="searchedTermRetrieved"></span> -->
    <br>Draw an extent around the land kept by the landowner

    </h1>
    <!--<ol class="results-list uprn-result">
            <li>
                <p>14 Okehampton Place<br>Exeter<br>EX4 1AY</p>
            </li>
        </ol> -->

    <div class="results-block">
        <p>Use the buttons on this map to draw the extent.</p>
        <p>You have added 0 extents (polygons, points or lines). A maximum of 500 extents may be added.</p>
        <a id="extentContinue" class="button" href="more-information">Continue</a>
    </div>
</div>


<div class="panel-control close">
    <img src="{{ asset_path }}images/arrow_collapse.png">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        var closePanel = function() {
            $("#search-panel").animate({
                "margin-left": "-1000px"
            }, 100);
            $(".panel-control").removeClass("close");
            $(".panel-control").addClass("open-button");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
        }

        var openPanel = function() {
            $("#search-panel").animate({
                "margin-left": "0"
            }, 100);
            $(".panel-control").removeClass("open-button");
            $(".panel-control").addClass("close");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
        }

        $(".panel-control").click(function() {
            if ($(this).hasClass("close")) {
                closePanel();
            } else {
                openPanel();
            }
        });


        var postcodeSelected = sessionStorage.getItem('postcodeSelected');
        console.log(postcodeSelected);
        if (postcodeSelected !== null) {
            $('#searchedTermRetrieved').text(postcodeSelected);
        } else {
            var locationRetrieved = sessionStorage.getItem('location');
            var postcodeRetrieved = sessionStorage.getItem('postcodeSearched');
            $('#searchedTermRetrieved').text(locationRetrieved + ' ' + postcodeRetrieved);
        };


        var extentIsChanging = sessionStorage.getItem('extentIsChanging');
        if (extentIsChanging === 'true') {
            sessionStorage.setItem('extendUpdated', 'true');
            $('#extentContinue').attr('href', 'charge-summary');
        };


    });
</script>

{% endblock %} {% block body_end_additional %} {% include "includes/map_scripts.html" %}
<script src="/public/javascripts/map/search/llc_layer_styles.js"></script>
<script src="/public/javascripts/map/search/local_land_charges_layer.js"></script>
<script src="/public/javascripts/map/search/map_events.js"></script>
<!-- <script src="/public/javascripts/map/search/sample_data.js"></script> -->
<script src="/public/javascripts/map/search/search.js"></script>
<script>
    zoomslider = new ol.control.Zoom();
    map.addControl(zoomslider);
    var geometry = "{&quot;type&quot;:&quot;LineString&quot;,&quot;coordinates&quot;: [[291228.7125000001, 92032.63750000006], [291338.61250000016, 92055.2125000001]]}";
    MAP_HELPERS.zoom_map(geometry);
</script>
{% endblock %}