{% extends "layout_citizen_regular.html" %} {% block page_title %} How to use the map {% endblock %} {% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search" class="link-back">Back</a></p>
            <h1 class="heading-large">
                How to use the map
            </h1>
            <h2 class="heading-medium">
                How to draw your search area
            </h2>
            <p><img src="/public/images/polygon.png" width="24" style="margin-right:1em">Click the polygon button</p>
            <ul class="list list-bullet">
                <li>Choose a place to start drawing and click on that point</li>
                <li>Keep clicking around the edge of your search area</li>
                <li>Double-click to finish drawing</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to draw your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/draw-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                    How to edit your search area
            </h2>
            <p><img src="/public/images/edit.png" width="24" style="margin-right:1em">Click the edit button</p>
            <p>When it is ready to edit your search area will:</p>
            <ul class="list list-bullet">
                <li>turn yellow (outline)</li>
                <li>fade and blur (background)</li>
            </ul>
            <ul class="list list-bullet">
                <li>Click on your search area</li>
                <li>Drag the search area until you have finished editing</li>
                <li>Double-click to finish editing</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to edit your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/edit-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                    How to delete your search area
            </h2>
            <p><img src="/public/images/remove-all.png" width="24" style="margin-right:1em">Click the delete all button</p>
            <p>By clicking the delete button it removes all search areas on the map</p>
            <details>
                <summary>
                    <span class="summary">How to delete your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/delete-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to copy a shape from the map
            </h2>
            <p><img src="/public/images/copy.png" width="24" style="margin-right:1em">Click the copy button</p>
            <p>Use the map buttons to copy a shape from the map.</p>
            <p>You can copy from the map when you are zoomed in to a location (seeing a place close-up). Make sure you can see property outlines on the map if you want to copy.</p>
            <ul class="list list-bullet">
                <li>Clieck on the property you want to copy</li>
                <li>The property will be highlighted</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to copy a shape from the map (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/copy-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to undo the last thing you drew
            </h2>
            <p><img src="/public/images/undo.png" width="24" style="margin-right:1em">Click the undo button</p>
            <p>CONTENT TBC</p>
            <details>
                <summary>
                    <span class="summary">How to undo the last thing you drew (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/undo-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to finish drawing a shape automatically (snap-to)
            </h2>
            <p><img src="/public/images/snap-to.png" width="24" style="margin-right:1em">Click the snap-to button</p>
            <p>Use the map buttons to finish drawing your shape automatically on the map. This will automatically jump from the point you are drawing to another nearest point on the map.</p>
            <ul class="list list-bullet">
                <li>Hover your cursor near the line</li>
                <li>The shape will jump to that point or draw along that line automatically</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to finish drawing a shape automatically (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/snap-to-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>


        </div>

            
    </div>
</main>

{% endblock %}