{% extends "layout_citizen_regular.html" %} {% block page_title %} How to use the map {% endblock %} {% block content %}


<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search" class="link-back">Back</a></p>
            <h1 class="heading-large">
                How to use the map
            </h1>
            <h2 class="heading-medium">
                How to draw your search area
            </h2>
            <p><img src="/public/images/polygon.png" width="24" style="margin-right:1em">Click the polygon button</p>
            <ul class="list list-bullet">
                <li>Choose a place and click to start drawing</li>
                <li>Keep clicking around the edge of your search area</li>
                <li>To complete your shape join the ends up or double click</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to draw your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/draw-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                    How to edit your search area
            </h2>
            <p><img src="/public/images/edit.png" width="24" style="margin-right:1em">Click the edit button</p>
            <p>Your search area will:</p>
            <ul class="list list-bullet">
                <li>turn yellow (outline)</li>
                <li>fade and blur (background)</li>
            </ul>
            <ul class="list list-bullet">
                <li>Click and drag the yellow point to edit</li>
                <li>Click the edit feature button to finish drawing</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to edit your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/edit-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                    How to delete your search area
            </h2>
            <p><img src="/public/images/remove-all.png" width="24" style="margin-right:1em">Click the remove all button</p>
            <p>By clicking the remove button it deletes everything you have drawn on the map.</p>
            <details>
                <summary>
                    <span class="summary">How to delete your search area (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/delete-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to copy a building from the map
            </h2>
            <p><img src="/public/images/copy.png" width="24" style="margin-right:1em">Click the copy basemap feature button</p>
            <p>You can copy from the map when you are zoomed in to a location (seeing a place close-up). Make sure you can see building outlines on the map.</p>
            <ul class="list list-bullet">
                <li>Clieck on the building you want to copy</li>
                <li>The building will be highlighted</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to copy a shape from the map (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/copy-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to undo the last thing you drew
            </h2>
            <p><img src="/public/images/undo.png" width="24" style="margin-right:1em">Click the undo last action button</p>
            <p>Clicking this button will delete the last point you drew.</p>
            <details>
                <summary>
                    <span class="summary">How to undo the last thing you drew (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/undo-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>

            <h2 class="heading-medium">
                How to draw a shape with snap-to (snap-to)
            </h2>
            <p><img src="/public/images/polygon.png" width="24" style="margin-right:1em">Click the polygon button</p>
            <p><img src="/public/images/snap-to.png" width="24" style="margin-right:1em">Click the snap-to button</p>
            <p>You can only use snap-to when you are zoomed into a location (seeing a place close-up).</p>
            <ul class="list list-bullet">
                <li>Hover your cursor near the line or point you want to snap to</li>
                <li>The cursor will jump to that point automatically</li>
            </ul>
            <details>
                <summary>
                    <span class="summary">How to finish drawing a shape automatically (video)</span>
                </summary>
                <div class="panel panel-border-narrow">
                    <p>
                        <img src="/public/images/snap-to-tool.gif" class="map-tools">
                    </p>
                </div>
            </details>


        </div>

            
    </div>
</main>

{% endblock %}