{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Create an account</h1>
            <form action="thank-you" method="GET">
                <div class="form-group">
                    <fieldset>
                        <legend class="visually-hidden">Register</legend>
                        <div class="form-group">
                            <label class="form-label" for="lastName">First name</label>
                            <input class="form-control" id="firstName" name="register" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="firstName">Last name</label>
                            <input class="form-control" id="lastName" name="register" type="text">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" id="email" name="register" type="email">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="emailConfirmation">Confirm email</label>
                            <input class="form-control" id="emailConfirmation" name="register" type="email">
                        </div>
                        <p>By registering you agree to our <a href="#">terms of use</a>.</p>
                        <p>
                            <a href="#" id="registerButton" class="button">Accept and submit</a>
                        </p>
                        <!-- <div class="form-group">
                            <input id="registerButton" class="button" type="submit" value="Submit">
                        </div> -->
                        <p>Already registered? <a href="login">Sign in now</a></p>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>

</main>
{% endblock %} {% block body_end_additional %}
<script>
    document.getElementById('registerButton').onclick = function() {
        var userName = document.getElementById('firstName').value;
        sessionStorage.setItem('userName', userName);
        var email = document.getElementById('email').value;
        if (email === 'email@exists.com') {
            document.getElementById('registerButton').setAttribute('href', 'register-email-exists-error');
        } else {
            sessionStorage.setItem('emailRegistered', email);
            document.getElementById('registerButton').setAttribute('href', 'thank-you');
        }
    }
</script>
{% endblock %}