{% extends "layout_map.html" %}

{% block page_title %}
Change the extent
{% endblock %}

{% block content %}

<!--<style>
  .summary table, tr, td {
    border-bottom: 0px solid !important;

  }
</style> -->
<div class="map-page">
  <script>
    var maintainMapAddressSelected = sessionStorage.getItem("maintainMapAddress")
  </script>
  <!-- <main id="content" role="main"> -->
  <!-- beta banner -->
<main id="content" role="main" style="padding:0px">
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
		</p>
  </div>
</main>
      <div class="container">
        <div id="map-nav" class="maintain-map form-group">
          <div class="maintain-llc-map"><img src="/public/images/map_1_1.png" width="100%" alt="map"></div>
        </div>
      </div>
      <div id="search-panel" class="charge-list charge-list-maintain-v1-4">
			<h1 class="heading-large">Delete part of the extent</h1>
			

      <div class="panel panel-border-narrow">
          <p>Use the buttons on this map to draw the charge extent. When you have finished, save your changes and continue.</p>
        </div>


			
			<form action="60_map_confirm_2" method="GET" style="padding-bottom: 0">
        <div class="form-group">
        <a href="/add_charge/non-migrated/v-2/60_map_confirm_2"></a>
          <input class="button" type="submit" value="Save new extent">
        </div>
      </form>

<br>
      <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Why do I have to delete part of this extent? </span></summary>
              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <div class="form-group">
                <p>We are moving charge records from local authorities to this online register.  This will be finished in 2025.</p>
                </div>
            </div>
          </details>
        </div>

      <div class="form-group">
          <details role="group">
            <summary role="button" aria-controls="details-content-0" aria-expanded="false"><span class="summary">Who to contact if you want to add the other part of this extent </span></summary>
              <div class="panel panel-border-narrow" id="details-content-0" aria-hidden="true">
                <div class="form-group">
                <p>If you want to add the rest of this charge, contact [DYNAMIC TEXT].</p>
                </div>
            </div>
          </details>
        </div>


		</div>
      <div class="panel-control close">
        <img src="{{ asset_path }}images/arrow_collapse.png">
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script>
      $(document).ready(function() {
        var closePanel = function() {
          $("#search-panel").animate({
            "margin-left": "-1000px"
          }, 100);
          $(".panel-control").removeClass("close");
          $(".panel-control").addClass("open-button");
          $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
        }

        var openPanel = function() {
          $("#search-panel").animate({
            "margin-left": "0"
          }, 100);
          $(".panel-control").removeClass("open-button");
          $(".panel-control").addClass("close");
          $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
        }

        $(".panel-control").click(function() {
          if($(this).hasClass("close")) {
            closePanel();
          } else {
            openPanel();
          }
        });

        var searchedTermRetrieved = sessionStorage.getItem("searchedTerm");
        console.log(searchedTermRetrieved);
        $("#searched_term").val(searchedTermRetrieved);

        var locationRetrieved = sessionStorage.getItem("location");
        var postcodeSearchedRetrieved = sessionStorage.getItem("postcodeSearched");
        $(".location").text(locationRetrieved + " " + postcodeSearchedRetrieved);
      });
    </script>

    {% endblock %}

    {% block body_end_additional %}
    {% include "includes/map_scripts.html" %}
    <script src="/public/javascripts/map/search/llc_layer_styles.js"></script>
    <script src="/public/javascripts/map/search/local_land_charges_layer.js"></script>
    <script src="/public/javascripts/map/search/map_events.js"></script>
    <script src="/public/javascripts/map/search/sample_data.js"></script>
    <script src="/public/javascripts/map/search/search.js"></script>
    <script>
      zoomslider = new ol.control.Zoom();
      map.addControl(zoomslider);
      var geometry = "{&quot;type&quot;:&quot;LineString&quot;,&quot;coordinates&quot;: [[291228.7125000001, 92032.63750000006], [291338.61250000016, 92055.2125000001]]}";
      MAP_HELPERS.zoom_map(geometry);
    </script>
    {% endblock %}