{% extends "layout_citizen.html" %} {% block page_title %} External LLC search {% endblock %} {% block content %}

<main id="content" role="main">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-medium">
                Citizen Services
            </h1>
            <h2 class="heading-small"><a href="v4/start">Version 4</a><code> Last updated 11/10/2017</code></h2>
            <ul class="list list-bullet">
                <li>Brand new journey</li>
            </ul>
            <h2 class="heading-small"><a href="v3-1/start">Version 3.1</a><code> Last updated 14/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Updated dashboard page</li>
            </ul>
            <h2 class="heading-small"><a href="v3/start">Version 3</a><code> Last updated 05/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Update based on second set of research and technical input (25/08/2017)</li>
                <li>Content refresh (05/09/2017)</li>
            </ul>
            <h2 class="heading-small"><a href="v2-1/start">Version 2-1</a><code> Last updated 01/09/2017</code></h2>
            <ul class="list list-bullet">
                <li>Updated based on third set of user research and technical input, contents ae also updated within this version.</li>
            </ul>
            <h2 class="heading-small"><a href="v2/start">Version 2</a><code> Last updated 04/08/2017</code></h2>
            <ul class="list list-bullet">
                <li>Update based on first set of research</li>
            </ul>
            <h2 class="heading-small"><a href="v1/start">Version 1</a><code> Last updated 19/07/2017</code></h2>
            <ul class="list list-bullet">
                <li>Initial HTML version</li>
                <li>Paid Service Added</li>
            </ul>
        </div>
    </div>
</main>

{% endblock %}