{% extends "layout.html" %}

{% block page_title %}
Add additional information about the charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->

	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Where should someone go to research this charge?</h1>

			<span>
				Who can answer questions about this charge?
				<ul class="list list-bullet">
					<li>name</li>
					<li>phone number</li>
					<li>email</li>
					<li>address</li>
				</ul>
			</span>

			<form action="07_reason.html" method="GET">
				<div class="form-group">
					<fieldset>
						<legend class="visuallyhidden">How to find more information about the charge</legend>
						<div class="form-group">
							<textarea class="form-control" id="more-information" name="more_information" cols="50" rows="10" value=""></textarea>
						</div>
					</fieldset>

					<p>Do you have a link to a planning portal?</p>

					<fieldset>
						<legend class="visuallyhidden">Do you have a link to a planning portal?</legend>
						<label class="block-label selection-button-radio" for="expiresYes" data-target="expires">
							<input id="expiresYes" name="expires" type="radio" value="yes">
							Yes
						</label>
						<label class="block-label selection-button-radio no" for="expiresNo">
							<input id="expiresNo" name="expires" type="radio" value="no">
							No
						</label>
						<div class="js-hidden" id="expires">
							<div class="form-date">
								<div class="form-group form-group-month">
									<label class="form-label" for="link">Link</label>
									<input class="form-control" id="link" name="link">
								</div>

							</div>
						</div>

					</fieldset>
				</div>

				<a class="button additional-information-button" href="09_expiration" role="button">Continue</a>
			</form>

			</div>
		</div>
	</div>
</main>

{% endblock %}


