{% extends "layout.html" %}
{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<!-- main content starts -->
	<div class="grid-row">
		<div class="column-two-thirds">
			<div class="govuk-box-highlight">
				<h1 class="bold-large">Your changes have been saved</h1>
				<p>
					The charge ID is <br>
					<strong class="heading-medium">LR-DEF67890</strong>
				</p>
			</div>
			<p><a href="map">Find another local land charge</a></p>
		</div>
	</div>
</main>
{% endblock %}