{% extends "layout.html" %}

{% block page_title %}
Uploading a shape file
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">alpha</strong></p>
	</div>
	<!-- main content -->
	<div class="grid-row">
		<div class="column-two-thirds">

			<!-- <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

				<h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
					There are errors on this page
				</h1>

				<p>You haven’t uploaded a file.  </p>
				<p>File is not in the accepted format. Upload a shapefile (.shp). </p>
				<p>File is too large. Reduce file size. </p>
				<p>File can’t be read.  Extent not uploaded. </p>

				<ul class="error-summary-list">
					<li><a href="#uploadFile">Upload a file</a></li>
					<li><a href="#uploadFile">Upload a shapefile</a></li>
					<li><a href="#uploadFile">Upload a file under 1MB</a></li>
					<li><a href="#uploadFile">Try again</a></li>
				</ul>
			</div> -->
			
			<h1 class="heading-large">Upload another file</h1>

			<!-- <div class="notice">
				<span class="icon icon-important">
					<span class="visually-hidden">Warning</span>
				</span>
				<strong class="bold-small">
					This will replace the other boundary you uploaded. </strong>
				</div> -->

				<br>

				<form action="check-charge-boundary" method="get">

					<fieldset>
						<div class="panel panel-border-narrow">
							<legend class="form-label-bold">Accepted formats are: </legend>

							<ul class="list list-bullet">
							<li>shapefile (.shp)  </li>
							<li>under 1MB</li>
						</ul>
						<p>We cannot guarantee that your extent will be correctly uploaded if your shapefile does not use British National Grid (BNG) coordinates. If you don't have a BNG shapefile, check the extent you have uploaded to make sure it is correct.</p>
						</div>
						<br>
						<div class="form-group"> 
							<!-- Add form-group-error class when error occured on the page -->
							<label id="uploadFile" class="form-label-bold" for="file-input">
								Upload file

							<!-- <span class="error-message">
								Upload a shapefile
							</span> -->

					        <!-- <span class="error-message">
					          Upload a file
					      </span> -->

					      <!-- <span class="error-message">
					          Upload a file under 1MB
					      </span> -->

					      <!-- <span class="error-message">
					          Upload a new file
					      </span> -->

					  </label>
					  <input type="file" id="file-input">
					</div>
					
				</fieldset>
				
				<br>
				
				<a class="button " href="edit-extent-uploaded-file-2">Continue </a>
				<br><br>
				<p><a href="edit-extent-uploaded-file-1">Cancel upload </a></p>
			</form>
			

		</div>
	</div>
</main>


{% endblock %}
