{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                Your payment was successful
            </h1>

            <p>To make any changes to your payment you'll need to contact the service.</p>
            <p><a href="#">View your payment summary</a></p>
            <form action="view">
                <input class="button continueButton" type="submit" value="Continue to your search">
            </form>
        </div>
    </div>





</main>


{% endblock %}{% block body_end_additional %} {% endblock %}