{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search-results" class="link-back">Back</a></p>
            <h1 class="heading-large">
                Charge details
            </h1>
        </div>
        <div class="column-two-thirds">
            <table class="check-your-answers-2">
                <tbody>
                    <tr>
                        <td class="bold-small">Location</td>
                        <td><span id="address-selected">3 Clinton Street, Exeter, EX4 1AX</span></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Category</td>
                        <td>Planning - Agreement</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Description</td>
                        <td>Change of use of land for a medical clinic and associated works</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Authority reference</td>
                        <td>JBC123/X36</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Originating authority</td>
                        <td>Exeter City Council</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Creation date</td>
                        <td>28 May 2011</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">Registration date</td>
                        <td>1 June 2011</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="bold-small">HM Land Registry reference</td>
                        <td>LLC-1NMX</td>
                        <td></td>
                    </tr>
                       
			<br>
			<br>
	
		    </tbody>
		</table>
		
		
		      <div class="payPromo">
                <h2 class="heading-small">Upgrade to an official search (£15)</h2>
                <br>
	
            
              <p>Upgrade to an official search and create an account, and you can download and save in different formats (in PDF, JSON, CSV, XML).</p> 
			      <p>You will get:</p>
<ul class="list list-bullet">
<li>unlimited downloads</li>
<li>unlimited repeats of official searches <br>
	Check for new charges, before you exchange contracts or re-mortgage</li>
<li>free search history</li>
</ul>

<p>Official search certificates are:</p>
<ul class="list list-bullet">
<li>secure (tamper proof)</li>
<li>digitally signed and assured by HM Land Registry</li>
</ul>
               
 
                <p>You will see:</p>
     <ul class="list list-bullet">           
<li>where to get source documents</li>
<li>charge boundary (on a map)</li>
          </ul>
                
                 <br>
              





            
                    <input class="button" type="submit" value="Pay now">
                <br>
              

		
                <br>
<br>
			<br>
		
            
            
        </div>

     </div>


   




</main>
<script>
    var placeSearched = sessionStorage.getItem('addressSelected');
    console.log(placeSearched);
    if (placeSearched === null) {
        document.getElementById('address-selected').textContent = "3 Clinton Street, Exeter, EX4 1AX";
    } else {
        document.getElementById('address-selected').textContent = placeSearched;
    }
</script>

{% endblock %}
