{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search-results" class="link-back">Back</a></p>
            <h1 class="heading-large">
                Charge details
            </h1>
        </div>

<br>
<table class="search-fees">
<thead>
<tr>
<td>Charge detail</td>
<td>information</td>
</tr>
</thead>
<tbody>
<tr>
<td>Category</td>
<td>Planning notice</td>
</tr>
<tr>
<td>Address</td>
<td>1 Clinton Street, Exeter, EX4 1AY</td>
</tr>
<tr>
<td>Other information</td>
<td >Extension for the garage</td>

</tr>
<tr>
<td>Originating Authority</td>
<td >Exeter City Council</td>
</tr>
<tr>
<td>Created on</td>
<td> 20 April 2002</td>

<tr>
<td>Registration date</td>
    <td >20 April 2002</td>



</tr>
<tr>
<td>Originating Authority reference</td>
<td >LLC/EX38912276</td>
</tr>
<tr>
<td>Create an account</td>
<td ><a href="url"> Create an account</a>
</td>
</tr>
<tr>
<td>
<p>Account-holders can:</p>
	                                            <ul class="list list-bullet">
	                            <li>download</li> 
	                            <li>save </li>
	                            <li>return to their result</li>
	                </ul>


 </td>
<td > <a href="url"> Upgrade to an official search to see this</a></td>
</tr>
<tr>
<td>
<p>And for 6 months, they also get:</p>
	                                            <ul class="list list-bullet">
	                            <li>free refresh</li> 
	                            <li>free repeats </li>
	                            <li>free search history</li>
	                </ul>

 </td>
<td ><a href="url"> Upgrade to an official search to see this</a></td>

</tr>
</td>
	<td>
<p>Download in a:
	</p>
	                                            <ul class="list list-bullet">
	                            <li>tamper proof format (digitally signed by HM Land Registry)</li> 
	                            <li>copy and paste format</li>
	                         
	                </ul>
 </td>
<td >
	<a href="url"> Upgrade to an official search to see this</a>
	</td>

<td>Find out where to get source documents</td>
<td >
	<a href="url"> Upgrade to an official search to see this</a>
	
	<td>Boundary (on a map)</td>
<td >
<a href="url"> Upgrade to an official search to see this</a>

</tr>
</tbody>
</table>
  
            <br>
            <br>
            
                 <p><a class="button button-start" href="search" role="button" id="start" style="background-image:url(/public/images/icon-pointer.png); background-position: 220px 50%">Upgrade to an official search</a></p>
       




 




</div>




    </div>




</main>
<script>
    var placeSearched = sessionStorage.getItem('placeSelected');
    console.log(placeSearched);
    document.getElementById('address-selected').textContent = placeSearched;
</script>

{% endblock %}
