{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <p><a href="search-results" class="link-back">Back</a></p>
            <h1 class="heading-large">
                Charge details
            </h1>
        </div>


        <div class="column-two-thirds">
            <table class="check-your-answers-2">
                <tbody>
                    <tr>
                        <td>Category</td>
                        <td class="bold-small">Planning notice</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td class="bold-small"><span id="address-selected"></span>1 Clinton Street, Exeter EX4 1AY</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Other information</td>
                        <td class="bold-small">Extension for the garage</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Originating authority</td>
                        <td class="bold-small">Exeter City Council</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Created on</td>
                        <td class="bold-small">20 April 2002</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Registration date</td>
                        <td class="bold-small">20 April 2002</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Originating authority reference</td>
                        <td class="bold-small">EXT789</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>HM Land Registry reference</td>
                        <td class="bold-small">LLC/EX38912276</td>
                        <td></td>
                    </tr>
                    
                   <tr>
                        <td>Create an account</td>
                        <td class="bold-small"> <a href="url"> Create an account</a>  </td>
                        <td></td>
                    </tr>
                      
                       
                   <tr>
                        <td>
                            <p>Account-holders can:</p>
                                            <ul class="list list-bullet">
                            <li>download</li> 
                            <li>save </li>
                            <li>return to their result</li>
                </ul>

                            
                            
                            
                            </td>
                        <td class="bold-small"> <a href="url"> Upgrade to an official search to see this</a>  </td>
                        <td></td>
                    </tr>
                    
                    
                      <td>
                            <p>And for 6 months, they also get:</p>
                                            <ul class="list list-bullet">
                            <li>free refresh</li> 
                            <li>free repeats </li>
                            <li>free search history</li>
                </ul>

                            
                            
                            
                            </td>
                        <td class="bold-small"> <a href="url"> Upgrade to an official search to see this</a>  </td>
                        <td></td>
                    </tr>
            
               <td>
                            <p>Download in a:</p>
                                            <ul class="list list-bullet">
                            <li>tamper proof format (digitally signed by HM Land Registry)</li> 
                            <li>copy and paste format</li>
                         
                </ul>

                            
                            
                            
                            </td>
                        <td class="bold-small"> <a href="url"> Upgrade to an official search to see this</a>  </td>
                        <td></td>
                    </tr>
        
        
                    
                </tbody>
            </table>
            <br>
            <br>
            
                 <p><a class="button button-start" href="search" role="button" id="start" style="background-image:url(/public/images/icon-pointer.png); background-position: 220px 50%">Upgrade to an official search</a></p>
       



FREE SEARCH/CHARGE DETAILS PAGE

 


Type of charge	Shown
Location	Shown
Registration date	Shown
Contact details 
(Local Land Charges Officer)	Shown
Find out where to get source documents	 [LINK: Upgrade to an official search to see this]
Boundary (on a map)	[LINK: Upgrade to an official search to see this]
Create an account	[LINK: Create an account]
<a href="url"> Create an account</a>


Account-holders can:
"	download 
"	save 
"	return to their result	[LINK: Upgrade to an official search to see this]
And for 6 months, they also get:
o    free refresh
o    free repeats 
o    free search history	[LINK: Upgrade to an official search to see this]
Download in a:
"	tamper proof format (digitally signed by HM Land Registry)
"	copy and paste format	[LINK: Upgrade to an official search to see this]



[GREEN BUTTON] Download my search result (Official search, £15)





<h2 class="heading-large">Your free search result</h2>
<br>
<table class="search-fees">
<thead>
<tr>
<td>Charge detail</td>
<td>information</td>
</tr>
</thead>
<tbody>
<tr>
<td>Category</td>
<td>Planning notice</td>
</tr>
<tr>
<td>Address</td>
<td>1 Clinton Street, Exeter, EX4 1AY</td>
</tr>
<tr>
<td>Other information</td>
<td >Extension for the garage</td>

</tr>
<tr>
<td>Originating Authority</td>
<td >Exeter City Council</td>
</tr>
<tr>
<td>Created on</td>
<td> 20 April 2002</td>

<tr>
<td>Registration date</td>
    <td >20 April 2002</td>



</tr>
<tr>
<td>Originating Authority reference</td>
<td >LLC/EX38912276</td>
</tr>
<tr>
<td>Create an account</td>
<td ><a href="url"> Create an account</a>
</td>
    <td>&nbsp;</td>
</tr>
<tr>
<td>
<p>Account-holders can:</p>
	                                            <ul class="list list-bullet">
	                            <li>download</li> 
	                            <li>save </li>
	                            <li>return to their result</li>
	                </ul>


 </td>
<td > <a href="url"> Upgrade to an official search to see this</a></td>
    <td>&nbsp;</td>
</tr>
<tr>
<td>
<p>And for 6 months, they also get:</p>
	                                            <ul class="list list-bullet">
	                            <li>free refresh</li> 
	                            <li>free repeats </li>
	                            <li>free search history</li>
	                </ul>

 </td>
<td ><a href="url"> Upgrade to an official search to see this</a></td>
    <td>&nbsp;</td>


<td>
<p>Download in a:</p>
	                                            <ul class="list list-bullet">
	                            <li>tamper proof format (digitally signed by HM Land Registry)</li> 
	                            <li>copy and paste format</li>
	                         
	                </ul>
<p>And for 6 months, they also get:</p>
	                                            <ul class="list list-bullet">
	                            <li>free refresh</li> 
	                            <li>free repeats </li>
	                            <li>free search history</li>
	                </ul>

 </td>
<td ><a href="url"> Upgrade to an official search to see this</a></td>



</tr>
</tbody>
</table>



</div>




    </div>




</main>
<script>
    var placeSearched = sessionStorage.getItem('placeSelected');
    console.log(placeSearched);
    document.getElementById('address-selected').textContent = placeSearched;
</script>

{% endblock %}
