{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-large">
                List of authorities
            </h1>

            <ul>

                <li>Adur District Council</li>
                <li>Allerdale Borough Council</li>
                <li>Amber Valley Borough Council</li>
                <li>Arun District Council</li>
                <li>Ashfield District Council</li>
                <li>Ashford Borough Council</li>
                <li>Aylesbury Vale District Council</li>
                <li>Babergh District Council</li>
                <li>Barnsley Metropolitan Borough Council</li>
                <li>Barrow-in-Furness Borough Council</li>
                <li>Basildon Borough Council</li>
                <li>Basingstoke and Deane Borough Council</li>
                <li>Bassetlaw District Council</li>
                <li>Bath and North East Somerset Council</li>
                <li>Bedford Borough Council</li>
                <li>Birmingham City Council</li>
                <li>Blaby District Council</li>
                <li>Blackburn and Darwen Borough Council</li>
                <li>Blackpool Borough Council</li>
                <li>Bolsover District Council</li>
                <li>Bolton Metropolitan Borough Council</li>
                <li>Borough Council of King's Lynn and West Norfolk</li>
                <li>Borough of Poole</li>
                <li>Boston Borough Council</li>
                <li>Bournemouth Borough Council</li>
                <li>Bracknell Forest Council</li>
                <li>Braintreee District Council</li>
                <li>Breckland District Council</li>
                <li>Brentwood Borough Council</li>
                <li>Brighton &amp; Hove City Council</li>
                <li>Bristol City Council</li>
                <li>Broadland District Council</li>
                <li>Bromsgrove District Council</li>
                <li>Broxbourne Borough Council</li>
                <li>Buckinghamshire County Council</li>
                <li>Burnley Borough Council</li>
                <li>Bury Metropolitan Borough Council</li>
                <li>Calderdale Metropolitan Borough Council</li>
                <li>Cambridge City Council</li>
                <li>Cambridgeshire County Council</li>
                <li>Cannock Chase District Council</li>
                <li>Canterbury City Council</li>
                <li>Carlisle City Council</li>
                <li>Castle Point Borough Council</li>
                <li>Central Bedfordshire Council</li>
                <li>Charnwood Borough Council</li>
                <li>Chelmsford City Council</li>

            </ul>



        </div>
        <!-- <div class="column-one-third">
            <aside class="login-box">
                <h2 class="heading-small">Existing users</h2>
                <p><a href="login">Sign in</a></p>
                <h2 class="heading-small">New users</h2>
                <p><a href="register">Register</a></p>
            </aside>
        </div> -->
    </div>
</main>

{% endblock %}