{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <a href="start" class="link-back" style="margin-bottom:0">Back</a>
            <h1 class="heading-large" style="margin-top:20px;">
                Check for local authorities
            </h1>

            <div class="panel panel-border-wide">
                <p>If you don't know which local authority your search area belongs to, you can find out <a href="https://www.gov.uk/find-local-council" target="_blank">here</a> (this link will open in a new tab or window).</p>
            </div>

            <form action="#" method="GET" style="padding-bottom: 0">
                <div class="form-group">
                    <fieldset>
                        <legend class="visuallyhidden">Enter an authority name to search</legend>
                        <div class="form-group">
                            <label class="form-label" for="org_search">
								Enter an authority name to search
							</label>

                            <div class="form-group">
                                <input class="form-control search-field" id="org_search" name="org_search" type="text" value="" autofocus="autofocus"> <button id="authorityListButton" class="search-button"></button>
                            </div>
                            <p id="selectedAuthority" class="bold-small"></p>
                            <p id="contactText" class="hiddenList"><a href="#">Contact this authority</a>.</p>
                            <p><a href="search" class="button hiddenList" id="continueButton">Continue</a></p>


                        </div>








                    </fieldset>
                </div>
            </form>




        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        var legislationList = [
            "Adur District Council ",
            "Allerdale Borough Council ",
            "Amber Valley Borough Council ",
            "Arun District Council ",
            "Ashfield District Council ",
            "Ashford Borough Council ",
            "Aylesbury Vale District Council ",
            "Babergh District Council ",
            "Barnsley Metropolitan Borough Council ",
            "Barrow-in-Furness Borough Council ",
            "Basildon Borough Council ",
            "Basingstoke and Deane Borough Council ",
            "Bassetlaw District Council ",
            "Bath and North East Somerset Council ",
            "Bedford Borough Council ",
            "Birmingham City Council ",
            "Blaby District Council ",
            "Blackburn with Darwen Borough Council ",
            "Blackpool Borough Council ",
            "Bolsover District Council ",
            "Bolton Metropolitan Borough Council ",
            "Borough Council of King 's Lynn and West Norfolk",
            "Borough of Poole",
            "Boston Borough Council",
            "Bournemouth Borough Council",
            "Bracknell Forest Council",
            "Braintree District Council",
            "Breckland District Council",
            "Brentwood Borough Council",
            "Brighton and Hove City Council",
            "Bristol City Council",
            "Broadland District Council",
            "Bromsgrove District Council",
            "Broxbourne Borough Council",
            "Broxtowe Borough Council",
            "Buckinghamshire County Council",
            "Burnley Borough Council",
            "Bury Metropolitan Borough Council",
            "Calderdale Metropolitan Borough Council",
            "Cambridge City Council",
            "Cambridgeshire County Council",
            "Cannock Chase District Council",
            "Canterbury City Council",
            "Carlisle City Council",
            "Castle Point Borough Council",
            "Central Bedfordshire Council",
            "Charnwood Borough Council",
            "Chelmsford City Council",
            "Cheltenham Borough Council",
            "Cherwell District Council",
            "Cheshire East Council",
            "Cheshire West and Chester Council",
            "Chesterfield Borough Council",
            "Chichester District Council",
            "Chiltern District Council",
            "Chorley Borough Council",
            "Christchurch Borough Council",
            "City of Bradford Metropolitan District Council",
            "City of Lincoln Council",
            "City of London Corporation",
            "City of Westminster",
            "City of Wolverhampton Council",
            "City of York Council",
            "Colchester Borough Council",
            "Copeland Borough Council",
            "Corby Borough Council",
            "Cornwall Council",
            "Cotswold District Council",
            "Council of the Isles of Scilly",
            "Coventry City Council",
            "Craven District Council",
            "Crawley Borough Council",
            "Cumbria County Council",
            "Dacorum Borough Council",
            "Darlington Borough Council",
            "Dartford Borough Council",
            "Daventry District Council",
            "Derby City Council",
            "Derbyshire County Council",
            "Derbyshire Dales District Council",
            "Devon County Council",
            "Doncaster Metropolitan Borough Council",
            "Dorset County Council",
            "Dover District Council",
            "Dudley Metropolitan Borough Council",
            "Durham County Council",
            "East Cambridgeshire District Council",
            "East Devon District Council",
            "East Dorset District Council",
            "East Hampshire District Council",
            "East Hertfordshire District Council",
            "East Lindsey District Council",
            "East Northamptonshire Council",
            "East Riding of Yorkshire Council",
            "East Staffordshire Borough Council",
            "East Sussex County Council",
            "Eastbourne Borough Council",
            "Eastleigh Borough Council",
            "Eden District Council",
            "Elmbridge Borough Council",
            "Epping Forest District Council",
            "Epsom and Ewell Borough Council",
            "Erewash Borough Council",
            "Essex County Council",
            "Exeter City Council",
            "Fareham Borough Council",
            "Fenland District Council",
            "Forest Heath District Council",
            "Forest of Dean District Council",
            "Fylde Borough Council",
            "Gateshead Metropolitan Borough Council",
            "Gedling Borough Council",
            "Gloucester City Council",
            "Gloucestershire County Council",
            "Gosport Borough Council",
            "Gravesham Borough Council",
            "Great Yarmouth Borough Council",
            "Greater London Authority",
            "Guildford Borough Council",
            "Halton Borough Council",
            "Hambleton District Council",
            "Hampshire County Council",
            "Harborough District Council",
            "Harlow District Council",
            "Harrogate Borough Council",
            "Hart District Council",
            "Hartlepool Borough Council",
            "Hastings Borough Council",
            "Havant Borough Council",
            "Herefordshire Council",
            "Hertfordshire County Council",
            "Hertsmere Borough Council",
            "High Peak Borough Council",
            "Hinckley and Bosworth Borough Council",
            "Horsham District Council",
            "Hull City Council",
            "Huntingdonshire District Council",
            "Hyndburn Borough Council",
            "Ipswich Borough Council",
            "Isle of Wight Council",
            "Kent County Council",
            "Kettering Borough Council",
            "Kirklees Council",
            "Knowsley Metropolitan Borough Council",
            "Lancashire County Council",
            "Lancaster City Council",
            "Leeds City Council",
            "Leicester City Council",
            "Leicestershire County Council",
            "Lewes District Council",
            "Lichfield District Council",
            "Lincolnshire County Council",
            "Liverpool City Council",
            "London Borough of Barking and Dagenham",
            "London Borough of Barnet",
            "London Borough of Bexley",
            "London Borough of Brent",
            "London Borough of Bromley",
            "London Borough of Camden",
            "London Borough of Croydon",
            "London Borough of Ealing",
            "London Borough of Enfield",
            "London Borough of Hackney",
            "London Borough of Hammersmith & Fulham",
            "London Borough of Haringey",
            "London Borough of Harrow",
            "London Borough of Havering",
            "London Borough of Hillingdon",
            "London Borough of Hounslow",
            "London Borough of Islington",
            "London Borough of Lambeth",
            "London Borough of Lewisham",
            "London Borough of Merton",
            "London Borough of Newham",
            "London Borough of Redbridge",
            "London Borough of Richmond upon Thames",
            "London Borough of Southwark",
            "London Borough of Sutton",
            "London Borough of Tower Hamlets",
            "London Borough of Waltham Forest",
            "London Borough of Wandsworth",
            "Luton Borough Council",
            "Maidstone Borough Council",
            "Maldon District Council",
            "Malvern Hills District Council",
            "Manchester City Council",
            "Mansfield District Council",
            "Medway Council",
            "Melton Borough Council",
            "Mendip District Council",
            "Mid Devon District Council",
            "Mid Suffolk District Council",
            "Mid Sussex District Council",
            "Middlesbrough Borough Council",
            "Milton Keynes Council",
            "Mole Valley District Council",
            "New Forest District Council",
            "Newark and Sherwood District Council",
            "Newcastle City Council",
            "Newcastle-under-Lyme Borough Council",
            "Norfolk County Council",
            "North Devon District Council",
            "North Dorset District Council",
            "North East Derbyshire District Council",
            "North East Lincolnshire Council",
            "North Hertfordshire District Council",
            "North Kesteven District Council",
            "North Lincolnshire Council",
            "North Norfolk District Council",
            "North Somerset Council",
            "North Tyneside Council",
            "North Warwickshire Borough Council",
            "North West Leicestershire District Council",
            "North Yorkshire County Council",
            "Northampton Borough Council",
            "Northamptonshire County Council",
            "Northumberland County Council",
            "Norwich City Council",
            "Nottingham City Council",
            "Nottinghamshire County Council",
            "Nuneaton and Bedworth Borough Council",
            "Oadby and Wigston Borough Council",
            "Oldham Metropolitan Borough Council",
            "Oxford City Council",
            "Oxfordshire County Council",
            "Pendle Borough Council",
            "Peterborough City Council",
            "Plymouth City Council",
            "Portsmouth City Council",
            "Preston City Council",
            "Purbeck District Council",
            "Reading Borough Council",
            "Redcar and Cleveland Borough Council",
            "Redditch Borough Council",
            "Reigate and Banstead Borough Council",
            "Ribble Valley Borough Council",
            "Richmondshire District Council",
            "Rochdale Metropolitan Borough Council",
            "Rochford District Council",
            "Rossendale Borough Council",
            "Rother District Council",
            "Rotherham Metropolitan Borough Council",
            "Royal Borough of Greenwich",
            "Royal Borough of Kensington and Chelsea",
            "Royal Borough of Kingston upon Thames",
            "Royal Borough of Windsor and Maidenhead",
            "Rugby Borough Council",
            "Runnymede Borough Council",
            "Rushcliffe Borough Council",
            "Rushmoor Borough Council",
            "Rutland County Council",
            "Ryedale District Council",
            "Salford City Council",
            "Sandwell Metropolitan Borough Council",
            "Scarborough Borough Council",
            "Sedgemoor District Council",
            "Sefton Metropolitan Borough Council",
            "Selby District Council",
            "Sevenoaks District Council",
            "Sheffield City Council",
            "Shepway District Council",
            "Shropshire Council",
            "Slough Borough Council",
            "Solihull Metropolitan Borough Council",
            "Somerset County Council",
            "South Bucks District Council",
            "South Cambridgeshire District Council",
            "South Derbyshire District Council",
            "South Gloucestershire Council",
            "South Hams District Council",
            "South Holland District Council",
            "South Kesteven District Council",
            "South Lakeland District Council",
            "South Norfolk District Council",
            "South Northamptonshire Council",
            "South Oxfordshire District Council",
            "South Ribble Borough Council",
            "South Somerset District Council",
            "South Staffordshire Council",
            "South Tyneside Council",
            "Southampton City Council",
            "Southend-on-Sea Borough Council",
            "Spelthorne Borough Council",
            "St Albans City and District Council",
            "St Edmundsbury Borough Council",
            "St Helens Council",
            "Stafford Borough Council",
            "Staffordshire County Council",
            "Staffordshire Moorlands District Council",
            "Stevenage Borough Council",
            "Stockport Metropolitan Borough Council",
            "Stockton-on-Tees Borough Council",
            "Stoke-on-Trent City Council",
            "Stratford-on-Avon District Council",
            "Stroud District Council",
            "Suffolk Coastal District Council",
            "Suffolk County Council",
            "Sunderland City Council",
            "Surrey County Council",
            "Surrey Heath Borough Council",
            "Swale Borough Council",
            "Swindon Borough Council",
            "Tameside Metropolitan Borough Council",
            "Tamworth Borough Council",
            "Tandridge District Council",
            "Taunton Deane Borough Council",
            "Teignbridge District Council",
            "Telford & Wrekin Council",
            "Tendring District Council",
            "Test Valley Borough Council",
            "Tewkesbury Borough Council",
            "Thanet District Council",
            "Three Rivers District Council",
            "Thurrock Council",
            "Tonbridge and Malling Borough Council",
            "Torbay Council",
            "Torridge District Council",
            "Trafford Metropolitan Borough Council",
            "Tunbridge Wells Borough Council",
            "Uttlesford District Council",
            "Vale of White Horse District Council",
            "Wakefield Metropolitan District Council",
            "Walsall Metropolitan Borough Council",
            "Warrington Borough Council",
            "Warwick District Council",
            "Warwickshire County Council",
            "Watford Borough Council",
            "Waveney District Council",
            "Waverley Borough Council",
            "Wealden District Council",
            "Wellingborough Borough Council",
            "Welwyn Hatfield Borough Council",
            "West Berkshire Council",
            "West Devon Borough Council",
            "West Dorset District Council",
            "West Lancashire Borough Council",
            "West Lindsey District Council",
            "West Oxfordshire District Council",
            "West Somerset District Council",
            "West Sussex County Council",
            "Weymouth and Portland Borough Council",
            "Wigan Metropolitan Borough Council",
            "Wiltshire Council",
            "Winchester City Council",
            "Wirral Borough Council",
            "Woking Borough Council",
            "Wokingham Borough Council",
            "Worcester City Council",
            "Worcestershire County Council",
            "Worthing Borough Council",
            "Wychavon District Council",
            "Wycombe District Council",
            "Wyre Borough Council",
            "Wyre Forest District Council"
        ]
        $("#org_search").autocomplete({
            source: legislationList
        });
        $('#authorityListButton').on('click ', function() {
            var authoritySelected = $('#org_search').val();
            if (authoritySelected === 'City of London Corporation') {
                $('#selectedAuthority').text(authoritySelected + ' is on the register.');
                $('#continueButton').removeClass('hiddenList');
                $('#contactText').addClass('hiddenList');
            } else {
                $('#selectedAuthority').text(authoritySelected + ' is not on the register yet.');
                $('#contactText').removeClass('hiddenList');
                $('#continueButton').addClass('hiddenList');
            }

            return false;
        });
    })
</script>

{% endblock %}