{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">


            <h1 class="heading-xlarge">
                Search for local land charges
            </h1>
            <div class="panel panel-border-wide download-panel" style="margin-top: -2em">
          
                <p>Before you start,  <a href="list-of-authorities-1">check your search area is on this register</a>.</p>
            </div>
            <p>Use this service to search for restrictions (local land charges) on land or property.</p>
            <div class="panel panel-border-wide">
                <p>A personal search of the Local Land Charges Register is free under the Environmental Information Regulations 2004 (EIR).</p>
                <p>The official search, the search of local land charges guaranteed by HM Land Registry, does not include: </p>
                <ul>
                    <li>* planning and development applications</li>
                    <li>* building controls</li>
                    <li>* information about road development schemes near to your property</li>
                </ul>
                    <p>If you need this information, ask your local authority for a CON29 enquiry.</p>
            </div>
            <p>By starting a search you agree to our <a href="#">terms and conditions</a>.</p>
            <p><a class="button button-start" href="search" role="button" id="start" style="background-image:url(/public/images/icon-pointer.png); background-position: 220px 50%">Accept and start</a></p>
            <br>
                <h2 class="heading-large">
                    What you will see on your search result</h2>
                
            <table class="search-fees">
                <thead>
                    <tr>
                        <td>What you get</td>
                        <td>Free</td>
                        <td>&pound;15</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Location</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Type of charge</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Registration date</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Contact details 
                        <br>
                        (Local Land Charges Officer)</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Create an account</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                           <tr>
                        <td>Account-holders can:
                               <br>* download
                               <br>* save
                               <br>* return to their result
                               </td>
                        <td></td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                       <tr>
                        <td>For 6 months, they also get:
                           <br> * free refresh
                           <br> * free repeats
                           <br> * free search history
                           </td>
                        <td>Download in a:
                           <br> * tamper proof format (digitally signed by HM Land Registry
                           <br> * copy and paste format
                           </td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Find out where to get source documents</td>
                        <td></td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>Boundary (on a map)</td>
                        <td></td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                 
                    <tr>
                        <td>
                            <ul class="list list-bullet">
                                <li>Cloud storage for your searches</li>
                                <li>Search result archive</li>
                                <li>See active and lapsed searches</li>
                            </ul>
                            <p>For 6 months each search will have:</p>
                            <ul class="list list-bullet">
                                <li>Unlimited downloads</li>
                                <li>Unlimited refreshes</li>
                                <li>Download in PDF, JSON, CSV, XML</li>
                            </ul>
                        </td>
                        <td></td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Documents are:</p>
                            <ul class="list list-bullet">
                                <li>secure (tamperproof)</li>
                                <li>digitally signed by HM Land Registry</li>
                            </ul>
                        </td>
                        <td></td>
                        <td style="text-align:center; vertical-align:top; color:green">&#10004;</td>
                    </tr>
                </tbody>
            </table>



        </div>
        <!-- <div class="column-one-third">
            <aside class="login-box">
                <h2 class="heading-small">Existing users</h2>
                <p><a href="login">Sign in</a></p>
                <h2 class="heading-small">New users</h2>
                <p><a href="register">Register</a></p>
            </aside>
        </div> -->
    </div>
</main>

{% endblock %}
