{% extends "layout.html" %} 
{% block page_title %} 
Amount paid in compensation
{% endblock %} 
{% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong></p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">What amount has been secured? </h1>

<br>
            <div class="notice">
                <span class="icon icon-important">
                    <span class="visually-hidden">Warning</span>
                </span>
                <strong class="bold-small">
                    Is there is a ‘general’ version of this ‘specific’ financial charge? If there is, start by cancelling the general charge
                    <span><!-- <a href="https://llc-prototypes.herokuapp.com/maintain_llc/v2-1/welcome">cancelling the general charge</a> --></span>.

                </strong>
            </div>
            <br><br>
            <form action="document-link" method="GET">

                <fieldset>
                    <legend class="visually-hidden">Amount that will be secured</legend>

                    <div class="form-group">
                        <label class="form-label-bold" for="textarea">Amount that will be secured
                            <span class="form-hint">For example, 100.50.  </span>
                        </label>
                        <input class="form-control form-control-1-4" type="text" name="">

                    </div>
                </fieldset>

                <fieldset>
                    <legend class="form-label-bold">Will interest be paid on this charge?</legend>

                    <div class="form-group">

                        <label id="noPaidLabel" class="block-label selection-button-radio" for="noPaid">
                            <input id="noPaid" name="extent" type="radio" value="no"> No
                        </label>


                        <label id="yesPaidLabel" class="block-label selection-button-radio no" for="yesPaid" data-target="chargeExpires">
                            <input id="yesPaid" name="extent" type="radio" value="yes" aria-controls="chargeExpires">
                            Yes, interest is payable
                        </label>
                        <br>
                        <div class="js-hidden panel panel-border-narrow" id="chargeExpires" aria-hidden="true" style="display: none;">

                            <fieldset>
                                <legend class="visually-hidden">What rate of interest?</legend>
                                
                                <div class="form-group">
                                    <label class="form-label-bold" for="interestRate ">What rate of interest? 
                                        <span class="form-hint">For example, 5% a year, or write 0.50 % instead of 1/2 equation, see "Interest rate definations help" section for more details. 
                                        </span>
                                    </label>
                                    <input class="form-control form-control-1-4" id="interestRate" name="interestRate" type="text">
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </fieldset>
            </fieldset>
        </form>
        
        <p>
            <a class="button" id="amountSecuredBtn" role="button" href="date-document-created">Continue</a>
        </p>
    </div>

</div>
</main>
<script>
    var chargeTypeIsChanging = sessionStorage.getItem('chargeTypeIsChanging');
    console.log(chargeTypeIsChanging);
    if (chargeTypeIsChanging === 'true') {
        var chargeTypeToChange = sessionStorage.getItem('chargeTypeToChange');
        if (chargeTypeToChange === 'Planning') {
            document.getElementById('planningLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Financial') {
            document.getElementById('financialLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Listed Building') {
            document.getElementById('listedBuildingLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Land Compensation') {
            document.getElementById('landCompensationLabel').classList.add('selected');
        } else if (chargeTypeToChange === 'Other') {
            document.getElementById('otherLabel').classList.add('selected');
        }

        document.getElementById('typeOfChargeButton').setAttribute('href', 'date-document-created');
        sessionStorage.setItem('chargeTypeUpdated', 'true');
    }

    document.getElementById('typeOfChargeButton').onclick = function() {
        var financialLabel = document.getElementById('financialLabel');
        var planningLabel = document.getElementById('planningLabel');
        var listedBuildingLabel = document.getElementById('listedBuildingLabel');
        var landCompensationLabel = document.getElementById('landCompensationLabel');
        var otherLabel = document.getElementById('otherLabel');
        if (financialLabel.classList.contains('selected')) {
            var chargeType = 'Financial';

        // financial journey radio button clicked   
        document.getElementById('typeOfChargeButton').setAttribute('href', 'financial-charge/secured-charge-amount');
        // If yes radio button clicked 
        document.getElementById('amountSecuredBtn').setAttribute('href', 'financial-charge/know-secured-amount');


    } else if (planningLabel.classList.contains('selected')) {
        var chargeType = 'Planning';
    } else if (listedBuildingLabel.classList.contains('selected')) {
        var chargeType = 'Listed Building';
    } else if (landCompensationLabel.classList.contains('selected')) {
        var chargeType = 'Land Compensation';
    } else if (otherLabel.classList.contains('selected')) {
        var chargeType = 'Other';
    }

    sessionStorage.setItem('chargeType', chargeType);
}

</script>

{% endblock %}