{% extends "layout.html" %} {% block page_title %} Do you know the amount secured for this financial charge? {% endblock %} {% block content %}


<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong></p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Do you know the amount secured for this financial charge?</h1>
            <form action="#">

                <fieldset>
                    <legend class="visually-hidden">Do you know the amount secured for this financial charge?</legend>
                    <div class="form-group">
                        <label id="noAmount" class="block-label selection-button-radio" for="noSecuredAmount">
                            <input id="noSecuredAmount" name="noSecuredAmountLegislation" type="radio" value="noSecuredAmount">
                            No
                        </label>
                        <label id="yesAmount" class="block-label selection-button-radio" for="financial">
                            <input id="financial" name="noSecuredAmountLegislation" type="radio" value="Financial">
                            Yes
                        </label>
                    </div>
                </fieldset>
                <p>
                    <a class="button" id="securedBtn" role="button" href="date-document-created">Continue</a>

                </p>
            </form>
        </div>
    </div>
</main>
<script>
    var chargeTypeIsChanging = sessionStorage.getItem('chargeTypeIsChanging');
    console.log(chargeTypeIsChanging);
    if (chargeTypeIsChanging === 'true') {
        var chargeTypeToChange = sessionStorage.getItem('chargeTypeToChange');
        if (chargeTypeToChange === 'noSecuredAmount') {
            document.getElementById('noAmount').classList.add('selected');
        } else if (chargeTypeToChange === 'Financial') {
            document.getElementById('yesAmount').classList.add('selected');
        }

        document.getElementById('securedBtn').setAttribute('href', 'date-document-created');
        sessionStorage.setItem('chargeTypeUpdated', 'true');
    }
    document.getElementById('securedBtn').onclick = function() {
        var yesAmount = document.getElementById('yesAmount');
        var noAmount = document.getElementById('noAmount');
        if (yesAmount.classList.contains('selected')) {
            var chargeType = 'Financial';
            // financial journey radio button clicked   
            document.getElementById('securedBtn').setAttribute('href', 'know-secured-amount');

        } else if (noAmount.classList.contains('selected')) {
            var chargeType = 'noSecuredAmount';
        } else if (listedBuildingLabel.classList.contains('selected')) {
            var chargeType = 'Listed Building';
        } else if (landCompensationLabel.classList.contains('selected')) {
            var chargeType = 'Land Compensation';
        } else if (otherLabel.classList.contains('selected')) {
            var chargeType = 'Other';
        }
        sessionStorage.setItem('chargeType', chargeType);
    }
</script>
{% endblock %}