{% extends "layout_citizen_regular.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">ALPHA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">Create your password</h1>
            <h2 class="heading-small">Choosing a password</h2>
            <form action="login" method="GET">
                <div class="form-group">
                    <fieldset>
                        <div class="form-hint">
                            <p>Use a password that has at least:</p>
                            <ul class="list list-bullet">
                                <li>8 characters</li>
                                <li>1 number</li>
                                <li>1 capital letter</li>
                                <li>1 letter that isn't a capital</li>
                                <li>1 symbol, for example a question mark</li>
                            </ul>
                            <p>Don't include anything that is easy to guess, for example your first or last name.</p>
                        </div>
                        <legend class="visually-hidden">Create a password</legend>
                        <div class="form-group">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" id="password" name="createPassword" type="password">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="confirmPassword">Confirm password</label>
                            <input class="form-control" id="confirmPassword" name="createPassword" type="password">
                        </div>
                        <div class="form-group">
                            <input id="createPasswordButton" class="button" type="submit" value="Create password">
                        </div>
                    </fieldset>
                </div>
            </form>

        </div>
    </div>

</main>
{% endblock %} {% block body_end_additional %}
<script>
    document.getElementById('registerButton').onclick = function() {
        var userName = document.getElementById('name').value;
        sessionStorage.setItem('userName', userName);
    }
</script>
{% endblock %}