{% extends "layout_map.html" %} {% block page_title %} Where do you want to add the charge? {% endblock %} {% block content %}


<!-- alpha banner -->
<main id="content" role="main" style="padding:0px">
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <div id="legend">
        <p><a href="#" class="open">Legend <span class="triangle" style="color: #005ea5">&#9662;</span></a></p>
        <ul>
            <!--<li class="bold-xsmall" style="text-align: right"><a href="#" class="closeLegend">Close</a></li> -->
            <li><span><img src="/public/images/non-mig.png" style="height:1.1em;"></span> = Non-migrated area</li>
            <li><span><img src="/public/images/other-auth.png" style="height:1.1em"></span> = Other authority</li>
            <li><span><img src="/public/images/boundary.png" style="height:1.1em; border:1px solid rgba(100,100,100,0.3)"></span> = Boundary between authorities</li>
            <li><span><img src="/public/images/charge-extent.png" style="width:1.5em; height: 0.2em; vertical-align: center;position:relative; top: -0.3em;"></span> = Charge extent</li>
            <!--<li><span><img src="/public/images/search-extent.png" style="width:1.5em; height: 0.2em; vertical-align: center;position:relative; top: -0.3em;"></span> = Search extent</li> -->
            <li><span><img src="/public/images/edit-extent.png" style="width:1.5em; height: 0.2em; vertical-align: center;position:relative; top: -0.3em;"></span> = Editable charge extent</li>
            <!-- <li><span><img src="/public/images/delete-extent.png" style="width:1.5em; height: 0.2em; vertical-align: center;position:relative; top: -0.3em;"></span> = Deletable charge extent extent</li> -->
            <li><span class="bold-xsmall">Map tools</span></li>
            <li><span><img src="/public/images/polygon.png" style="height:1.1em"></span> = Draw polygon</li>
            <li><span><img src="/public/images/point.png" style="height:1.1em"></span> = Draw point</li>
            <li><span><img src="/public/images/line.png" style="height:1.1em"></span> = Draw line</li>
            <li><span><img src="/public/images/edit.png" style="height:1.1em"></span> = Edit feature</li>
            <li><span><img src="/public/images/copy.png" style="height:1.1em"></span> = Duplicate</li>
            <li><span><img src="/public/images/remove.png" style="height:1.1em"></span> = Remove</li>
            <li><span><img src="/public/images/remove-all.png" style="height:1.1em"></span> = Remove all</li>
            <li><span><img src="/public/images/undo.png" style="height:1.1em"></span> = Undo last action</li>
            <li><span><img src="/public/images/snap-to.png" style="height:1.1em"></span> = Follow line on map</li>

        </ul>
    </div>
</main>
<!-- main content starts -->
<div id="map" style="width: 100%; position:relative;">
    <!-- map goes in here -->
</div>
<div id="search-panel">
    <a href="date-document-created" class="link-back" style="margin-bottom:0">Back</a>
    <h1 class="heading-medium" style="margin-top:1em">Enter a postcode</h1>
    <form>

        <div class="form-group">
            <legend class="visuallyhidden">Enter a postcode</legend>

            <!-- <input class="form-control search-field" id="search_term" name="search_term" type="text" value="" autofocus="autofocus">
            <input id="postcodeSearchButton" class="search-button" type="submit" name="search" value=""> -->

            <input style="width: 70%;" class="form-control search-field" id="search_term" name="search_term" type="text" value="" autofocus="autofocus">

            <a id="postcodeSearchButton" href="draw-an-extent" class="button">Search</a>

        </div>


        <!-- 
  <p>You will see a map showing this address on the next page. Use this map to start drawing the extent.</p> -->



        <ul id="address-list" class="list hiddenList">
            <li><a href="draw-an-extent">1 Clinton Street</a></li>
            <li><a href="draw-an-extent">2 Clinton Street</a></li>
            <li><a href="draw-an-extent">3 Clinton Street</a></li>
            <li><a href="draw-an-extent">4 Clinton Street</a></li>
            <li><a href="draw-an-extent">5 Clinton Street</a></li>
            <li><a href="draw-an-extent">6 Clinton Street</a></li>
            <li><a href="draw-an-extent">7 Clinton Street</a></li>
            <li><a href="draw-an-extent">8 Clinton Street</a></li>
            <li><a href="draw-an-extent">9 Clinton Street</a></li>
            <li><a href="draw-an-extent">10 Clinton Street</a></li>
            <li><a href="draw-an-extent">11 Clinton Street</a></li>
            <li><a href="draw-an-extent">12 Clinton Street</a></li>
            <li><a href="draw-an-extent">13 Clinton Street</a></li>
            <li><a href="draw-an-extent">14 Clinton Street</a></li>
            <li><a href="draw-an-extent">15 Clinton Street</a></li>
            <li><a href="draw-an-extent">16 Clinton Street</a></li>
        </ul>

        <p>Use the buttons on this map to draw the charge extent.
        </p>

        <div class="panel panel-border-narrow">
            <p>You have added
                <strong class="bold-small"><span> 0 </span> </strong> (polygons, points or lines) out of 500 possible extents.
            </p>
        </div>
        <p>

            <a href="more-information_2" class="button disabled continueButton">Continue</a></p>


        <p> Do you have an extent saved on file? <a href="upload-shape-file">Upload the file </a></p>

    </form>
</div>





<!-- <div class="panel-control close">
    <img src="{{ asset_path }}images/arrow_collapse.png">
</div> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
    $(document).ready(function() {
        var closePanel = function() {
            $("#search-panel").animate({
                "margin-left": "-1000px"
            }, 100);
            $(".panel-control").removeClass("close");
            $(".panel-control").addClass("open-button");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_open.png");
        }

        var openPanel = function() {
            $("#search-panel").animate({
                "margin-left": "0"
            }, 100);
            $(".panel-control").removeClass("open-button");
            $(".panel-control").addClass("close");
            $(".panel-control img").attr("src", "{{ asset_path }}images/arrow_collapse.png");
        }

        $(".panel-control").click(function() {
            if ($(this).hasClass("close")) {
                closePanel();
            } else {
                openPanel();
            }
        });
        $("#search_term").keydown(function(e) {
            var keycode = e.which;
            if (keycode == 13) {
                $('#postcodeSearchButton').removeAttr('href');
                $("#address-list").removeClass("hiddenList")
                return false;
            }

        });
        $("#postcodeSearchButton").click(function() {
            if ($("#search_term").val() === "EXT123456") {
                $("#postcodeSearchButton").attr("href", "address-confirm");
            } else if ($('#search_term').val() === 'EX4' || $('#search_term').val() === 'ex4') {
                $('#postcodeSearchButton').attr('href', 'search-property-by-title');
            } else if ($("#search_term").val() === "EX4 1AX" || $("#search_term").val() === "ex4 1ax") {
                $('#postcodeSearchButton').removeAttr('href');
                $("#address-list").removeClass("hiddenList")
            } else {
                $("#postcodeSearchButton").attr("href", "draw-an-extent");
            }
        });

        $("#address-list li a").click(function() {
            $('.continueButton').attr('href', 'more-information');
            var location = $(this).html();
            var postcodeSearched = $("#search_term").val();
            sessionStorage.setItem("location", location);
            sessionStorage.setItem("postcodeSearched", postcodeSearched);
        });

        $('#legend a').on('click', function() {
            if ($(this).hasClass('collapse')) {
                $('#legend ul').removeClass('hiddenList');
                $(this).removeClass('collapse');
                $(this).addClass('open');
                return false;
            } else if ($(this).hasClass('open')) {
                $('#legend ul').addClass('hiddenList');
                $(this).removeClass('open');
                $(this).addClass('collapse');
                return false;
            }

            return false;
        });


    });
</script>

{% endblock %} {% block body_end_additional %} {% include "includes/map_scripts.html" %}
<script src="/public/javascripts/map/search/llc_layer_styles.js"></script>
<script src="/public/javascripts/map/search/local_land_charges_layer.js"></script>
<!-- <script src="/public/javascripts/map/search/map_events.js"></script>
<script src="/public/javascripts/map/search/sample_data.js"></script>
<script src="/public/javascripts/map/search/search.js"></script> -->
<script>
    //map.getControls().clear();
    zoomslider = new ol.control.Zoom();
    map.addControl(zoomslider);
    var geometry = "{{ geometry }}";
    //var geometry = "{&quot;type&quot;:&quot;LineString&quot;,&quot;coordinates&quot;: [[291228.7125000001, 92032.63750000006], [291338.61250000016, 92055.2125000001]]}";
    MAP_HELPERS.zoom_map(geometry);
</script>
<script>
    $('#address-list li a').click(function() {
        var addressSearched = $(this).text();
        var geometry = "{&quot;type&quot;:&quot;LineString&quot;,&quot;coordinates&quot;: [[291228.7125000001, 92032.63750000006], [291338.61250000016, 92055.2125000001]]}";
        MAP_HELPERS.zoom_map(geometry);
        $('#address-list').addClass('hiddenList');
        $('#search_term').val(addressSearched);
        return false;
    });
    $('button').click(function() {
        $('.continueButton').removeClass('disabled');
        var clickedButton = $(this);
        $(clikedButton).click(function() {
            $(this).attr('id', '');
        });
    });
</script>
{% endblock %}