{% extends "layout.html" %}

{% block page_title %}
Select charge type
{% endblock %}

{% block proposition_header %}
{% include "includes/propositional_navigation.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main" class="v4">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-large">Register a <span class="charge_type"></span> charge</h1>
      <h2 class="heading-medium">Legislation</h2>
      <div class="ui-widget">
        <label class="form-label" for="tags">
          Legislation 
          <span class="form-hint">Start typing the legislation you are looking for and select it from the list</span>
        </label>
        <input class="form-control" id="tags" type="text">
        <p>
          <a class="button legislation_button" href="register_31-where-search" role="button">Continue</a>
        </p>
      </div>
    </div>
  </div>

</main>
<script>
  chargeType = sessionStorage.getItem("chargeType");
  chargeType = chargeType.toLowerCase();
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(document).ready(function() {
    var availableTags = [
    "Town and Country Planning Act 1990",
    "Town and Country Planning (General Permitted Development Order) 1995",
    "Planning and Compulsory Purchase Act 1990",
    "Town and Country Planning Control of Advertisement (England) Regulations 2007",
    "Planning (Hazardous Substances) Act 1990",
    "Planning (Listed Buildings and Conservation Areas) Act 1990",
    "Planning Act 2008"
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  });
</script>



{% endblock %}
