{% extends "layout.html" %}

{% block page_title %}
Land Registry
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner-beta">
		<p>
			<strong class="phase-tag">BETA</strong>
			<span>This is a new service – your <a href="feedback">feedback</a> will help us to improve it.</span>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Local land charges <span class="heading-secondary">Prototypes</span></h1>
			<!--<h2 class="heading-medium"><a href="/llc-06/index">Local Land Charges</a></h2>
			<p>Local Land Charges app that contains:</p>
			<ul class="list list-bullet">
				<li>Maintain Local Land Charges</li>
				<li>Account management</li>
			</ul> -->

			<h2 class="heading-medium"><a href="/maintain_llc/index">Maintain LLC</a></h2>

			<p>Maintaining a charge journey.</p>

			<h2 class="heading-medium"><a href="/add_charge/index">Add a charge</a></h2>
			<p>Adding a charge journey.</p>

			<h2 class="heading-medium"><a href="/admin/index">Account management</a></h2>
			<p>Managing accounts journey</p>

			<h2 class="heading-medium"><a href="/citizen-service/index">Citizen Service</a></h2>
			<p>Public facing local land charge search</p>
			<!-- <h2 class="heading-medium"><a href="/lon/index">Light Obstruction Notice</a></h2>
			<p>Adding and varying LONs</p> -->

		</div>
	</div>
</main>

{% endblock %}


