{% extends "layout.html" %}

{% block page_title %}
Land Registry
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="phase-banner">
		<p>
			<strong class="phase-tag">alpha</strong>
			<span>This is a new service</span>
		</p>
	</div>
	<div class="grid-row">
		<div class="column-two-thirds">
			<h1 class="heading-large">Local land charges <span class="heading-secondary">Prototypes</span></h1>

			<h2 class="heading-medium"><a href="/maintain_llc/index">Maintain LLC</a></h2>

			<p>Updated version for maintaining a charge.</p>

			<h2 class="heading-medium"><a href="/add_charge/index">Add a charge</a></h2>
			<p>Updated version for adding a charge.</p>
		</div>
	</div>
</main>

{% endblock %}


