{% extends "layout_citizen.html" %} {% block page_title %} Search for a charge {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Search for local land charges (LLC) on land or property
            </h1>

            <div class="get-started-intro">
                <p>Use this service to find legal rights and restrictions (local land charges) on a property.</p>

                <ul class="list-bullet">
                  <li>Search for free to see local land charges on any property you want to buy</li>
                  <li>Pay £15 to get an official search</li>
                </ul>

            </div>

<!--             <p>Use this service to find legal rights and restrictions (local land charges) on a property.</p>

            <div class="panel panel-border-wide">
                <p>Search for free to see local land charges on any property you want to buy. </p>
            </div>

            <div class="panel panel-border-wide">
                <p>Search for £15 to get an official search, guaranteed by HM Land Registry.</p>
            </div> -->



<br><br>
    <div class="grid-row">
        <div class="column-two-thirds">
            <p>
                <a class="button button-start" href="search-method" role="button" id="start">Start now</a>
            </p>
        </div>
    </div>


            <section class="form-group">
                <div id="before-you-start">
                    <h2 class="heading-medium">Before you start</h2>
<br>
            <h3 id="about-llc" class="heading-small">About local land charges</h3>
            <p>Local land charges (LLC) are legal rights and restrictions on land. For example, a tree preservation order is a local land charge that stops you from cutting down a tree.</p>
<br>
        
            <h3 id="why-search" class="heading-small">Why you need to search for local land charges</h3>
            <p>If you are thinking about buying a house, you need to find out if it has any local land charges on it. This is because local land charges affect what you can do on a property.</p>
            <p>This search is usually done by a conveyancer, but HM Land Registry also offers a search of the local land charges register for free. Use the free search to find out more about the property, to help you decide if you want to buy it.</p>
        
                </div>
<br>
           
            <h3 id="fees" class="heading-small">Difference between the free and paid searches</h3>
            <table class="search-fees">
                <thead>
                    <tr>
                        <td>Free service </td>
                        <td>&pound;15 service</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul style="margin-top: -275px;" class="list-bullet">
                                <li>where the local land charge is</li>
                                <li>description of the local land charge (what it does)</li>
                                <li>registration date (when it starts)</li>
                                <li>contact details for a local authority (they can answer questions about this local land charge)</li>

                            </ul>
                        </td>
                        <td>
                            <ul class="list-bullet">
                                <li>where the local land charge is</li>
                                <li>description of the local land charge (what it does)</li>
                                <li>registration date (when it starts)</li>
                                <li>contact details for a local authority (they can answer questions about this local land charge)</li>
                                <li>official search, guaranteed by HM Land Registry</li>
                                <li> link to documents (you need this if you want to research a charge)</li>
                                <li>local land charge boundary (shows where a charge starts and stops) </li>
                                <li>for 6 months:</li>
                                <li>refresh your search (make sure no new local land charges have been added before you exchange contracts)</li>
                                <li>return to your result (in case you lose your search result)</li>
                                <li>download your results in different formats (PDF, JSON, CSV, XML)</li>

                            </ul>

                        </td>
                    </tr>
                    
                </tbody>
            </table>
            </section>
            

        </div>
    </div>
    <br>

    <!--<div class="grid-row">
        <div class="column-two-thirds">
            
    <h3 class="heading-medium">Help</h3>
    <p><a href="">Contact HM Land Registry</a> if you need help using this service.</p>
    </div>
    </div> -->

</main>

{% endblock %}