{% extends "layout.html" %}

{% block page_title %}
Edit charge
{% endblock %}

{% block content %}

<main id="content" role="main">
	<!-- alpha banner -->
	<div class="phase-banner">
		<p><strong class="phase-tag">BETA</strong></p>
	</div>
	<!-- main content starts -->
	<p><a href="view-specific-financial">Back to charge details</a></p>
	<h1 class="heading-large">Charge history for LLC-3TBHP</h1>
	<p>You can see the most recent updates first.</p>
	<table class="charge-history">

		<thead>
			<tr>
				<th class="bold-small">
					When
				</th>
				<th class="bold-small">
					Who
				</th>
				<th class="bold-small">
					What
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					14 December 2014
				</td>
				<td>
					Charles Dickens<br>
					<a href="mailto:charles.dickens@plymouth.gov.uk">charles.dickens@plymouth.gov.uk</a><br>
					Plymouth City Council
				</td>
				<td>
					Extent
				</td>
			</tr>
			<tr>
				<td>
					30 September 2012
				</td>
				<td>
					Emma Bovary<br>
					<a href="mailto:emma.bovary@plymouth.gov.uk">emma.bovary@plymouth.gov.uk</a><br>
					Exeter City Council
				</td>
				<td>
					Charge is added to the register
				</td>
			</tr>
		</tbody>
	</table>
</div>
</main>
<script>

</script>

{% endblock %}


