{% extends "layout.html" %} {% block page_title %} Add a local land charge {% endblock %} {% block content %}


<main id="content" role="main">

    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-full">
            <h1 class="heading-large">Non-migrated</h1>
            <img src="https://media.giphy.com/media/l3q2zVr6cu95nF6O4/giphy.gif">
        </div>
    </div>

</main>





{% endblock %}