{% extends "layout.html" %} {% block page_title %} Charge is registered {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Charge registered</h1>
                <p class="font-medium">The charge ID is</p>
                <p><strong class="bold-large">LLC-7CLZU</strong>
                </p>

                <p>Keep this charge ID. You will need it to find the charge again.</p>

            </div>
            <p><a href="type-of-charge">Add another local land charge</a></p>

        </div>
    </div>

    <!-- <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Charge registered</h1>
                <p>
                    The charge reference number is 
                    <br>
                    <strong class="bold-large">LLC-7CLZU</strong>
                </p>
                <p>Keep this charge reference number. You need it to find the charge again.</p>
            </div>
            <p><a href="start-llc">Register another local land charge</a></p>
        </div>
    </div> -->


</main>
{% endblock %}