{% extends "layout.html" %} {% block page_title %} Charge is registered {% endblock %} {% block content %}

<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    <!-- main content starts -->
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight">
                <h1 class="bold-large">Charge registered</h1><br>
                <p class="font-medium">The charge ID is</p>
                <p><strong class="heading-xlarge">LLC-7CLZU</strong>
                </p>
                <p>Keep this Charge ID. You need it to find the Charge ID again.</p>
            </div>

            <p><a href="type-of-charge">Register another local land charge</a></p>

        </div>
    </div>
</main>
{% endblock %}