{% extends "layout.html" %} 
{% block page_title %} 
Land compensation
{% endblock %} 
{% block content %}

<main id="content" role="main">
  <!-- alpha banner -->
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong></p>
  </div>
  <!-- main content starts -->

<!--   <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">Land compensation </h1>

      <form action="document-link" method="GET">
        <fieldset>
          <legend class="visually-hidden form-label">Select land compensation law </legend>

          <div class="form-group">

            <label id="section84Label" class="block-label selection-button-radio" for="yesRef" data-target="referenceNumberForm1">
              <input id="yesRef" name="reference" type="radio" value="no" aria-controls="referenceNumberForm1">
              Section 8(4)
            </label>

            <label id="section52Label" class="block-label selection-button-radio no" for="noRef" data-target="referenceNumberForm2">
              <input id="noRef" name="reference" type="radio" value="yes">
              Section 52(8)
            </label>
          </div>

        </fieldset>

      </form>
      <p>
        <a class="button" id="landCompensationBtn" role="button" href="date-document-created">Continue</a>

      </p>

      <p id="back">
        <a href="type-of-charge" class="back-link">Back</a>
      </p>

    </div>

  </div> -->


  <div class="grid-row">
    <div class="column-two-thirds">

      <!-- <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">

        <h1 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
          There are errors on this page
        </h1>

        <p>You must choose one option to continue  </p>

        <ul class="error-summary-list">
          <li><a href="#section84Label">Choose one option </a></li>
        </ul>
      </div> -->

      <h1 class="heading-large">Land compensation </h1>
      
      <form action="#">

        <fieldset>
          <legend class="visually-hidden">Land compensation</legend>
          
          <div class="form-group">
          <!-- Add class form-group-error when error occurs on the page -->

            <label id="section84Label" class="block-label selection-button-radio form-label-bold" for="section84">

              <input id="section84" name="land-compensation" type="radio" value="Section 8(4)">
              Section 8(4)

              <!-- <span class="error-message"> Choose one option   </span> -->

              <span class="form-hint">
Your charge is a section 8(4) if an authority has bought land to do public works. No compensation will be paid to the landowner.</span>
              </label>

              <label id="section52Label" class="block-label selection-button-radio form-label-bold" for="Section52">
                <input id="Section52" name="land-compensation" type="radio" value="Section 52(8)">
                Section 52(8)
                
                <!-- <span class="error-message"> Choose one option  </span> -->

                <span class="form-hint">Your charge is a section 52(8) if you know the amount of compensation paid by the authority to a landowner, in exchange for using their land.

            </span>
                </label>
              </div>

            </fieldset>

            <p>
              <a class="button" id="land-compensation-btn" role="button" href="date-document-created">Continue</a>

            </p>

            <p id="back">
              <a href="type-of-charge" class="back-link">Back</a>
            </p>
          </form>
        </div>
      </div>

    </main>

    <script>
      var landCompensation = sessionStorage.getItem('landCompensation');
      console.log(landCompensation);
      if (landCompensation === 'true') {
        var chargeTypeToChange = sessionStorage.getItem('chargeTypeToChange');
        if (chargeTypeToChange === 'Section8(4)') {
          document.getElementById('section84Label').classList.add('selected');
        } else if (chargeTypeToChange === 'Section 52(8)') {
          document.getElementById('section52Label').classList.add('selected');
        } 

        document.getElementById('land-compensation-btn').setAttribute('href', 'date-document-created');
        sessionStorage.setItem('chargeTypeUpdated', 'true');
      }

      document.getElementById('land-compensation-btn').onclick = function() {
        var section84Label = document.getElementById('section84Label');


        var section52Label = document.getElementById('section52Label');

        if (section84Label.classList.contains('selected')) {
          var chargeType = 'Section8(4)';
  // Section8(4) journey radio button clicked   
  document.getElementById('land-compensation-btn').setAttribute('href', 'lc-section8-4');

} else if (section52Label.classList.contains('selected')) {
  var chargeType = 'Section 52(8)';
  // Section 52(8) journey radio button clicked   
  document.getElementById('land-compensation-btn').setAttribute('href', 'lc-section52-8');

}

sessionStorage.setItem('chargeType', chargeType);
}
</script>


{% endblock %}