{% extends "layout.html" %} 
{% block page_title %} 
What is the reference number for this charge? 
{% endblock %} 
{% block content %}


<main id="content" role="main">
    <!-- alpha banner -->
    <div class="phase-banner">
        <p><strong class="phase-tag">BETA</strong></p>
    </div>
    <!-- main content starts -->

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">What is the reference number for this charge?</h1>

            <div class="panel panel-border-wide">
                <p>This is the reference number used by your organisation. You can use this to help you find this charge again.</p>
            </div>

            <form action="document-link" method="GET">

                <div class="form-group"></div>
                <fieldset>
                    <legend class="form-label-bold visually-hidden">Reference number</legend>
                    <label for="referenceNumber" class="form-label-bold">Reference number</label>
                    <input id="referenceNumber" class="form-control" type="text">
                    <br><br>

                    <label id="yesRefLabel" class="block-label selection-button-checkbox" for="noRef">
                       <input id="noRef" name="reference" type="checkbox" value="no" aria-controls="referenceNumberForm">
                       I don't have a reference number
                   </label>
               </fieldset>
           </form>

           <div class="form-group"></div>                    
           <a id="referenceNumberButton" class="button" href="document-link" role="button">Continue</a>


           <div class="form-group"></div>  
           <div id="back">
            <a href="/add_charge/v4-2/originating-authority-details" class="back-link">Back</a>
        </div>
    </div>
</div>
</main>

<!-- <script>
    var referenceIsChanging = sessionStorage.getItem('referenceIsChanging');
    if (referenceIsChanging === 'true') {
        var referenceToChange = sessionStorage.getItem('referenceToChange');
        document.getElementById('yesRefLabel').classList.add('selected');
        document.getElementById('referenceNumber').value = referenceToChange;
        document.getElementById('referenceNumberButton').setAttribute('href', 'charge-summary');
        sessionStorage.setItem('referenceUpdated', 'true');
    }

    document.getElementById('referenceNumberButton').onclick = function() {
        var yesRef = document.getElementById('yesRefLabel');
        var noRef = document.getElementById('noRefLabel');
        if (yesRef.classList.contains('selected')) {
            sessionStorage.setItem('referenceExists', 'true');
            var referenceNumber = document.getElementById('referenceNumber').value;
            sessionStorage.setItem('referenceNumber', referenceNumber);
        } else if (noRef.classList.contains('selected')) {
            sessionStorage.setItem('referenceExists', 'false');
        }
    }
</script> -->

{% endblock %}