{% extends "layout.html" %} {% block page_title %} Planning {% endblock %} {% block content %}

<main id="content" role="main">

    <div class="phase-banner-beta">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="../../feedback">feedback</a> will help us to improve it.</span>
        </p>
    </div>

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">What is the law for this charge?</h1>
        </div>

        <div class="column-two-thirds">
            <form action="#">

                <fieldset>
                    <legend class="visually-hidden">Select the legislation from the list below.</legend>
                    <div class="form-group">
                        <label id="conditionalPlanningConsentLabel" class="block-label selection-button-radio" for="conditionalPlanningConsent">
						<input id="conditionalPlanningConsent" name="legislation" type="radio" value="Conditional planning consent">
						Conditional planning consent
					</label>
                        <label id="section106Label" class="block-label selection-button-radio" for="section106">
						<input id="section106" name="legislation" type="radio" value="Section 106 agreement">
						Section 106 agreement
					</label>
                        <label id="article4Label" class="block-label selection-button-radio" for="article4">
						<input id="article4" name="legislation" type="radio" value="Article 4 direction">
						Article 4 direction 
					</label>
                        <label id="tpoLabel" class="block-label selection-button-radio" for="tpo">
						<input id="tpo" name="legislation" type="radio" value="Tree preservation order (TPO)">
						Tree preservation order (TPO)
					</label>
                        <label id="section52Label" class="block-label selection-button-radio" for="section52">
						<input id="section52" name="legislation" type="radio" value="Section 52 agreement">
						Section 52 agreement
					</label>
                        <label id="otherPlanningLabel" class="block-label selection-button-radio no" for="otherPlanning" data-target="otherPlanningList">
						<input id="otherPlanning" name="legislation" type="radio" value="Other planning charge" aria-controls="otherPlanning">
						Other planning charge
					</label>
                    </div>
                </fieldset>

                <div class="js-hidden panel panel-border-narrow" id="otherPlanningList" aria-hidden="true" style="display: none;">

                    <div class="form-group">
                        <label class="form-label" for="select-box">Select legislation from the list</label>
                        <select class="form-control" id="select-box" name="select-box">
						<option>Highways Act 1980 (various sections)</option>
						<option>Localism Act 2011 (Part 5, Chapter 3): The Assets of Community Value (England) 2012 SI 2012 No. 242</option>
						<option>New Towns Act 1981: Order by Secretary of State - s.10 or s.11 (CPO by a Development Corporation)</option>
						<option>Part 8 Regulation 66 Community Infrastructure Levy Regulations 2010</option>
						<option>Part XI Highways Act 1980 (under code of 1875)</option>
						<option>s.106 Town and Country Planning Act 1990</option>
						<option>s.107 Building Act 1984</option>
						<option>s.107(9) Housing Act 1996</option>
						<option>s.11(1) Opencast Coal Act 1958</option>
					</select>
                    </div>

                    <p class="heading-extra-small">OR</p>


                    <div class="form-group">
                        <fieldset class="inline">
                            <legend class="visuallyhidden">Planning description</legend>
                            <label class="form-label" for="planDesc">
							Planning description
						</label>
                            <textarea class="form-control form-control-3-4" name="planDesc" id="planDesc" rows="5"></textarea>
                        </fieldset>
                    </div>
                </div>
                <div class="form-group">
                    <a id="planningLegislationButton" class="button" href="date-document-created" role="button">Continue</a>

                </div>
            </form>
        </div>

        <!-- NOTE: Custom CSS top margin needs to be -100px; to align this section -->
        <!--<div class="column-one-third payment-info-box">
            <h2 class="heading-small">Can't find the law you need?</h2>
            <ul role="navigation" class="list">
                <li>
                    <a href="#">Search all local land charge laws</a>
                </li>
            </ul>
        </div> -->
    </div>
</main>
<script>
    document.getElementById('planningLegislationButton').onclick = function() {
        var conditionalPlanningConsentLabel = document.getElementById('conditionalPlanningConsentLabel');
        var section106Label = document.getElementById('section106Label');
        var article4Label = document.getElementById('article4Label');
        var tpoLabel = document.getElementById('tpoLabel');
        var section52Label = document.getElementById('section52Label');
        var otherPlanningLabel = document.getElementById('otherPlanningLabel');
        if (conditionalPlanningConsentLabel.classList.contains('selected')) {
            var planningType = 'Conditional Planning Consent';
        } else if (section106Label.classList.contains('selected')) {
            var planningType = 'Section 106 Agreement';
        } else if (article4Label.classList.contains('selected')) {
            var planningType = 'Article 4 Direction';
        } else if (tpoLabel.classList.contains('selected')) {
            var planningType = 'Tree preservation order (TPO)';
        } else if (section52Label.classList.contains('selected')) {
            var planningType = 'Section 52 agreement';
        } else if (otherPlanningLabel.classList.contains('selected')) {
            var planningType = 'Other planning charge'
        }

        sessionStorage.setItem('planningType', planningType);
        sessionStorage.setItem('planningTypeSelected', 'true');
    }
</script>
{% endblock %}