{% extends "layout.html" %} 
{% block page_title %} 
Enter Section 52(8) details
{% endblock %} 
{% block content %}

<main id="content" role="main">
  <!-- alpha banner -->
  <div class="phase-banner">
    <p><strong class="phase-tag">BETA</strong></p>
  </div>
  <!-- main content starts -->

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-large">
        <!-- <span class="heading-secondary">Section 52(8)</span> -->
        How is the land owned? 
      </h1>

      <form action="document-link" method="GET">
        <fieldset>
          <legend class="visually-hidden form-label">How is the land owned? </legend>

          <div class="form-group">

            <label id="freehold-label" class="block-label selection-button-radio" for="freehold">
              <input id="freehold" name="extent" type="radio" value="no"> Freehold
            </label>

            <label id="leasehold-label" class="block-label selection-button-radio" for="leasehold">
              <input id="leasehold" name="extent" type="radio" value="no"> Leasehold
            </label>


            <label id="yesExpiryLabel" class="block-label selection-button-radio no" for="yesExpiry" data-target="chargeExpires">
              <input id="yesExpiry" name="extent" type="radio" value="yes" aria-controls="chargeExpires">
              Something else
            </label>

            <div class="js-hidden panel panel-border-narrow" id="chargeExpires" aria-hidden="true" style="display: none;">

              <fieldset>
                    <legend class="visually-hidden form-label">Describe something else</legend>

                    <label class="form-label" for="textarea">Describe how the land is owned </label>

                    <textarea class="form-control form-control-3-4" name="textarea" id="whatDoesChargeDo" rows="5"></textarea>
                    <p><span class="form-hint">Answer must be shorter than 400 characters (about 60 words)</span></p>
                </fieldset>

              <br>

            </div>


          </div>
        </fieldset>

      </form>
      <p>
        <a class="button" id="landCompensationBtn" role="button" href="amount-of-compensation">Continue</a>

      </p>

      <p id="back">
        <a href="/add_charge/v4-4/land-compensation" class="back-link">Back</a>
      </p>

    </div>

  </div>
</main>

<script>
  var chargeTypeIsChanging = sessionStorage.getItem('chargeTypeIsChanging');
  console.log(chargeTypeIsChanging);
  if (chargeTypeIsChanging === 'true') {
    var chargeTypeToChange = sessionStorage.getItem('chargeTypeToChange');
    if (chargeTypeToChange === 'Planning') {
      document.getElementById('section84Label').classList.add('selected');
    } else if (chargeTypeToChange === 'Financial') {
      document.getElementById('financialLabel').classList.add('selected');
    } else if (chargeTypeToChange === 'Listed Building') {
      document.getElementById('listedBuildingLabel').classList.add('selected');
    } else if (chargeTypeToChange === 'Land Compensation') {
      document.getElementById('landCompensationLabel').classList.add('selected');
    } else if (chargeTypeToChange === 'Other') {
      document.getElementById('otherLabel').classList.add('selected');
    }

    document.getElementById('landCompensationBtn').setAttribute('href', 'charge-summary');
    sessionStorage.setItem('chargeTypeUpdated', 'true');
  }

  document.getElementById('landCompensationBtn').onclick = function() {

    var section84Label = document.getElementById('section84Label');
    var listedBuildingLabel = document.getElementById('listedBuildingLabel');
    var landCompensationLabel = document.getElementById('landCompensationLabel');
    var otherLabel = document.getElementById('otherLabel');
    if (financialLabel.classList.contains('selected')) {
      var chargeType = 'Financial';

            // financial journey radio button clicked   
            document.getElementById('landCompensationBtn').setAttribute('href', 'financial-charge/secured-charge-amount');


          } else if (section84Label.classList.contains('selected')) {
            var chargeType = 'Planning';
          } else if (listedBuildingLabel.classList.contains('selected')) {
            var chargeType = 'Listed Building';
          } else if (landCompensationLabel.classList.contains('selected')) {
            var chargeType = 'Land Compensation';

            // Land compensation journey radio button clicked   
            document.getElementById('landCompensationBtn').setAttribute('href', 'land-compensation');

          } else if (otherLabel.classList.contains('selected')) {
            var chargeType = 'Other';
          }

          sessionStorage.setItem('chargeType', chargeType);
        }
      </script>

      {% endblock %}